@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;

.OneToFourAndFiveAndSixSlide{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 30vh);
    grid-template-areas:
            "img1 img2"
            "img1 img3";

    .img1, .droppable1 {
        grid-area: img1;
    }

    .img2, .droppable2 {
        grid-area: img2;
    }

    .img3, .droppable3 {
        grid-area: img3;
    }

    img{
        height: 100%;
        width: 100%;
        max-height: 100%;
    }
}
