@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;

.OneToFourAndFiveAndSixSlide{
  @include mut.art-slide-grid($rows: 2);
  @include mut.images-grid-area($to:3);

  grid-template-columns: 2fr 1fr;
  grid-template-areas:
            "img1 img2"
            "img1 img3";
}
