@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;

.OneToFourAndFiveAndSixSlide{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-height: 100%;

    img{
        height: 100%;
        width: 100%;
        max-height: 100%;
    }
}
