.sourcesSliderItem{
    background-image: url("/src/assets/images/Articles.png");
    display: flex;
    align-items: center;
    justify-content: center;

    height:250px;
    width:380px;
    border-radius: 30px;
}

.sourcesSliderItem h1{
    color:white;
    font-weight: 500;
}