@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use '@sass/variables/variables.fonts' as ft;
@use '@sass/variables/variables.colors' as c;

.statisticsContainer{
  @include mut.sized(428px, 262px);
  @include mut.positioned-as(absolute, 636px, 0, 0, 150px);
  @include mut.rem-padded(5px, 5px, 5px, 5px);
  background: c.$pure-white-color;
  z-index: 2;
  border: 3px solid #787878;
  box-shadow: 0px 7px 11px 2px rgba(0, 0, 0, 0.25);
  border-radius: 23px;

  h1{
    @include mut.with-font(ft.$roboto-font, 500, 22px, normal);
    line-height: 26px;
    @include mut.rem-padded(20px, 20px, 0, 20px);
    color: c.$accented-red-color;
  }

  .streetsBlock{
    @include mut.rem-padded($top:10px);
    width:100%;
    p{
      @include mut.flexed($direction:row, $gap:5px);
      @include mut.with-font(ft.$roboto-font, 300, 20px, normal);
      line-height: 134.19%;
      color: c.$lighter-black-color;
      padding-left: f.pxToRem(20px);
    }
    span{
      @include mut.with-font($font-weight:500, $font-size:22px);
      color: c.$accented-red-color;
    }
  }
}