@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.searchMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .searchMenuElement {
        display: inline-block;
        margin-right: 0;
        flex-grow: 1;
    }

    .status_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1px;

    }

    .ant-select-selector {
        height: 40px !important;
        border-color: c.$accented-red-color;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-select-selection-placeholder {
            color: #000;
        }

        &:hover {
            border-color: c.$accented-red-color;
        }

        &:focus-within {
            border-color: c.$accented-red-color;

            .ant-select-selection-placeholder {
                color: c.$accented-red-color !important;
            }
        }

    }

    .ant-input-affix-wrapper {
        width: 500px;
        height: 40px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        border: 2px solid c.$slider-base-dot-color;
    }

    .ant-select-selector,
    .ant-input-affix-wrapper,
    .ant-input-number {
        font-size: 16px;

        &:hover {
            border-color: c.$accented-red-color;
        }

        &:focus-within {
            border-color: c.$accented-red-color;
        }
    }

    .Button {
        height: 40px !important;
        width: 100%;
        min-width: 142px;
        height: 35px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        background-color: c.$accented-red-color;
        border-color: c.$accented-red-color;
        color: c.$pure-white-color;

        &:hover {
            border-color: c.$dark-red-color;
            background-color: c.$dark-red-color;
        }
    }
}

.actionButton {
    margin-right: 10px;

    &:hover {
        color: c.$dark-red-color;
        cursor: pointer;
        transform: scale(1.2);
    }
}

.ant-select-dropdown {
    border: 1px solid c.$accented-red-color ;
    text-align: center;
    margin: 0 ;
    width: 150px;
    max-width: none;
    min-width: 150px !important;
    padding: 0;
}
.ant-select-item{
    color: #891F16 !important;
    padding: 0;
    margin: 0;
    width: 100% !important;
    border-bottom: 1px solid #E04031 !important;
    border-radius: 0 !important;
}
.ant-select-item:hover{
        color: #891F16 !important;
}
.ant-select-item-option-selected {
    color: #E04031 !important;
    background-color: white  !important;
}

.ant-select-arrow {
    color: #000 !important;
    transition: transform 0.3s ease;
}

.ant-select-open .ant-select-arrow {
    transform: rotate(180deg) !important;
}

.ant-select-open .ant-select-selection-placeholder  {
    color: #E04031 !important;
}
.ant-select-open .ant-select-selection-item{
    color: #E04031 !important;
}