@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.StreetcodeTableWrapper {
    @include mut.sized(81%);
    overflow: hidden;
    float: right;

    .ant-btn-primary:disabled {
        background-color: c.$lighter-gray-color;
        color: c.$pure-white-color;
    }

    .ant-btn-default {
        border-color: c.$accented-red-color;
    }

    .ant-dropdown-trigger{
        &:hover{
            color: c.$accented-red-color;
        }
    }
}

.actionButton {
    margin-right: 10px;
    color: c.$dark-red-color;
    transition-property: scale;
    transition-duration: .2s;

    &:hover {
        cursor: pointer;
        scale: 1.2;
    }
}

.ant-table table {
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 18px);
}

.ant-table-tbody>tr>td {
    &:hover {
        cursor: pointer;
    }

    &:active {
        size: 1.3;
    }
}

.ant-pagination-item-active {
    color: white;
    border: 1px solid #891F16 !important;
}

.underTableElement {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    margin-right: 30px;
    justify-content: space-between; 
    align-items: center;

    .paginationElement,
    .pageAmountElement {
        @include mut.with-font($font-size: 16px);

        &:hover {
            border-color: c.$accented-red-color;
        }

        &:focus-within {
            border-color: c.$accented-red-color;
        }
    }

    .paginationElement {
        align-items: center;
        float: right;
    }

    .pageAmountElement {
        float: right;
    }
    .PaginationSelect {
        margin-left: 10px;
        font-family: ft.$roboto-font !important;
        align-items: center;
        justify-content: center;
        float: right;
        display: flex;
        gap: 10px;
        font-size: 16px;
        color: c.$dark-red-color;
    }
    
}
.PaginationSelect .ant-dropdown-trigger {
    color: c.$dark-red-color;
}
.PaginationSelect .ant-btn-default
{
    border-color: c.$dark-red-color;
    width: 56px;
    height: 29px;
}
