@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.progressBarContainer,
.progressBarContainer svg,
.progressBarPopupContainer {
  @include vnd.vendored(transition, 'all .6s ease-out');
}

.progressBarContainer {
  @include mut.sized(74px, 43px);
  @include mut.positioned-as(fixed, $bottom: 0, $left: 60px);

  @include mut.flex-centered();
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: c.$accented-gray-color;
  box-shadow: 3px 2px 5px 0 #43434340;
  @include mut.outlined();

  &:hover {
    background-color: c.$lighter-gray-color;
    cursor: pointer;
  }

  .progressBarPopupContainer {
    position: absolute;
    @include mut.sized(93px);

    @include mut.flex-centered();
    @include mut.full-rounded(20px, $overflow: visible);
    @include mut.rem-padded($top:30px, $bottom:30px);

    background-color: c.$pure-white-color;
    box-shadow: 0 2px 15px 0 #B0B0B040;

    @include vnd.vendored(transform, 'translateY(300px)');

    &.visible {
      @include vnd.vendored(transform, 'translateY(-300px)');
    }
  }

  .progressBarPopupContent {
    @include mut.flex-centered($direction: column, $gap: 31px);

    .progressBarDashedFill {
      height: 80%;
      position: absolute;
      border-left: 2px dashed #ADADAD;
    }

    .progressBarSection {
      @include mut.sized(18px, 18px);
      @include mut.flex-centered();
      z-index: 10;

      background-color: c.$pure-white-color;
      border: 2px solid c.$lighter-gray-color;
      @include vnd.vendored(transform, 'rotate(45deg)');

      &.active {
        @include mut.sized(32px, 32px);
        border-width: 3px !important;
      }

      &:hover {
        background-color: c.$accented-gray-color;
        scale: 1.2;
      }

      a {
        @include mut.flex-centered();
        @include mut.parent-sized();
        @include mut.with-font($font-weight: 300, $font-size: 14px);
        @include vnd.vendored(transform, 'rotate(-45deg)');
        color: c.$pure-black-color;
      }
    }
  }

  .progressBarProgressFill {
    @include mut.sized(2px, 80%);
    @include mut.positioned-as(absolute, $top: 10%);
    @include vnd.vendored(transform, 'rotate(0)');
  }
}

/*@keyframes bounce {
  0%, 100%, 20%, 50%, 80% { @include vnd.vendored(transform, 'translateY(0)') }
  40% { @include vnd.vendored(transform, 'translateY(-30px)') }
  60% { @include vnd.vendored(transform, 'translateY(-15px)') }
}
 */