@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as *;


.margin-82px {
  margin-top: pxToRem(82px);
}

.mainStreetcodeBlock {
  @include mut.flex-centered();
  @include mut.bg-image('@assets/images/background.png');
}

.font-weight-500 {
  font-weight: 500;
}

.mainContainer {
  width: pxToRem(1300px);
  position: relative;
}

.breadcrumbContainer {
  @include mut.with-font($font-weight: 300, $font-size:12px);
  position: absolute;
  top: pxToRem(34px);
  right: pxToRem(50px);
}

.ant-breadcrumb .ant-breadcrumb-separator {
  margin-inline: 5px !important;
}

.ant-breadcrumb a {
  color: c.$dark-red-color;
}

.separator {
  display: inline-block;
  @include mut.sized(4px, 4px);
  background-color: c.$dark-red-color;
  margin-bottom: pxToRem(2px);
}

.breadcrumbItem {
  color: c.$dark-red-color;
}

.streetcodeImg {
  padding: pxToRem(25px);
}

.mainContent {
  @include mut.sized(1300px, 800px);
  @include mut.flex-centered();
  margin-top: pxToRem(34px);
}

.card {
  @include mut.sized(1200px, 697px);
  background-color: c.$pure-white-color;
  @include mut.full-rounded(50px);
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}

.leftSider {
  @include mut.sized(42.5%, 697px);
  @include mut.full-rounded(50px);
  background-color: c.$pure-white-color;
  justify-self: flex-start;
}

.leftSiderContentContainer {
  padding: pxToRem(20px);
  @include mut.parent-sized();
}

.leftSiderContent {
  background-color: c.$accented-gray-color;
  @include mut.full-rounded(30px);
  @include mut.parent-sized();
  @include mut.flex-centered();
}

.rightSider {
  @include mut.sized(57.5%, 697px);
  @include mut.flex-centered();
  justify-self: flex-end;
}

.streetcodeIndex {
  @include mut.rem-padded(5px, 10px, 10px, 4px);
  color: c.$dark-red-color;
  @include mut.with-font($font-weight: bolder);
}

.streetcodeTitle {
  @include mut.rem-padded(7px, 10px, 7px, 4px);
  @include mut.with-font(ft.$closer-text-font, $font-weight: 600, $font-size: 36px);
}

.streetcodeDate {
  @include mut.rem-padded(7px, 10px, 13px, 4px);
  font-size: pxToRem(20px);
}

.headerContainer {
  @include mut.sized(1016px, 697px);
  @include mut.flex-centered();
  margin: pxToRem(50px);
}

.teaserBlock {
  width: pxToRem(569px);
  @include mut.rem-padded(13px, 0, 18px, 3px);
  color: c.$lighter-black-color;
  @include mut.flexed($align-items: flex-start, $gap: 26px);
  @include mut.with-font($font-weight: 300);
  line-height: 23px;
}

.bottomBtns {
  @include mut.rem-padded(18px, 10px, 10px, 3px);
  @include mut.flexed($justify-content: flex-start, $gap: 20px);
}

.hearTextBtn {
  @include mut.sized(271px, 73px);
  @include mut.with-font($font-weight: 500);
  @include mut.flex-centered();
  border-color: c.$accented-red-color;
  @include mut.full-rounded(14px);
  background-color: c.$accented-red-color;

  &:hover {
    border-color: c.$dark-red-color;
    background-color: c.$dark-red-color;
  }
}

.animateFigureBtn {
  @include mut.sized(218px, 73px);
  @include mut.with-font($font-weight: 500);
  border-color: c.$accented-red-color;
  border-width: 3px;
  @include mut.flex-centered();
  @include mut.full-rounded(14px);
  color: c.$accented-red-color;

  &:hover {
    color: c.$dark-red-color;
    border-color: c.$dark-red-color;
  }
}

.playCircle {
  font-size: pxToRem(37px);
  margin-right: pxToRem(10px);
}