@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;

.loginModal {
  @include mut.sized(574px, 479px);

  &.ant-modal {
    .ant-modal-content {
      height: inherit;
      @include mut.flex-centered($direction: column);
      @include mut.full-rounded(70px, $overflow: visible);

      padding: 0 !important;
      box-shadow: 0 7px 11px 2px rgba(0, 0, 0, 0.25);
    }

    .ant-modal-close {
      @include mut.positioned-as(absolute, $left: 89%, $top: -25px);
      @include mut.circular(80px, c.$pure-white-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background-color: c.$modal-hover-color;
      }
      .ant-modal-close-x {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.loginModalContent {
  @include mut.flex-centered($direction: column, $gap: 15px);

  > * {
    @include mut.sized(288px, 73px);
    @include mut.full-rounded(14px);
    background-color: c.$accented-red-color;
    border: none;

    > * {
      @include mut.with-font($font-weight: 500);
      color: c.$pure-white-color;
      line-height: f.pxToEm(23.44px);
    }

    &:hover {
      background-color: c.$dark-red-color;
    }
  }
}