@use "@sass/mixins/utils.mixins" as mut;
@use "@sass/variables/variables.fonts" as ft;
@use "@sass/variables/variables.colors" as c;
@use "@sass/utils.functions" as f;

.forgotPasswordWrapper {
  @include mut.flexed($justify-content: center);
  @include mut.rem-margined(100px, 100px, 100px, 100px);

  .forgotPasswordTitleWrapper{
    @include mut.flexed(
        column,
        $align-items: flex-start,
        $justify-content: flex-start,
        $gap: 15px
    );

    .forgotPasswordTitle{
      @include mut.with-font(
        $font-family: ft.$roboto-font,
        $font-weight: 700,
        $font-size: 32px,
      );
      @include mut.colored($color: c.$lighter-black-color);
    }

    .forgotPasswordSubTitle{
      @include mut.with-font(
        $font-family: ft.$roboto-font,
        $font-weight: 400,
        $font-size: 20px,
      );
      line-height: f.pxToEm(20px);
      @include mut.colored($color: c.$normal-gray-color);
    }
  }

  .forgot-password-form {
    @include mut.full-rounded(60px);
    @include mut.colored($color: c.$lighter-black-color);
    box-shadow: 13px 13px 32px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    @include mut.sized(460px, auto);
    @include mut.rem-padded(48px, 60px, 48px, 60px);
    @include mut.flexed(column, $align-items: center, $gap: 32px);
  }

  .ant-form-item{
    @include mut.sized(100%, auto);
    margin: 0;
  }

  .ant-btn{
    @include mut.sized(100%, auto);
  }

  .emailInputField
  {
    @include mut.sized(100%, 50px);
    &:hover{
      border-color: c.$accented-red-color;
    }
    &:focus{
      border-color: c.$accented-red-color;
    }
  }

  .forgotPasswordButton{
    @include mut.sized(100%, 60px);

    p{
      @include mut.with-font($font-family: ft.$roboto-font,
      $font-weight: 600,
      $font-size: 16px,
      );
      color: c.$white-color;
    }
  }

  .navigationWrapper{
    @include mut.flexed(row, $align-items: center, $gap: 15px);
    cursor: pointer;
  }
}