@use "@sass/mixins/utils.mixins" as mut;
@use "@sass/variables/variables.fonts" as ft;
@use "@sass/variables/variables.colors" as c;
@use "@sass/utils.functions" as f;

.forgotPasswordResetWrapper {
  @include mut.flexed($justify-content: center);
  @include mut.rem-margined(100px, 100px, 100px, 100px);

  .forgotPasswordResetTitle{
    @include mut.with-font(
      $font-family: ft.$roboto-font,
      $font-weight: 500,
      $font-size: 24px,
    );
    @include mut.colored($color: c.$lighter-black-color);
    margin-bottom: 12px;
  }

  .forgot-password-reset-form {
    @include mut.full-rounded(60px);
    @include mut.colored($color: c.$lighter-black-color);
    box-shadow: 13px 13px 32px 0 rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    @include mut.sized(600px, auto);
    @include mut.rem-padded(60px, 60px, 60px, 60px);
    @include mut.flexed(column, $align-items: center, $gap: 15px);
  }

  .ant-form-item{
    @include mut.sized(100%, auto);
    margin: 0;
  }

  .ant-btn{
    @include mut.sized(100%, auto);
  }

  .forgotPasswordResetButton{
    @include mut.sized(100%, 65px);
    margin-top: 15px;
    margin-left: 0;

    p{
      @include mut.with-font(
        $font-family: ft.$roboto-font,
        $font-weight: 700,
        $font-size: 20px,
      );
      color: c.$white-color;
    }
  }
}