@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@media screen and (min-width:1025px){
    .slideArtGallery {
        @include mut.flex-centered($direction: column);
        flex-wrap: wrap;
        height: pxToRem(560px);

        &.width-1 {
            width: pxToRem(810px);
        }

        &.width-2 {
            width: pxToRem(1240px);
        }
    }

    .slideArtGalleryContainer {
        @include mut.flex-centered();
        margin-top: pxToRem(20px);
        width: 100%;
    }
}
@media screen and (max-width:1450px) {
    .slideArtGallery {
        height: pxToRem(476px);

        &.width-1 {
            width: pxToRem(688.5px);
        }

        &.width-2 {
            width: pxToRem(1054px);
        }
    }

}
@media screen and (max-width:1200px) {
    .slideArtGallery {
        height: pxToRem(378px);

        &.width-1 {
            width: pxToRem(546.8px);
        }

        &.width-2 {
            width: pxToRem(837px);
        }
    }

}

@media screen and (max-width:1025px) {

    .slideArtGallery {
        height: 21.5rem;
        align-content: center;
        &.width-1 {
            width: pxToRem(252px);
            
        }
    }
}
