@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.artGalleryContainer .blockHeadingWrapper{
    margin-bottom: pxToRem(10px);
}

.artGallerySliderContainer .sliderClass .slick-slider {
    width: 100%;

    .slick-dots {
        padding-right: pxToRem(16px);
        margin-top: pxToRem(-60px);
    }
}

.artGalleryWrapper {
    .artGalleryContainer {
        .artGalleryContentContainer {
            @include mut.flex-centered();
        }
    }

    .artGallerySliderContainer {
        width: pxToRem(1230px);
    }
}
@media screen and (max-width:1450px) {
    .artGalleryWrapper {
        .artGalleryContainer {
            .artGalleryContentContainer{
                .artGallerySliderContainer{
                    width: pxToRem(1045.5px);
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {//-32.5%
    .artGalleryWrapper {
        .artGalleryContainer {
            .artGalleryContentContainer{
                .artGallerySliderContainer{
                    width: pxToRem(830px);
                }
            }
        }
    }
}

@media screen and (max-width:1025px) {
    .artGalleryWrapper {
        .artGalleryContainer {
            .slick-list {
                margin-left: pxToRem(-10px);
            }
            .artGalleryContentContainer{
                .artGallerySliderContainer{
                    @include mut.sized(1025px, 100%);
                }
            }

        }
    }
}
