@use "@assets/sass/variables/_variables.colors.scss" as c;

.dayViewCard {
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

.events-scroll-container {
  max-height: 300px; 
  overflow-y: auto;
  padding-right: 10px; 
}

.event-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid c.$accented-red-color;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.event-year {
  font-size: 0.8rem;
}

.ant-card-head-title {
  text-align: center;
  text-transform: uppercase;
}
