@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.partners-page{
    @include mut.admin-page-base-layout();

    .container-justify-end{
        display: flex;
        justify-content: end;
    }
    .partners-page-container{
        @include mut.sized(80%);

        .partners-table-logo{
            max-width: 90%;
            height: f.pxToRem(40px);
            margin: 0;
            padding: 0
        }
        .partner-page-actions{
            display: flex;
            gap: f.pxToRem(30px);
        }
        .partner-links{
            @include mut.flexed(row, start,space-between, wrap, 4px);
        }
        .partners-table{
            margin-top: f.pxToRem(20px);
        }
        .partner-table-item-name{
            @include mut.flexed(row, start,flex-start, wrap, 4px);
        }
        .site-link{
            word-break: break-all
        }
    }
}
