@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.progressBarProgressFill {
  // @include mut.sized(2px);
  width: 2px;
  height: 80%;
  @include mut.positioned-as(absolute, $top: 10%);
  @include vnd.vendored(transform, 'rotate(0)');
}

.progressBarDashedFill {
  height: 80%;
  position: absolute;
  border-left: 2px dashed #ADADAD;
}