@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;



.slideArt {
    flex: pxToRem(80px);

    .small {
        width: pxToRem(380px);
        height: pxToRem(253px);
    }

    .medium {
        width: pxToRem(380px);
        height: pxToRem(536px);
    }

    .large {
        width: pxToRem(806px);
        height: pxToRem(536px);
    }
}

@media screen and (max-width:1450px) {
    .slideArt {
        .small {
            @include mut.sized(323px, 215px);
        }

        .medium {
            @include mut.sized(323px, 455.6px);
        }

        .large {
            @include mut.sized(709.4px, 455.6px);
        }
    }
}

@media screen and (max-width:1200px) {
    .slideArt {
        .small {
            @include mut.sized(256px, 170.7px);
        }

        .medium {
            @include mut.sized(256px, 361.8px);
        }

        .large {
            @include mut.sized(544.4px, 361.8px);
        }
    }
}


@media screen and (max-width:1025px) {

    .slideArt {
        flex: pxToRem(80px);
        margin-left: pxToRem(10px);

        .small {
            width: pxToRem(242px);
            height: pxToRem(161px);
            margin-bottom: pxToRem(10px);
        }

        .medium {
            width: pxToRem(242px);
            height: pxToRem(332px);
        }

        .large {
            width: pxToRem(242px);
            height: pxToRem(161px);
        }
    }
}


.artImageWrapper {
    position: relative;

    &:hover {
        cursor: pointer;

        .imgDataFull {
            visibility: visible;
            opacity: 1;
        }
    }

    .imgData {
        @include mut.sized(100%, 113px);
        @include mut.positioned-as($position: absolute, $bottom: 0);
        @include mut.colored($color: c.$pure-white-color, $bg-color: rgba(0, 0, 0, 0.5));
        visibility: hidden;
        opacity: 0;
        @include vnd.vendored(transition, 'all .5s ease');
        @include mut.rounded($bottom-right: 30px, $bottom-left: 30px);
        padding: pxToRem(11px) pxToRem(21px);
    }

    .imgTitle {
        @include mut.with-font();
        @include mut.rem-padded($bottom: 5px);
        @include mut.truncated();
    }

    .imgDescription {
        @include mut.with-font($font-size: 15px);
        @include mut.truncated();
    }

    .imgImg {
        border-radius: pxToRem(30px);
        height: 100%;
        object-fit: cover;
        width:100%;
    }
}
