@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;

.base-art-slide{
    position: relative;
    overflow: hidden;
    padding: pxToRem(30px);

    height: pxToRem(536px);
    width: pxToRem(1200px);

    max-height: 100%;
    max-width: 100%;

    gap: pxToRem(30px);
}

.base-art-image{
    border-radius: 50px;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.admin-options-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;

    .anticon-more{
        font-size: 20px;
    }
}

