@use "src/assets/sass/mixins/utils.mixins" as mut;
@use "src/assets/sass/variables/variables.colors" as c;

.recommendationContainer {
  @include mut.flexed($justify-content: flex-start, $gap: 10px);
  @include mut.rem-margined(16px, 0, 36px, 0);

  > * {
    @include mut.sized(150px, 132px);
    background-color: #D9D9D9;
    @include mut.full-rounded(10px);

    &:hover {
      border: 2px dotted c.$normal-gray-color;
      cursor: pointer;
    }
  }

  .ant-skeleton-image {
    @include mut.parent-sized();
  }
}