@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.readMore
{
    color: c.$dark-red-color;
    text-decoration: underline;
    cursor: pointer;
}
.readMore-block
{
    @include mut.rem-margined($top: 35px,$bottom: 50px);
}
.text-all{
    @include mut.rem-margined($bottom: 35px);
}