@use "@assets/sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.sizes.scss" as s;
@use "@app/common/components/CardText/CardText.styles" as textCard;

.vacancyContainer {
    display: flex;
    border-radius: 50px;
    padding: f.pxToRem(50px) f.pxToRem(74px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include textCard.cardText($title-max-lines: 1,
        $text-max-lines: 3);

    .cardTextContainer {
        padding: 0;

        &TopPart {
            gap: f.pxToRem(10px);
        }

        &Title {
            font-size: f.pxToRem(32px) !important;

            @media screen and (max-width: s.$tablet) {
                font-size: f.pxToRem(24px) !important;
            }
        }

        &SubTitle {
            color: c.$lighter-gray-color;
        }

        &Text {
            font-family: ft.$roboto-font !important;
            font-weight: 300 !important;

            @media screen and (max-width: s.$phone) {
                @include mut.truncated($line-num: 9);
            }
        }

        &Button {
            font-weight: 500;
            text-decoration: none;
        }

        p {
            @include mut.with-font($font-family: ft.$closer-text-font,
                $font-weight: 500,
                $font-size: 20px);

            @media screen and (max-width: s.$tablet) {
                $font-size: f.pxToRem(20px) !important;
            }
        }
    }

    @media screen and (max-width: s.$tablet) {
        padding: f.pxToRem(40px);
    }
}