@use "@sass/mixins/_utils.mixins.scss" as ut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
.timeline-admin-container{
    width:80% ;
    .timeline-admin-item{
        width: f.pxToRem(100px);
        @include ut.flex-centered();

        @include ut.full-rounded(11px);
        @include ut.rem-padded(8px, 10px, 8px, 10px);

        border: 2px solid c.$accented-red-color;
        @include ut.with-font($font-weight: bold, $font-size: 15px);
    }
    .timeline-admin-item-short-timeline{
        color: c.$accented-red-color;
        &:hover {
            color: c.$dark-red-color;
            border-color: c.$dark-red-color;
        }
    }
    .timeline-admin-add-new{
        color: #FFF;
        background-color: c.$accented-red-color;
        border: 2px solid c.$dark-red-color;
        &:hover{
            background-color: c.$dark-red-color;
        }
    }
    .timeline-admin-new-items-container{
        @include ut.flexed(row,center, nowrap,5px)
    }
    .ant-select-selection-item{
        background-color: c.$dark-red-color;
    }
}