@use '@sass/mixins/_utils.mixins.scss' as mut;
@use '@sass/variables/_variables.fonts.scss' as ft;
@use '@sass/variables/_variables.colors.scss' as c;
@use '@sass/_utils.functions.scss' as f;

.choose-timeline-item-block-label {
  display: flex;
  gap: 10px;
}

.submit-event-button {
  @include mut.sized(300px, 50px);
  @include mut.flex-centered();
  @include mut.full-rounded(12px);
  @include mut.with-font($font-weight: 400, $font-size: 16px);

  background-color: c.$accented-red-color;
  border-color: c.$accented-red-color;
  color: c.$pure-white-color;
  margin: 2rem 0;

  &:hover {
    border-color: c.$dark-red-color;
    background-color: c.$dark-red-color;
  }
}

.ant-form-item .ant-form-item-label > label {
  @include mut.with-font($font-size: 16px);
}
