
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@assets/sass/variables/_variables.layers.scss" as l;

$navbar-innerwidth: 500px; 
$navbar-hidden-innerwidth: 400px;

.HeaderBlock{
  .ant-popover-inner{
    @include mut.rem-padded(0, 6px, 0, 0);
  }
}

.navBarContainer {
  @include mut.flexed($justify-content: space-between, $align-items: center, $gap: 35px);
  @include mut.sized(100%, 82px);
  @include mut.rem-padded(21px, 32px, 21px, 32px);

  background-color: c.$pure-white-color;
  position: fixed;
  z-index: l.$modal;
  svg {
    
    &:hover {
      cursor: pointer;
    }
  }

  .ant-input,
  .ant-input-affix-wrapper {
    background-color: c.$accented-gray-color;
    border: none !important;
  }

  .ant-input:focus {
    outline: 1px none c.$input-outline-color;
  }

  .ant-input-prefix {
    height: 100%;
    margin: 0;
  }

  .ant-input-affix-wrapper {
    position: relative;
    height: f.pxToRem(39px);
    width: 100%;
    
    @include mut.full-rounded(12px);
    @include mut.rem-margined($right: 10px);

    svg {
      color: c.$selected-arrow-color;
      @include mut.rem-margined($right: 11px);
    }
  }
}

.leftPartContainer
{
    @include mut.sized(100%, auto);
    width: 100%;
    display: flex;
    align-items: center;
    gap: f.pxToRem(15px);

    .logoContainer{
      svg{
        @include mut.sized(167.79px, 29px);
      }
    }

    .searchHeaderSkeleton{
      @include mut.sized(100%, auto);
      @include mut.rem-margined($left: 10px);
    }
}
.rightPartContainer {
  @include mut.sizedImportant(auto, auto);
  @include mut.flexed($justify-content: flex-start, $align-items: center);
  .rightSectionContainer {
    @include mut.flexed($direction: row,
    $align-items: center,
    $justify-content: center,
    $wrap: nowrap,
    $gap: 15px);
    @include mut.sizedImportant(auto, auto);
    .participateButton {
      @include mut.sized(139.34px, 39px);
      @include mut.full-rounded(12px);
      background-color: c.$accented-red-color;

      > * {
        @include mut.with-font($font-weight: 500, $font-size: 18px);
      }

      &:hover {
        background-color: c.$dark-red-color;
      }
    }
  }
  .loginButton{
    @include mut.sized(77px, 37px);
    @include mut.full-rounded(12px);
    @include mut.colored(c.$accented-red-color, c.$white-color);
    border:  f.pxToRem(2px) solid c.$accented-red-color;

    > * {
      @include mut.with-font($font-weight: 500, $font-size: 18px);
    }

    &:hover {
      background-color: c.$milky-white-color;
    }
  }

  svg {
    @include mut.sized(30px, 30px);
    filter: invert(51%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(97%) contrast(93%);

    &:hover {
      filter: invert(27%) sepia(26%) saturate(0%) hue-rotate(201deg) brightness(96%) contrast(86%);
    }
  }
}

.hiddenNavBar {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%) !important;

  .ant-input-affix-wrapper,
  .participateButton {
    @include mut.hidden();
  }
  
  .burgerMenuContainer {
    @include mut.rem-margined(0);
  }
}

.searchPopover{
  width: calc(100vw - #{$navbar-hidden-innerwidth});
}

.searchPopoverSkeleton{
  width: calc(100vw - #{$navbar-innerwidth});
}

.hiddenHeaderInput {
  width: calc(100vw - #{$navbar-hidden-innerwidth});
  height: f.pxToRem(39px);

  @include mut.positioned-as(fixed, $left: 240px);
  @include mut.rem-padded($left: 10px);
  @include mut.full-rounded(12px);

  @include vnd.vendored(transition, 'transform 0.7s ease');
  transform: translateY(f.pxToRem(-200px));

  &.active {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) { 
  .navBarContainer {
    @include mut.sized($width: 100%, $height: 64px);

    @include mut.rem-padded(15px, 12px, 15px, 12px);

    .ant-input-affix-wrapper,
    .participateButton {
      @include mut.hidden(); 
    }
    
    .leftPartContainer {
        .logoContainer {
            height: f.pxToRem(24px);
            svg
            {
              @include mut.sized(131px, 22px);
            }
        }    
    }


    .rightSectionContainer{
      svg {
        @include mut.rem-margined($right: 15px);
        @include mut.sized(24px, 24px);

        &:hover {
          filter: invert(27%) sepia(26%) saturate(0%) hue-rotate(201deg) brightness(96%) contrast(86%);
        }
      }

      .burgerMenuContainer {
        @include mut.rem-margined(0);
        @include mut.sized(28px, 17.34px);
      }
    }

  }

  .hiddenNavBar {
    background: c.$pure-white-color;
  }

  .searchContainerMobile { 
    @include mut.sized(100%, 70px);
    @include mut.flexed($justify-content: space-between, $align-items: center);
    @include mut.rem-padded(0, 15px, 15px, 15px);
    

    position: fixed;
    z-index: l.$modal - 1;
    background-color: c.$pure-white-color;
    transform: translateY(f.pxToRem(-200px));
    @include vnd.vendored(transition, 'transform 0.7s ease');

    &.active {
      transform: translateY(f.pxToRem(64px));
    }
  
    .ant-input {
      @include mut.full-rounded(12px);
      padding: 12px;
      width: calc(100vw - f.pxToRem(100px));
      height: f.pxToRem(45px);
      margin-right: f.pxToRem(10px);
      background-color: c.$accented-gray-color;
      border: none;
      outline: none !important;

      &:focus {
        outline: 1px none c.$input-outline-color;
      }

      &::placeholder {
        color: c.$text-light-gray-color;
      }
    }

    .ant-btn-primary {
      box-shadow: none;
    }

    .searchButton {
      @include mut.full-rounded(12px);
      @include mut.sized(90px, 45px);
      background-color: c.$accented-red-color;
    }
  }

  .searchMobPopover {
    max-width: 100vw;
    .ant-popover-inner {
      margin-top: -10px;
      @include mut.rem-padded(0, 0, 0, 0);
    }
}
}
