
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

$navbar-innerwidth: 500px; 
$navbar-hidden-innerwidth: 370px;

.navBarContainer {
  @include mut.sized(100%, 82px);

  @include mut.flexed($justify-content: space-between, $align-items: center);
  padding: f.pxToRem(21px) f.pxToRem(32px);

  position: fixed;
  z-index: 6;

  background-color: white;

  svg {
    margin-right: f.pxToRem(34px);

    &:hover {
      cursor: pointer;
    }
  }

  .ant-input,
  .ant-input-affix-wrapper {
    background-color: c.$accented-gray-color;
  }

  .ant-input-prefix {
    height: 100%;
    margin: 0;
  }

  .ant-input-affix-wrapper {
    position: relative;
    border: none;
    height: 39px;
    width: calc(100vw - #{$navbar-innerwidth});

    @media screen and (max-width: 1815px) {
    max-width: 100%;
  }

    @include mut.full-rounded(12px);
    margin-right: f.pxToRem(10px);

    svg {
      color: c.$selected-arrow-color;
      margin-right: f.pxToRem(11px);
    }
  }
}

.leftPartContainer,
.rightPartContainer {
  @include mut.flexed($justify-content: space-between, $align-items: center);
}

.rightSectionContainer {
  @include mut.flexed($align-items: center);
  margin-left: f.pxToRem(20px);

  .loginBtn {
    @include mut.sized(142px, 39px);
    @include mut.full-rounded(12px);
    background-color: c.$accented-red-color;

    > * {
      @include mut.with-font($font-weight: 500, $font-size: 18px);
    }

    &:hover {
      background-color: c.$dark-red-color;
    }
  }

  svg {
    @include mut.sized(30px, 30px);
    @include mut.rem-margined($right: 8px, $top: 5px);
    filter: invert(51%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(97%) contrast(93%);

    &:hover {
      filter: invert(27%) sepia(26%) saturate(0%) hue-rotate(201deg) brightness(96%) contrast(86%);
    }
  }
}

.hiddenNavBar {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);

  .ant-input-affix-wrapper,
  .loginBtn {
    @include mut.hidden();
  }

  .burgerMenuContainer {
    margin: 0;
  }
}

.hiddenHeaderInput {
  width: calc(100vw - #{$navbar-hidden-innerwidth});
  height: 39px;

  @include mut.positioned-as(fixed, $left: 17%);
  @include mut.full-rounded(12px);

  @include vnd.vendored(transition, 'transform 0.7s ease');
  transform: translateY(f.pxToRem(-200px));

  &.active {
    transform: translateY(0);
  }
}