@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;


.mapBlockContainer{
 
  @include mut.rem-margined($top: 170px);
   @include mut.positioned-as(relative);
  .leaflet-container {
    z-index: 1;
  }
 
  
}
