@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use '@assets/sass/variables/_variables.fonts.scss' as ft;


.textComponentContainer {
    @include mut.sized(100%, auto);
}

.TextContainer {
    @include mut.sized(1200px, auto);
    @include mut.with-font($font-weight: 300, $font-size:20px);
    text-align: justify;
}
.textComponent {
    @include mut.flex-centered();
}
.videoComponent{
    margin-right: f.pxToRem(5px);
    margin-left: f.pxToRem(5px);
    overflow: hidden;
}
@media screen and (max-width: 1024px){
    .videoComponent{
        margin-bottom: f.pxToRem(20px);
    }
}
