@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use '@assets/sass/variables/_variables.fonts.scss' as ft;


.textComponentContainer {
    @include mut.sized(100%, auto);
}

.TextContainer {
    @include mut.sized(1200px, auto);
    @include mut.with-font($font-weight: 300, $font-size:20px);
    text-align: justify;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.textComponent {
    @include mut.flex-centered();
}
.videoComponent{
    margin-right: f.pxToRem(5px);
    margin-left: f.pxToRem(5px);
    overflow: hidden;
}

@media screen and (max-width: 1024px){
    .videoComponent{
        margin-bottom: f.pxToRem(20px);
    }
    .TextContainer{
        padding: 0rem 0.625rem 0rem 0.625rem !important;
    }

    .textComponentContainer {
        .blockHeadingContainer{
            position: relative;
            
            .bigTextComponent{
                position: absolute;
                max-width: 360px;

                left:  f.pxToRem(-25px);
                top: 1.1875rem;
            }
        }  
    }
}


@media screen and (max-width: 780px){
    .textComponentContainer {
        .blockHeadingContainer{
            .bigTextComponent{
                position: absolute;
                left:  f.pxToRem(-35px);
            }
        }  
    }
}