@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use '@assets/sass/variables/_variables.fonts.scss' as ft;


.textComponentContainer {
    @include mut.sized(100%, auto);
}

.TextContainer {
    @include mut.sized(1200px, auto);
    @include mut.rem-margined($top: 27px);
    //@include mut.with-font($font-family: ft.$roboto-light);
    @include mut.with-font($font-weight: 300, $font-size:20px);
}
.textComponent {
    @include mut.flex-centered();
}
.videoComponent{
    margin-bottom: f.pxToRem(50px);
    @include mut.full-rounded(50px);
    overflow: hidden;
}