@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;

.slick-slide {
    .teamItemSlider {

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-bottom: f.pxToRem(30px);
            margin-top: f.pxToRem(45px);
        }

        .itemTeam {
            @include mut.flexed(row, center, center, wrap);
            @include mut.rem-padded($top: 0px, $right: 0px, $bottom: 0px, $left: 0px);
            @include mut.sized(309px, 478px);
            @include mut.full-rounded(50px);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            line-height: f.pxToRem(23px);
            background-color: c.$pure-white-color;
            margin-left: f.pxToRem(20px);
        }

        .leftSlider {
            @include mut.full-rounded(53px);
            display: flex;
            justify-content: center;
            background-color: c.$pure-white-color;
            justify-self: flex-start;
        }

        .leftSliderContent {
            background-color: c.$pure-white-color;
            margin-top: f.pxToRem(10px);
            margin-left: f.pxToRem(10px);
            margin-right: f.pxToRem(10px);
            @include mut.full-rounded(50px);
            @include mut.flex-centered();
        }

        .teamImg {
            @include mut.sized(290px, 310px);
            overflow: visible !important;
            object-fit: cover;
        }

        .rightSlider {
            box-sizing: border-box;
            @include mut.flexed(column, start, start, nowrap);
            justify-self: flex-end;
            align-self: flex-start;
            width: min-content;
            flex: 1 1 auto;
            position: relative;
            height: f.pxToRem(148px);
        }

        .headerTeamContainer {
            @include mut.sized(100%, 148px);
            box-sizing: border-box;
            text-align: center;
        }

        .textContainer {
            height: f.pxToRem(148px) !important;
        }

        .teamItemTitle {
            @include mut.with-font(ft.$closer-text-font, $font-weight: 510, $font-size: 24px);
            @include mut.truncated($line-num: 2);
            color: c.$lighter-black-color;
            line-height: f.pxToRem(24px);
            margin-top: f.pxToRem(20px);
        }

        .teamItemDescription {
            width: 100%;
            @include mut.rem-margined(10px, 0px, 0px, 0px);
            @include mut.rem-padded(0px, 5px, 0px, 0px);
            line-height: f.pxToRem(20px);
            max-height: f.pxToRem(214px);
            overflow: auto;
            color: c.$lighter-black-color;
            @include mut.with-font($font-weight: 300, $font-size: 17px);
            @include mut.truncated($line-num: 2);

            &::-webkit-scrollbar {
                display: none;
            }

        }

        .teamLinkItems {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);

            .teamLinkItem {
                @include mut.rem-margined(0px, 0px, 0px, 12px);
                width: 24px;
                height: 24px;
            }

        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slick-slide:not(.slick-center) {
        .itemTeam {
            margin-top: f.pxToRem(18px);
            @include mut.sized(266px, 402px);
        }

        .leftSlider {
            @include mut.sized(250px, 338px);
        }

        .leftSliderContent {
            background-color: c.$pure-white-color;
            @include mut.full-rounded(50px);
            @include mut.flex-centered();
            @include mut.sized(100%, 398px);
            margin: f.pxToRem(8px);
        }

        .teamImg {
            @include mut.sized(250px, 338px);
            height: 100%;
            overflow: visible !important;
            object-fit: cover;
        }

        .rightSlider {
            padding-top: 0;
        }

        .teamItemTitle {
                margin-top: f.pxToRem(6px);
                margin-bottom: f.pxToRem(5px);
                @include mut.with-font(ft.$roboto-font, $font-weight: 510, $font-size: 12px);
                line-height: f.pxToRem(14px);
                padding: 0 10px;
        }

        .headerTeamContainer {
            .textContainer {
                @include mut.sized(100%, 100%);
                text-align: center;
            }
            @include mut.rem-padded(0px, 0px, 0px, 0px);
        }

        .teamItemDescription {
            color: c.$sliders-text-lighter-grey-color;
            @include mut.with-font(ft.$roboto-font, $font-weight: 300, $font-size: 12px);
            line-height: f.pxToRem(13px);
            width: 55%;
            text-align: center;
            margin: 0 auto 20px auto !important;
            word-wrap: break-word;
        }

        .teamLinkItems {
            display: none;
        }

    }
}
