@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.partnersSticky .sticky-content{
    right: 30px;
}

.partnersContainer{
    position: relative;
    
    width: 100vw;
    height: 100%;
    
    padding: f.pxToRem(112px) f.pxToRem(10px) f.pxToRem(110px) f.pxToRem(10px);

    @include mut.bg-image('@assets/images/partners/background.png');
    background-attachment: fixed;

    .wrapper{
        max-width: f.pxToRem(1200px);
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .subTitle{
        @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 20px);
        line-height: 26px;
        color:  c.$lighter-black-color; 
    }

    .subTitle.titleBottom{
        white-space: nowrap;
        margin-bottom: f.pxToRem(30px);
    }
    .buttonsBlock{
        @include mut.flexed($justify-content: center, $gap: 20px);

        .button-sized{
            @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 500, $font-size: 20px);
            @include mut.full-rounded(14px); 
            padding: f.pxToRem(24.5px) f.pxToRem(26.25px);
            box-shadow: 0px 4px 4px rgba(219, 52, 36, 0.18);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1200px) {
    .partnersContainer{
        .subTitle.titleBottom{
            white-space: normal;
        }
    }
}

@media screen and (max-width: 1024px) {
    .partnersContainer{
        background-color: c.$partners-mobile-background-color;
        background-image: none;
        padding-bottom:  f.pxToRem(20px);
        padding-top: f.pxToRem(94px);

        .buttonsBlock{
            @include mut.flexed($justify-content: center, $gap: 12px);
        }

        .subTitle{
            @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 14px);
        }
    }
}

@media screen and (max-width: 670px) {
    .partnersContainer{
        .buttonsBlock{
            .button-sized{
                @include mut.full-rounded(10px);
                @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 500, $font-size: 14px);
                padding: 0;
                min-height: f.pxToRem(46px);
            }
            @include mut.flexed($justify-content: center, $direction: column, $gap: 12px);
        }
    }
}


