@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

.partnersContainer{
    position: relative;
    top: f.pxToRem(82px);
    background: #fffcfc;
    width: 100vw;
    height: 100vh;
    padding: f.pxToRem(30px) f.pxToRem(10px) f.pxToRem(10px) f.pxToRem(10px);
    
    .wrapper{
        max-width: f.pxToRem(1200px);
        width: 100%;
        margin: 0 auto;
    }

    .subTitle{
        @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 20px);
        line-height: 26px;
        color:  #1D1F23; 
    }
}