@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/_utils.functions.scss" as fnc;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/_utils.functions.scss" as f;


$bookImg: "@assets/images/sources/Books_stretched.png";
$articlesImg: "@assets/images/sources/Articles.png";

.relatedFiguresModal {
  @include mut.sizedImportant(1000px, 698px);

  &.ant-modal {
    .ant-modal-content {
      height: pxToRem(698px);
      @include mut.full-rounded(70px, $overflow: visible);

      padding: 0 !important;
      box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
                  0 6px 20px 0 rgb(0 0 0 / 19%);
    }

    .ant-modal-close {
      @include mut.positioned-as(absolute, $left: 93%, $top: -25px);
      @include mut.circular(80px, c.$pure-white-color);
      display: inline;

      &:hover {
        background-color: c.$modal-hover-color;
      }
      span.ant-modal-close-x{
        max-height: f.pxToRem(28px);
      }
    }
  }
}

.relatedFiguresImgContainer {
  @include mut.sized(100%, 97px);
  @include mut.flex-centered();
  @include mut.rounded($top-left: 70px, $top-right: 70px);

  h1 {
    color: c.$pure-white-color;
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 40px);
  }
}

.relatedFiguresReadMoreContentContainer {
  height: pxToRem(598px);
  @include mut.flexed($direction: row, $gap: 30px, $wrap: wrap);

  overflow-y: scroll;
  @include mut.rem-margined(0, 21px, 0, 53px);
  @include mut.rem-padded(30px, 0, 30px, 3px);

   .relatedFigureSlide:hover {
      @include mut.sized($width: 278px, $height: 380px);
      border: 3px solid c.$pure-white-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-size: 100%;
      background-repeat: no-repeat;

      @include mut.positioned-as();
      @include mut.flexed($justify-content: center, $align-items: flex-end);
      @include vnd.vendored(transition, 'all .5s ease');
      cursor: pointer;
      overflow: visible !important;

      .figureSlideText{
        @include mut.sized($width: 278px, $height: 97px);
        @include mut.flexed($align-items: flex-start, $wrap: wrap);
      }
      .relatedTagList {
        animation: fadeIn 1s;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);   
        z-index: 10 !important;
        position: absolute;
        width: 53% !important;
        left: 145px;
        top: 58px;
        justify-content: center;
        // Can be usefull in future editing -> @include mut.rem-padded($left: 8px, $top: 10.5px, $right: 4px, $bottom: 10.5px);
        @include mut.rem-padded($left: 15px, $top: 10px, $right: 15px, $bottom: 10px);

        background-color: c.$pure-white-color;
        border-radius: 20px;

        visibility: visible;

        .tag {
          @include mut.sized($height: 28px);
          @include mut.flex-centered();
          gap: 0 !important;
          border: 2px solid c.$dark-red-color;
          @include mut.full-rounded($rad: 7.86px);
          @include mut.rem-margined($left: 1.5px, $top: 1.5px, $right: 1.5px, $bottom: 2px);

          p {
            @include mut.sized($height: 14px);
            text-align: center;
            line-height: 135.69%;
            @include mut.with-font($font-size: 10px,$font-weight: 500);
            line-height: pxToRem(13.6px);
            color: c.$dark-red-color;
          }
         }
        // Triangle
        &::after {    
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -3em;
          bottom: -25px;
          left: 50%;
          box-sizing: border-box;
          z-index: -1 !important;
          border: 1em solid black;
          border-color: transparent transparent #FFFFFF #FFFFFF;       
          transform-origin: 0 0;
          transform: rotate(-45deg);
          box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.25);
        }  
      } 
   }

  &::-webkit-scrollbar {
    width: .765rem;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    @include mut.full-rounded(15px);
  }

  &::-webkit-scrollbar-thumb {
    background: c.$card-scrollbar-track-color;
  }

  &::-webkit-scrollbar-track {
    background: c.$accented-gray-color;
    @include mut.rem-margined($top: 37px, $bottom: 90px);
  }
}