@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;

.relatedFiguresWrapper {
    @include mut.sized($height: 656px);
    @include wr.main-page-block-wrapper();
    @include mut.rem-margined($bottom: 50px, $top: 170px);
}

.smallWrapper {
    .slick-track {
        @include mut.rem-margined();

        .slick-cloned {
            display: none;
        }
    }

    .moreInfo {
        display: none;
    }
}

.relatedFiguresContainer {
    @include mut.sized($width: 90%, $height: 100%);
    @include mut.flexed($direction: column, $align-items: center);

    .moreInfo {
        @include mut.sized($width: 1200px);
        padding-top: f.pxToRem(43px);

        p {
            @include mut.with-font($font-weight: 500, $font-size: 20px);
            line-height: f.pxToEm(25px);
            text-decoration-line: none;
            color: c.$dark-red-color;

            cursor: pointer;

            &:hover {
                text-decoration-line: underline;

                filter: contrast(150%);
            }
        }
    }
}

.relatedFiguresSliderContainer {
    @include mut.sized($width: 1216px);

    .slick-arrow {
        top: f.pxToRem(213px);
    }

    .slick-list {
        @include mut.rem-padded($bottom: 4px);
    }

    .slick-track {
        @include mut.flexed($justify-content: center, $align-items: flex-start, $gap: 28px);
    }
}