@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;

$moreInfo-width: 150px;

.relatedFiguresWrapper {
    @include wr.main-page-block-wrapper();
}

.smallWrapper {
    .slick-track {
        @include mut.rem-margined();

        .slick-cloned {
            display: none;
        }
    }

    .moreInfo p {
        color: c.$pure-white-color;
    }
}

.relatedFiguresContainer {
    @include mut.sized($width: 90%, $height: 100%);
    @include mut.flexed($direction: column, $align-items: center);
}

.headingWrapper {
    position: relative;
}

.moreInfo {
    position: absolute;
    bottom: f.pxToRem(70px);
    left: f.pxToRem(455px);
    width: $moreInfo-width;
    p {
        @include mut.with-font($font-weight: 500, $font-size: 20px);
        line-height: f.pxToEm(25px);
        text-decoration-line: none;
        color: c.$dark-red-color;
        width: inherit;

        cursor: pointer;

        &:hover {
            text-decoration-line: underline;

            filter: contrast(150%);
        }
    }
}

.relatedFiguresSliderContainer {
    @include mut.sized($width: 1216px);

    .slick-arrow {
        top: f.pxToRem(213px);
    }

    .slick-list {
        @include mut.rem-padded($bottom: 4px);
    }

    .slick-track {
        @include mut.flexed($justify-content: center, $align-items: flex-start, $gap: 28px);
    }
}

@media screen and (max-width: 481px) {
    .relatedFiguresWrapper {
        .slick-dots {
            bottom: 0;
            left: 7px;
        }
        .slick-track {
            @include mut.flexed($align-items: flex-start, $gap: 10px);
        }
        .slick-slide {
            width: 165px !important;
            
            &.slick-active.slick-current {
                transform: translateX(0px) !important;
            }
        }
        
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    .relatedFiguresWrapper {
        @include mut.sized($height: 400px);
    }
}

@media screen and (max-width: 1024px) {
    .relatedFiguresSliderContainer {
        width: 100vw !important;

        .slick-track {
            @include mut.flexed($align-items: flex-start, $gap: 10px);
            @include mut.rem-margined($left: 10px);
        }
        .slick-arrow {
            display: none;
            visibility: hidden;
        }
    }

    .moreInfo p {
        color: c.$pure-white-color;
    }
}