@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;

$moreInfo-width: 150px;

.relatedFiguresWrapper {
    @include mut.sized($height: 700px); 
    @include wr.main-page-block-wrapper();
    @include mut.rem-margined($bottom: 50px, $top: 170px);
}

.smallWrapper {
    .slick-track {
        @include mut.rem-margined();

        .slick-cloned {
            display: none;
        }
    }

    .moreInfo {
        color: c.$pure-white-color;
    }
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blockHeadingContainer {
        width: 1200px - $moreInfo-width;
    }
  }

.relatedFiguresContainer {
    @include mut.sized($width: 90%, $height: 100%);
    @include mut.flexed($direction: column, $align-items: center);

    @media screen and (max-width: 1024px) {
        @include mut.sized($width: 90%, $height: 100%);
        @include mut.flexed($direction: column, $align-items: center);
    }
}

.moreInfo {
    width: $moreInfo-width;
    p {
        @include mut.with-font($font-weight: 500, $font-size: 20px);
        line-height: f.pxToEm(25px);
        text-decoration-line: none;
        color: c.$dark-red-color;
        width: inherit;

        cursor: pointer;

        &:hover {
            text-decoration-line: underline;

            filter: contrast(150%);
        }
    }
}

.relatedFiguresSliderContainer {
    @include mut.sized($width: 1216px);

    .slick-arrow {
        top: f.pxToRem(213px);
    }

    .slick-list {
        @include mut.rem-padded($bottom: 4px);
    }

    .slick-track {
        @include mut.flexed($justify-content: center, $align-items: flex-start, $gap: 28px);
    }
}

/*@media screen and (max-width: 480px) {
    .relatedFiguresSliderContainer {
        //@include mut.sized($width: 390px);
        width: 90vw !important;
    }
}*/

@media screen and (max-width: 1024px) {
    .relatedFiguresWrapper {
        @include mut.sized($height: 400px); 
    }

    .relatedFiguresSliderContainer {
        width: 95vw !important;

        .slick-track {
            @include mut.flexed($align-items: flex-start, $gap: 10px);
        }
        .slick-list {
            @include mut.rem-padded($left: 3px);
        }
        .slick-arrow {
            display: none;
            visibility: hidden;
        }
    }
}