@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.fonts.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.relatedFigureSlide {
    @include mut.sized($width: 278px, $height: 380px);
    @include mut.full-rounded($rad: 30px);
    border: 3px solid c.$pure-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: 285px;
    background-repeat: no-repeat;

    @include mut.positioned-as();
    @include mut.flexed($justify-content: center, $align-items: flex-end);

    @include vnd.vendored(transition, 'all .5s ease');
    cursor: pointer;

    z-index: 1000;
}

.figureSlideText {
    @include mut.sized($width: 278px, $height: 97px);
    @include mut.rounded($bottom-left: 30px, $bottom-right: 30px);

    background-color: c.$dark-red-color;

    @include vnd.vendored(transition, 'all .5s ease');

    .heading {
        @include mut.sized($width: 100%, $height: 88px);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .aliasText{
            @include mut.rem-padded($left: 5px, $right: 5px, $top: 5px, $bottom: 5px);
            line-height: pxToRem(18.48px);
            font-size: 12px;
        }

        p {
            @include mut.truncated($line-num: 2);
            @include mut.rem-padded($left: 12px, $right: 12px, $top: 10px);
            @include mut.with-font($font-family: f.$closer-text-font, $font-weight: 500);
            line-height: pxToRem(26.4px);
            text-align: center;
            color: c.$pure-white-color;
        }
    }

    &.mobile{
        @include mut.sized($width: 165px, $height: 65px);
        background-color: c.$pure-white-color;

        .heading {
            @include mut.sized($width: 100%);
            max-height: 65px;
        }

        p {
            font-size: 14px;
            color: c.$pure-black-color; 
            line-height: pxToRem(16px);
        }
    }
}

.relatedTagList {
    @include mut.sized($width: 100%);
    visibility: hidden;
    overflow: hidden;
    max-height: 71px;
    @include mut.flexed($align-items: center, $gap: 5px, $wrap: wrap);
    padding: 7px 23px 0px;

    .tag {
        @include mut.sized($height: 28px);
        @include mut.flex-centered();

        border: 1px solid c.$pure-white-color;
        background: none;
        @include mut.full-rounded($rad: 7.86px);
        @include mut.rem-padded($left: 9.5px, $top: 5.5px, $right: 9.5px, $bottom: 5.5px);

        p {
            @include mut.sized($height: 14px);
            text-align: center;
            line-height: 135.69%;

            @include mut.with-font($font-size: 10px, $font-weight: 500);
            line-height: pxToRem(13.6px);
            color: c.$pure-white-color;
        }
    }
}

.relatedFigureSlide.hoverable.single_row:hover {
    @include mut.sized($width: 278px, $height: 425px); 

    .figureSlideText{
        @include mut.sized($width: 278px, $height: 142px);

        .relatedTagList {
            visibility: visible;
        }
    }
}

.relatedFigureSlide.hoverable:hover { 
    @include mut.sized($width: 278px, $height: 459px); 
 
    .figureSlideText{
        @include mut.sized($width: 278px, $height: 176px); 

        .relatedTagList {
            visibility: visible;
        }
    }
}

.relatedTagList.noneTags{
    visibility: hidden !important;
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .relatedFigureSlide {
        @include mut.sized($width: 165px, $height: 165px);
        
        .sliderClass .slider-item-container {
            display: block !important;
        }   
    }
}