@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.fonts.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.relatedFigureSlide {
    @include mut.sized($width: 278px, $height: 380px);
    @include mut.full-rounded($rad: 30px);
    border: 3px solid c.$pure-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: 100%;
    background-repeat: no-repeat;

    @include mut.positioned-as();
    @include mut.flexed($justify-content: center, $align-items: flex-end);

    @include vnd.vendored(transition, 'all .5s ease');
    cursor: pointer;
}

.figureSlideText {
    @include mut.sized($width: 278px, $height: 97px);
    @include mut.rounded($bottom-left: 30px, $bottom-right: 30px);

    background-color: c.$dark-red-color;

    @include vnd.vendored(transition, 'all .5s ease');

    .heading {
        @include mut.sized($width: 100%, $height: 88px);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .aliasText{
            @include mut.rem-padded($left: 5px, $right: 5px, $top: 5px, $bottom: 5px);
            line-height: pxToRem(16.4px);
            font-size: 12px;
        }

        p {
            @include mut.truncated($line-num: 2);
            @include mut.rem-padded($left: 12px, $right: 12px, $top: 10px);

            @include mut.with-font($font-family: f.$closer-text-font, $font-weight: 500);
            text-align: center;
            color: c.$pure-white-color;
        }
    }
}

.relatedTagList {
    @include mut.sized($width: 100%);
    visibility: hidden;

    @include mut.flexed($align-items: center, $gap: 5px, $wrap: wrap);
    //@include mut.rem-padded($top: 7px, $left: 23px, $right: 23px);
    padding: 7px 23px 0px;

    .tag {
        @include mut.sized($height: 28px);
        @include mut.flex-centered();

        border: 2px solid c.$pure-white-color;
        background: none;
        @include mut.full-rounded($rad: 7.86px);
        @include mut.rem-padded($left: 9.5px, $top: 5.5px, $right: 9.5px, $bottom: 5.5px);

        p {
            @include mut.sized($height: 14px);
            text-align: center;
            line-height: 135.69%;

            @include mut.with-font($font-size: 10px,$font-weight: 500);
            line-height: pxToRem(13.6px);
            color: c.$pure-white-color;
        }
    }
}

.relatedFigureSlide.hoverable.single_row:hover {
    @include mut.sized($width: 278px, $height: 425px); 

    .figureSlideText{
        @include mut.sized($width: 278px, $height: 142px);

        .relatedTagList {
            visibility: visible;
        }
    }
}

.relatedFigureSlide.hoverable:hover { 
    @include mut.sized($width: 278px, $height: 459px); 
 
    .figureSlideText{
        @include mut.sized($width: 278px, $height: 176px); //!

        .relatedTagList {
            visibility: visible;
        }
    }
}

.relatedTagList.noneTags{
    visibility: hidden !important;
    display: none !important;
}