@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.checkbox-container {
    display: flex;
    justify-content: space-between;

    &-flex {
        display: flex;
        justify-self: center;
    }

    p {
        margin-left: f.pxToRem(5px);
    }
}

.link-container {
    gap: f.pxToRem(5px);
    display: flex;
    align-items: start;
    position: relative;

    .error-message{
        color: c.$accented-red-color;
        position: absolute;
        bottom: f.pxToRem(-5px);
        left: f.pxToRem(5px);
    }
}

.team-source-list{
    .link-container{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        word-break: break-all;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
    }
}

.positions-block {
    display: flex;
    flex-direction: column;

    .ant-select-selector {
        box-shadow: none !important;
    }

    .positions-block-positionitems {
        width: 100%;

        .positions-select-input {
            width: 100%;
        }
    }

    .device-sizes-list {
        p {
            margin-bottom: f.pxToRem(2px);
        }

        display: flex;
        flex-direction: column;
        justify-content: left;

        p:hover {
            color: c.$dark-red-color;
            font-weight: 600;
        }
    }
}
