@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.artPreviewModal{
    max-width: f.pxToRem(380px);
    @include mut.with-font(ft.$roboto-font, 300, 20px, normal);
    color: c.$dark-red-color;
    align-items: center;
    margin: auto;
    p{
        @include mut.rem-padded($top: 5px, $bottom: 5px);
    }
    img{
        @include mut.sized(50%,50%);
        display: block;
        margin: auto;
    }
    input, textarea{
        @include mut.with-font(ft.$roboto-font, 300, 20px, normal) ;
    }
    textarea{
        width: f.pxToRem(380px);
        height: f.pxToRem(180px);
        resize: none;
    }
    .saveButton{
        background-color: c.$pure-white-color;
        border-radius: 5px;
        width: 30%;   
        justify-content: center;
        left: 50%;
        @include mut.with-font(ft.$roboto-font, 300, 15px, normal);
        border-color: c.$dark-red-color;
        color: c.$dark-red-color;
        &:hover{
            color: c.$pure-white-color;
            background-color: c.$dark-red-color;
        }
      }
   
    // &.ant-modal {
    //     .ant-modal-content {
          
    //     }
    // }
}
