@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.layers.scss" as l;
@use "@sass/_utils.functions.scss" as f;

$bgImg: '@assets/images/catalog/background.webp';
$loadImg: '@assets/images/catalog/loading.webp';

.pdfPreviewContainer {
  display: flex;
  justify-content: center;
  @include mut.rem-padded(90px, 50px, 25px, 50px);
}

@media screen and (max-width: 1024px) {
  .pdfPreviewWrapper {
    @include mut.rem-padded($top: 64px);
  }
  .pdfPreviewContainer {
    @include mut.rem-padded(20px, 20px, 20px, 20px);
  }
}

@media screen and (max-width: 680px) {
  .pdfPreviewWrapper {
    @include mut.rem-padded($top: 64px);
  }
  .pdfPreviewContainer {
    @include mut.rem-padded(20px, 20px, 20px, 20px);
  }
}

.iframeWrapper {
  @include mut.sized(100%, 100%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  iframe {
    height: 50vw;
    width: 100%;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 20px;
  width: auto;
  gap: 10px;
  border: #8D1F16;

  @media screen and (min-width: 1025px) {
    align-items: flex-start;
  }
}

.redButton {
  width: 180px;
  height: 32px;
  @include mut.full-rounded(12px);
  background-color: c.$accented-red-color;

  > * {
    @include mut.with-font($font-weight: 500, $font-size: 18px);
  }
  &:hover {
    background-color: c.$dark-red-color;
  }
}


