@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@app/common/components/CardText/CardText.styles" as textCard;

.newsSliderItem {
    display: flex;
    flex-direction: column;

    .newsMainPage {
        @include mut.rem-padded($top: 0px, $right: 0px, $bottom: 0px, $left: 0px);
        @include mut.sized(840px, 575px);
        @include mut.full-rounded(30px);
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: c.$pure-white-color;
        margin-left: 20px;

        @media (min-width: 768px) and (max-width: 1024px) {
            width: 96vw;
            height: f.pxToRem(472px);
            margin-right: 20px;
            margin-left: 20px;
            overflow: hidden;
        }

        @media (min-width: 360px) and (max-width: 767px) {
            width: f.pxToRem(340px);
            height: fit-content;
            margin: f.pxToRem(-5px) f.pxToRem(20px) 0 f.pxToRem(20px);
        }
    }

    .newsSlideText {
        position: absolute;
        height: fit-content;
        bottom: 0;
        z-index: 2;
        @include mut.rounded($bottom-left: 30px, $bottom-right: 30px);
        background-color: c.$pure-white-color;


        @media (min-width: 768px) and (max-width: 1024px){
            top: 280px;
            width: 96vw;
        }

        @media (min-width: 360px) and (max-width: 767px) {
            position: relative;
            top: 1px;
        }
    }

    .newsPageImgContainer {
        position: relative;
        z-index: 1;
        height: 100%;

        @include mut.rem-padded($top: 5px, $right: 5px, $bottom: 5px, $left: 5px);

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-top: 0;
        }

        @media screen and (max-width: 767px) {
            height: f.pxToRem(190px);
        }

        .newsPageImg {
            position: relative;
            width: 100%;
            height: auto;
            @include mut.full-rounded(30px);

            object-fit: cover;
            @media (max-width: 1024px){
                margin-top: 0;
                height: 100%;
            }
        }
    }

    .newsContainer {
        box-sizing: border-box;
        word-break: break-word;
        height: 230px;
        width: f.pxToRem(840px);

        @include mut.flexed(column, start, space-between, nowrap);
        @include mut.rem-padded($top: 15px, $right: 30px, $bottom: 25px, $left: 30px);

        @media (min-width: 768px) and (max-width: 1024px){
            @include mut.rem-padded($top: 15px, $right: 40px, $bottom: 10px, $left: 20px);
            height: 190px;
            width: 96vw;
        }

        @media (min-width: 360px) and (max-width: 767px) {
            @include mut.rem-padded($top: 15px, $right: 15px, $bottom: 20px, $left: 15px);
            height: 300px;
            width: auto;
        }

        .subContainer{
            max-width: 100%;
            height: 100%;

            @include textCard.cardText(
                    $title-max-lines: 1,
                    $text-max-lines: 4);

            .cardTextContainer{
                padding: 0;
                font-size: f.pxToRem(15px);

                &TopPart{
                    gap: f.pxToRem(10px);
                }

                &Title{
                    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 36px);
                    line-height: f.pxToRem(47.5px);

                    @media (min-width: 360px) and (max-width: 767px) {
                        @include mut.truncated(2);
                    }

                    @media (max-width: 1024px) {
                        font-size: f.pxToRem(20px);
                        line-height: f.pxToRem(26.4px);
                    }
                }

                &SubTitle{
                    color: c.$darkish-gray-color;
                }

                &Text{
                    font-weight: 300;

                    @media (min-width: 360px) and (max-width: 767px) {
                        @include mut.truncated(8);
                    }
                }

                &Button{
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
}
