@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;


.newsSliderItem {

    .newsMainPage {
        @include mut.rem-padded($top: 0px, $right: 0px, $bottom: 0px, $left: 0px);
        @include mut.sized(840px, 578px);
        @include mut.full-rounded(30px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        margin-left: 20px;
    }

    .newsSlideText {
        position: absolute;
        top: 374px;
        z-index: 2;
        @include mut.sized(840px, 193px);
        @include mut.rounded($bottom-left: 30px, $bottom-right: 30px);
        background-color: #FFFFFF;
    }

    .newsPageImgContainer {
        position: relative;
        z-index: 1;

        .newsPageImg {
            position: relative;
            width: 100%;
            height: auto;
            @include mut.full-rounded(30px);
        }
    }

    .newsContainer {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        @include mut.flexed(column, start, space-between, nowrap);
        @include mut.rem-padded($top: 25px, $right: 30px, $bottom: 25px, $left: 30px);
    }

    .newsTitle {
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 36px);
        color: #1D1F23;
        line-height: f.pxToRem(48px);
    }

    .newsText {
        width: 780px;
        height: 90px;
        @include mut.rem-margined(5px, 0px, 0px, 0px);
        @include mut.rem-padded(0px, 5px, 0px, 0px);
        line-height: 18px;
        color: #1D1F23;
        @include mut.with-font(ft.$roboto-font, $font-weight: 300, $font-size: 15px);
    
        &::-webkit-scrollbar {
            display: none;
        }
    
        .moreText {
            display: inline-block;
            margin-left: 4px;
            @include mut.with-font(ft.$roboto-font, $font-weight: bolder, $font-size: 15px);
            color: c.$dark-red-color;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }


}