@use "@sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
.mainblock-add-form{
    @include mut.with-font();
   .ant-form-item-label>label{
        @include mut.with-font();

    }
    .maincard-input{
        width:f.pxToRem(450px) ;
        margin: 10px 0;
    }
    .ant-input{
        align-self:center;
        @include mut.with-font();
    }
    .ant-select,
    .ant-select-selector,
    .ant-select-selection-search-input,
    .ant-picker{
        @include mut.with-font();
    }
    
    .people-title-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .stretcode-title-people{ 
        width:f.pxToRem(200px) ;
    }
    .textarea-teaser{
        height:f.pxToRem(80px);
    }
    .ant-input-textarea>textarea{
        resize: none;
    }
    .ant-picker {

        .ant-picker-input> input{
            @include mut.with-font();
        }
        width: 100%;
        box-sizing: border-box;
       
    }
    .date-picker-qroup{
        margin:f.pxToRem(20px) 0;
        width: f.pxToRem(750px);
        display: flex;
        align-items: bottom;
        flex-direction: row;
        justify-content: left;
        .date-picker-type-input{
            width: 100%;
        }
        .date-picker-qroup-item{
            width: f.pxToRem(200px);
          
        }
        p{
            margin-left: f.pxToRem(10px);
            display: block;
            align-self:flex-end;
        }
        .date-string-input{
            width: f.pxToRem(360px);
        }
    }
    .teaser-input{
        width: f.pxToRem(750px);
    }
    
    
}

