@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.resultItemContainer{ 
    max-width: f.pxToRem(915px);
    @include mut.flexed($align-items: center);
    padding: f.pxToRem(13px) f.pxToRem(20px);

    white-space: nowrap;

    border-bottom: 1px solid c.$accented-gray-color;
    
    &:last-child{
        border: none;
    }

    &:hover{
        background-color: #faf5f5;
        border-radius: 10px;
    }

    .resultItemContent{
        @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 400, $font-size: 15px);
        @include mut.rem-margined($right: 14px);

        max-width: f.pxToRem(503px);     
        line-height: 18px;
        color: c.$lighter-black-color;

        text-overflow: ellipsis;
        overflow: hidden;    
    }

    .resultSourceName{
        @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 400, $font-size: 15px);

        max-width: f.pxToRem(503px);     
        line-height: 18px;
        color: #D1D1D1;
    }
}
