@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.resultItemContainer{ 
    max-width: 915px;
    @include mut.sized(100%, 42px);
    @include mut.flexed($align-items: center);
    @include mut.rem-padded($left: 20px, $right: 20px);

    white-space: nowrap;

    border-bottom: 1px solid #F4F4F4;
    &:last-child{
        border: none;
    }

    &:hover{
        background-color: #faf5f5;
        border-radius: 10px;
    }

    .resultItemContent{
        @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 400, $font-size: 15px);
        @include mut.rem-margined($right: 14px);

        max-width: 503px;     
        line-height: 18px;
        color: #1D1F23;

        text-overflow: ellipsis;
        overflow: hidden;    
    }

    .resultSourceName{
        @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 400, $font-size: 15px);

        max-width: 503px;     
        line-height: 18px;
        color: #D1D1D1;
    }
}
