@use "src/assets/sass/utils.functions" as f;
@use "src/assets/sass/variables/variables.colors" as c;
@use "src/assets/sass/mixins/utils.mixins" as mut;
@use "src/assets/sass/mixins/vendor.mixins" as vnd;


.navBarContainer {
  z-index: 10;
  position: fixed;
  border-bottom: 1px dashed c.$dark-gray-color;
  @include mut.sized(100%, 82px);
  @include mut.flexed($justify-content: space-between, $align-items: center);
  padding: f.pxToRem(21px) f.pxToRem(32px);
  background-color: c.$pure-white-color;

  svg {
    margin-right: f.pxToRem(34px);

    &:hover {
      cursor: pointer;
    }
  }

  .ant-input,
  .ant-input-affix-wrapper,
  .langSelector {
    background-color: c.$accented-gray-color;
  }

  .ant-input-prefix {
    height: 100%;
    margin: 0 !important;
  }

  .ant-input-affix-wrapper {
    position: relative;
    @include mut.sized(1215px, 39px);

    @include mut.full-rounded(12px);
    margin-right: f.pxToRem(10px);

    svg {
      color: c.$selected-arrow-color;
      margin-right: f.pxToRem(11px);
    }

    .ant-input {
      line-height: f.pxToRem(24px);
    }
  }
  @media screen and (max-width: 1850px) {
    .ant-input-affix-wrapper{
      @include mut.sized(815px, 39px);
    }
  }
}

.leftPartContainer,
.rightPartContainer {
  @include mut.flexed($justify-content: flex-start, $align-items: center);
}

.langSelector {
  @include mut.sized(55px, 39px);
  @include mut.full-rounded(12px);
  @include mut.flexed($justify-content: flex-start, $align-items: center);
  padding: f.pxToRem(10px);

  span {
    line-height: f.pxToEm(21.09px);
    @include mut.with-font($font-weight: 300, $font-size: 18px);
    color: c.$lighter-black-color;

    &:after {
      content: "";
      @include mut.sized(5px, 5px);
      position: absolute;
      top: 42%;
      right: 16%;
      background-color: c.$accented-red-color;
    }
  }
}

.rightSectionContainer {
  align-self: flex-end;
  justify-self: flex-end;

  @include mut.flexed($align-items: center);
  margin-left: f.pxToRem(120px);

  .burgerMenuContainer {
    @include mut.sized(36px, 100%);
    @include mut.flexed($direction: column, $justify-content: center, $gap: 6px);
    margin-right: f.pxToRem(24px);

    > * {
      width: 100%;
      height: f.pxToRem(5px);
      background-color: #7F7F7F;
      @include mut.full-rounded(12px);
    }

    &:hover {
      cursor: pointer;

      > * {
        background-color: c.$dark-gray-color;
      }
    }
  }

  .loginBtn {
    @include mut.sized(142px, 39px);
    @include mut.full-rounded(12px);
    background-color: c.$accented-red-color;

    > * {
      @include mut.with-font($font-weight: 500, $font-size: 18px);
      line-height: f.pxToEm(21.09px);
    }

    &:hover {
      background-color: c.$dark-red-color;
    }
  }
}