@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.registerFormWrapper{
  @include mut.flexed($justify-content: center);
  @include mut.rem-margined(100px, 100px, 100px, 100px);

  .register-form{
    @include mut.full-rounded(60px);
    box-shadow: 13px 13px 32px 0 rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    @include mut.sizedImportant(600px, auto);
    @include mut.rem-padded(60px, 60px, 60px, 60px);
    @include mut.flexed(column, $align-items: flex-start, $gap: 15px);

    .registerTitleWrapper{
      @include mut.flexed(column, $align-items: center, $justify-content: center);
      margin-bottom: 15px;

      .registerTitle{
        @include mut.with-font(
          $font-family: ft.$roboto-font,
          $font-weight: 500,
          $font-size: 24px,
        );
        @include mut.colored($color: c.$lighter-black-color);
        @include mut.rem-margined(0, 185.5px, 0, 185.5px);
      }

      .registerSubTitle{
        @include mut.with-font(
          $font-family: ft.$roboto-font,
          $font-weight: 400,
          $font-size: 16px,
        );
        @include mut.colored($color: c.$login-labels-grey-color);
      }
    }

    .formItem{
      label{
        @include mut.with-font(
          $font-family: ft.$roboto-font,
          $font-weight: 400,
          $font-size: 14px,
        );
        @include mut.colored($color: c.$login-labels-light-grey-color);
      }
    }

    .ant-form-item{
      @include mut.rem-margined(0, 0, 0, 0);

      .ant-form-item-label{
        @include mut.rem-padded(0, 0, 0, 0)
      }
    }

    .agreeCheckbox {
      @include mut.colored($color: c.$login-labels-grey-color);
      @include mut.with-font(
              $font-family: ft.$roboto-font,
              $font-weight: 400,
              $font-size: 16px,
      );

      .ant-checkbox, .ant-checkbox-inner, {
        @include mut.sized(24px, 24px);
        border-color: c.$login-labels-light-grey-color;
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: c.$dark-red-color;
        }
      }

      .ant-checkbox-inner::after {
        @include mut.sized(14.4px, 10.8px);
      }

      .privacy-link {
        @include mut.colored($color: c.$dark-red-color);
        text-decoration: underline;
      }

      margin-bottom: 15px;
    }

    .registerInputField
    {
      @include mut.sized(480px, 44px);
      border-color: c.$darkish-gray-color;

      &:focus{
        border-color: c.$accented-red-color;
        box-shadow: c.$accented-red-color !important;
      }

      &:hover {
        border-color: c.$accented-red-color;
      }
    }

    .ant-btn{
      @include mut.sized(100%, auto);
    }

    .center {
      display: flex;
      justify-content: center;
    }

    .registerButton{
      @include mut.sized(100%, 60px);
      margin-left: 0;

      p{
        @include mut.with-font(
          $font-family: ft.$roboto-font,
          $font-weight: 600,
          $font-size: 20px,
        );
        color: c.$white-color;
      }
      margin-bottom: 10px;
    }

    .navWrapper {
      @include mut.sized(480px, 96px);

      .loginNav{
        text-align: center;
        @include mut.sized(100%, auto);
        @include mut.with-font(
                $font-family: ft.$roboto-font,
                $font-weight: 400,
                $font-size: 15px,
                $font-style: ft.$roboto-font-style
        );
        @include mut.colored($color: c.$normal-gray-color);

        .loginNavButton{
          @include mut.with-font(
                  $font-family: ft.$roboto-font,
                  $font-weight: 600,
                  $font-size: 15px,
                  $font-style: ft.$roboto-font-style
          );
          @include mut.colored($color: c.$dark-red-color);
          cursor: pointer;
        }
      }
    }
  }
}
