@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.partnersWrapper {
    @include mut.flex-centered();
    
    @include mut.rem-padded($top: 30px, $right: 200px, $bottom: 30px, $left: 200px);

    .partnerContainer {
        @include mut.sized($width: 100%, $height: 181px);
        @include mut.flexed($justify-content: space-between, $align-items: center, $direction: row);

        .slick-slide{
            @include mut.flex-centered();
        }

        .partnerItem {
            @include mut.sized($width: 380px, $height: 121px);
            @include mut.flex-centered();
        }
    }
}

@media screen and (max-width: 1320px){
    .partnersWrapper{
        padding: 0 !important;  
    }
}
@media screen and (max-width: 1024px) {
    .partnerContainer {
        height: f.pxToRem(134px) !important;
    }
    .partnerItem{
        transform: scale(0.65);
    }      
}
@media screen and (max-width: 480px) {
    .partnerContainer {
        height: f.pxToRem(124px) !important;
    }
    .partnerItem{
        padding: f.pxToRem(10px);
    }      
}