$pure-white-color: #FFFFFF !important;
$pure-black-color: #000000;
$lighter-black-color: #1D1F23;

$accented-gray-color: #F4F4F4 !important;
$lighter-gray-color: #D3CDCA;
$darker-gray-color: #5D5D5D;
$dark-gray-color: #4D4D4D;

$normal-gray-color: #7F7F7F;
$normal-darker-gray-color: #7E7E7E;

$dark-red-color: #8D1F16 !important;
$accented-red-color: #DB3424 !important;

$slider-base-dot-color: #D9D9D9;
$timeline-reel-color: #D9D9D9;
$copyright-section-color: #C4C4C4;

$selected-arrow-color: #C4C4C4;
$base-arrow-color: #F2F2F2;

$card-scrollbar-track-color: #DEDCDC !important;
$scrollbar-thumb-color: #891C1B !important;
$scrollbar-track-color: #C9C5C2 !important;

$ant-menu-color: #E13F30 !important;