$pure-white-color: #FFFFFF !important;
$pure-black-color: #000000 !important;
$lighter-black-color: #1D1F23 !important;
$white-color: #FAFAFA !important;
$transparent-color: transparent !important;

$accented-white-color: #F5F5F5 !important;
$accented-gray-color: #F4F4F4 !important;
$accented-grayish-gray-color: #FCFCFC !important;
$accented-low-opasity-grayish-gray-color: #fcfcfcae !important;
$text-light-gray-color: #D7D7D7 !important;
$lighter-gray-color: #D3CDCA !important;
$milky-white-color: #DDDDDD !important;
$darker-gray-color: #5D5D5D !important;
$dark-gray-color: #4D4D4D !important;
$darkish-gray-color: #A3A3A3 !important;
$transparent-redish-gray-color: #db34242e !important;
$checkbox-light-grey: #6d6d6d !important;

$normal-gray-color: #7F7F7F !important;
$normal-darker-gray-color: #7E7E7E !important;

$dark-red-color: #891F16 !important;
$accented-red-color: #E04031 !important;
$text-red-color: #A4271B !important;
$ant-menu-color: #E13F30 !important;

$slider-base-dot-color: #D9D9D9 !important;
$timeline-reel-color: #D9D9D9 !important;
$copyright-section-color: #C4C4C4 !important;

$selected-arrow-color: #C4C4C4 !important;
$base-arrow-color: #F2F2F2 !important;

$base-arrow-filter-color: invert(97%) sepia(66%) saturate(423%)
  hue-rotate(212deg) brightness(113%) contrast(90%) !important;
$selected-arrow-filter-color: invert(87%) sepia(0%) saturate(479%)
  hue-rotate(143deg) brightness(95%) contrast(81%) !important;
$hovered-btn-filter-color: drop-shadow(0 2px 15px rgba(61, 0, 0, .25)) !important;

$card-scrollbar-track-color: #DEDCDC !important;
$modal-hover-color: #ECE9E9 !important;
$burger-menu-color: #7F7F7F !important;
$input-outline-color: #E6E4E4 !important;
$light-border-color: #DCDCDC !important;
$partners-mobile-background-color: #FCFCFC !important;
$streetcode-background-color:#FCFCFC !important;
$catalog-background-color: #F5F5F5 !important;


$hover-wow-fact-background: rgba(0, 0, 0, 0.5);
