$pure-white-color: #FFFFFF !important;
$pure-black-color: #000000 !important;
$lighter-black-color: #1D1F23 !important;
$white-color: #FAFAFA !important;
$transparent-color: transparent !important;

$accented-white-color: #F5F5F5 !important;
$accented-gray-color: #F4F4F4 !important;
$accented-grayish-gray-color: #FCFCFC !important;
$accented-low-opasity-grayish-gray-color: #fcfcfcae !important;
$text-light-gray-color: #D7D7D7 !important;
$lighter-gray-color: #D3CDCA !important;
$milky-white-color: #DDDDDD !important;
$darker-gray-color: #5D5D5D !important;
$dark-gray-color: #4D4D4D !important;
$darkish-gray-color: #A3A3A3 !important;
$transparent-redish-gray-color: #db34242e !important;
$checkbox-light-grey: #6d6d6d !important;

$login-labels-light-grey-color: #767676 !important;
$login-labels-grey-color: #535353 !important;
$label-light-grey-color: #767676 !important;

$normal-gray-color: #7F7F7F !important;
$normal-darker-gray-color: #7E7E7E !important;

$dark-red-color: #891F16 !important;
$accented-red-color: #E04031 !important;
$text-red-color: #A4271B !important;
$button-border-red-color: #8D1F16 !important;
$ant-menu-color: #E13F30 !important;
$ant-menu-text-color:#ff4d4f!important;

$slider-base-dot-color: #D9D9D9 !important;
$timeline-reel-color: #D9D9D9 !important;
$copyright-section-color: #C4C4C4 !important;

$selected-arrow-color: #C4C4C4 !important;
$base-arrow-color: #F2F2F2 !important;

$base-arrow-filter-color: invert(95%) sepia(90%) saturate(0%)
     hue-rotate(225deg) brightness(110%) contrast(90%);
$active-arrow-filter-color:  invert(88%) sepia(0%) saturate(0%) 
     hue-rotate(219deg) brightness(91%) contrast(88%);
$selected-arrow-filter-color: invert(38%) sepia(0%) saturate(0%)
     hue-rotate(143deg) brightness(140%) contrast(81%);
$base-lightbox-arrow-filter-color: invert(32%) sepia(0%) saturate(8%) 
     hue-rotate(220deg) brightness(90%) contrast(89%);
$hovered-lightbox-arrow-filter-color: invert(63%) sepia(0%) saturate(242%)
     hue-rotate(257deg) brightness(91%) contrast(95%);
$hovered-btn-box-shadow: 0 2px 15px rgba(61, 0, 0, .25) !important;

$card-scrollbar-track-color: #DEDCDC !important;
$modal-hover-color: #ECE9E9 !important;
$burger-menu-color: #7F7F7F !important;
$input-outline-color: #E6E4E4 !important;
$light-border-color: #DCDCDC !important;
$partners-mobile-background-color: #FCFCFC !important;
$streetcode-background-color:#FCFCFC !important;
$catalog-background-color: #F5F5F5 !important;

$hover-wow-fact-background: rgba(0, 0, 0, 0.5);
$sliders-text-grey-color: #6D6D6D !important;
$sliders-text-lighter-grey-color: #ADADAD !important;

$green-strength-indicator-color: #04A64D !important;
