$code-tag-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$body-tag-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$roboto-font: 'Roboto', 'Helvetica Neue', sans-serif !important;
$roboto-light: 'Roboto-Light', 'Helvetica Neue', sans-serif;
$roboto-font-style: normal;
$closer-text-font: 'Closer Text', $roboto-font;
