$smallDesctop: 1400px;
$tablet: 1024px;
$smallTablet: 700px;
$phone: 600px;
$smallPhone: 400px;

$art-gallery-img-size: 309px;
$art-gallery-img-size-mobile: 200px;

$art-gallery-gap: 30px;
$art-gallery-gap-mobile: 10px;