@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.relatedFiguresWrapper {
    width: 100%;
    height: 681px;

    @include mut.flex-centered();
}

.relatedFiguresContainer {
    width: 90%;
    height: 100%;

    @include mut.outlined();
    @include mut.flexed($flex-direction: column, $align-items: center);
    
    .moreInfo{
        position: absolute;
        left: 200px;
        top: 652px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-decoration-line: underline;

        /* Alt_color2 */

        color: c.$dark-red-color;
    }
}

.relatedFiguresSliderContainer {
    width: pxToRem(1200px);
    height: auto;

    @include mut.outlined();

    margin-top: 23px;

    .heightContainer,
    .slick-list,
    .slick-track,
    .sliderClass {
        height: 100%;
    }

    .slick-track{
        width: 1224px !important;
    }
    
    .slick-list {
        height: 452px;

        @include mut.rem-padded($left: 1px);

        .slick-slide{
            width: 306px !important;
        }
    }
}