@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;

$bgImg: '@assets/images/streetcode-card/background.webp';

.teamComponent {
    .margin-82px {
        margin-top: f.pxToRem(82px);
    }

    .streetcodeContainer .mainBlock {
        @include mut.bg-image($bgImg, auto);
        background-repeat: repeat-x;
    }

    .mainBlock,
    .blockCenter {
        @include mut.flex-centered();
    }

    .mainContainer {
        width: 100%;
        position: relative;
    }

    .mainContent {
        width: 100%;
        margin-bottom: f.pxToRem(30px);
        @include mut.flex-centered();
        margin-top: f.pxToRem(1px);
        padding-top: f.pxToRem(1px);

        ::-webkit-scrollbar {
            width: f.pxToRem(5px);
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        height: 100%;
    }

    @media screen and (max-width: 1300px) {
        .mainContainer {
            width: 100%;
        }

        .mainContent {
            width: 100%;
        }
    }

    @media screen and (max-width: 680px) {
        .mainContainer {
            height: unset;

            .mainContent {
                ::-webkit-scrollbar {
                    width: f.pxToRem(2px);
                }

                height: unset;
                margin-top: f.pxToRem(10px);
                padding-top: f.pxToRem(10px);
            }
        }

        .mainBlock {
            background-image: none;
        }
    }

    .slick-slide {
        width: unset !important;
        @media screen and (max-width: 767px) {
            width: 100% !important;
        }
    }

    .slick-initialized .slick-slide {
        @include mut.flexed(row, center, center, wrap);
        @include mut.rem-margined($top: 0px, $right: 20px, $bottom: 10px, $left: 0px);
    }

    .slick-track {
        display: flex !important;
        flex-wrap: nowrap !important;
    }

    .slick-initialized .slick-slide {
        @include mut.flexed($justify-content: center, $gap: 0px);
        @include mut.rem-margined($top: 0px, $right: 0px, $bottom: 10px, $left: 0px);
    }

    .slick-center {
        transform: scale(1.16);
        overflow: visible !important;
        padding-left: f.pxToRem(16px);
        padding-right: f.pxToRem(16px);
        padding-bottom: f.pxToRem(20px);
    }

    .redirectButton {
        @include mut.sized($width: 95%, $height: 46px);
        @include mut.full-rounded(10px);
        @include mut.rem-margined($left: 10px, $right: 10px);
        text-align: center;
        cursor: pointer;
        background-color: c.$accented-red-color;
        color: c.$pure-white-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
            background-color: c.$dark-red-color;
        }
    }
}
