@use '@assets/sass/_utils.functions.scss' as *;
@use '@assets/sass/mixins/_utils.mixins.scss' as mut;
@use '@assets/sass/variables/_variables.colors.scss' as c;
@use "@assets/sass/variables/_variables.layers.scss" as l;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@mixin slick-arrow-pseudo($direction, $margin) {
    transition: .5s;
    margin-left: pxToRem($margin);
    @include mut.sized(40px, 58px);
    $path: "@assets/images/utils/#{$direction}DefaultSliderArrow.svg";
    content: url($path);
    opacity: 1;
}

.slick-next,
.slick-prev {
    transition: .5s;
    pointer-events: none;

    &:hover:before {
        filter: c.$selected-arrow-filter-color;
    }

    &:before {
        filter: c.$active-arrow-filter-color;
        pointer-events: all;
    }
}

.slick-prev:before {
    @include slick-arrow-pseudo(Left, -17px);
}

.slick-next:before {
    @include slick-arrow-pseudo(Right, -5px);
}

.slick-arrow {
    z-index: l.$slickArrow;
}

.slick-disabled {
    transition: .5s;

    &:before {
        filter: c.$base-arrow-filter-color;
        pointer-events: none;
    }

    &:hover:before {
        filter: c.$base-arrow-filter-color;
    }
}

.slick-dots li button:before {
    content: '';
    @include mut.sized(12px, 12px);
    background: c.$slider-base-dot-color;
    transition: .5s;
}

li.slick-active button:before {
    background: c.$dark-red-color;
}

.sliderClass {
    width: 100%;

    .slider-item-container {
        display: flex !important;
        position: relative;
        flex-direction: column;

        &:focus,
        &:focus-visible {
            outline: none;
        }

        .left {
            position: absolute;
            width: 35%;
            height: 100%;
            left: 0;
            opacity: 0;
        }

        .right {
            position: absolute;
            width: 35%;
            height: 100%;
            right: 0;
            opacity: 0;
        }
    }
}

.secondPreset{
    .slick-arrow {
        top: 43%;
        @include mut.sized(68px, 101px);
    }

    .slick-prev,
    .slick-next {
        filter: none !important;
    }

    .slick-prev {
        left: 20px !important;

        &::before {
            content: url("@images/utils/LeftSmallSliderArrowBrighter.svg");
            filter: none;
        }

        &:hover::before {
            content: url("@images/utils/LeftSmallSliderArrowDarker.svg");
            filter: none;
        }
    }

    .slick-next {
        right: 20px !important;

        &::before {
            content: url("@images/utils/RightSmallSliderArrowBrighter.svg");
            filter: none;
        }

        &:hover::before {
            content: url("@images/utils/RightSmallSliderArrowDarker.svg");
            filter: none;
        }
    }
}

@media screen and (max-width:1024px) {
    .slick-next,
    .slick-prev {
        visibility: hidden;
    }
    .sliderClass .slick-dots li,
    .sliderClass .slick-dots li button,
    .sliderClass .slick-dots li button::before,
    .sliderClass .slick-dots li button::after {
        @include mut.sized(8px, 8px);
    }
}
