@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;

.privatePolicyContainer{
    position: relative;
    background: #F5F5F5;
    width: 100vw;
    height: 100%;
    padding: f.pxToRem(112px) f.pxToRem(10px) f.pxToRem(10px) f.pxToRem(10px);
    
    .wrapper{
        max-width: f.pxToRem(1200px);
        width: 100%;
        margin: 0 auto;
    }
    
    .link{
        color: #891F16;
    }

    section{
        margin-bottom: f.pxToRem(48px);
    
        .title{
            @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 20px);
            line-height: 26px;
            color: c.$lighter-black-color;   

            margin-bottom: f.pxToRem(24px);
        }
        
        .content{
            @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 300, $font-size: 20px);
            line-height: 27px;
            color: c.$lighter-black-color;      
        }

        ul {
            padding-left: f.pxToRem(30px);

            li::before{
                content: "";
                display: inline-block;       
                background-color: black;        
                @include mut.full-rounded(50%);
                @include mut.sized(4px, 4px);
                position: relative;
                top: f.pxToRem(-3px);
                left: f.pxToRem(-15px);
            }
        }
    }
    
    .disclaimer{
        background-color: white;
        @include mut.full-rounded(20px);    
        @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 300, $font-size: 20px);
        line-height: 27px;
    
        color: c.$lighter-black-color;
        box-shadow: 0px 5.57966px 5.57966px rgba(0, 0, 0, 0.25);
    
        padding: f.pxToRem(24px);
        margin: f.pxToRem(16px) 0 f.pxToRem(24px) 0;      
    }
}

@media screen and (max-width: 1024px) {
    .privatePolicyContainer{
        padding-top: f.pxToRem(94px);
        
        .disclaimer{
            @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 300, $font-size: 16px);
            line-height: 21px;
            padding: f.pxToRem(16px);
        }
        .link{
            text-decoration: underline !important;
        }
        section .content{
            @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 300, $font-size: 16px);
            line-height: 21px;
        }
    }    
} 
