@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use '@assets/sass/mixins/_utils.mixins.scss' as ut;
@use "@assets/sass/variables/_variables.layers.scss" as l;

.InstagramBlock {
    .sliderContainer {
        .slick-slider {
            .slick-arrow {
                top: 43%;
                @include mut.sized(68px, 101px);
            }

            .slick-prev,
            .slick-next {
                filter: none !important;
            }

            .slick-prev {
                left: 20px !important;

                &::before {
                    content: url("@assets/images/utils/LeftSmallSliderArrow.svg");
                    opacity: 0.9;
                    filter: none;
                }

                &:hover::before {
                    opacity: 1.0;
                }
            }

            .slick-dots {
                bottom: f.pxToRem(3px) !important;
            }

            .slick-next {
                right: 20px !important;

                &::before {
                    content: url("@assets/images/utils/RightSmallSliderArrow.svg");
                    opacity: 0.8;
                    filter: none;
                }

                &:hover::before {
                    opacity: 1.0;
                }
            }
        }

        .slick-track {
            @include mut.flexed($align-items: flex-start, $gap: 20px);
            @include mut.rem-padded($bottom: 30px);
            @include mut.rem-margined($top: 52px, $left: 20px);

            @media screen and (max-width: 1024px) {
                @include mut.rem-margined($top: 30px, $left: 20px);
            }

        }

        .instagramButton {
            height: f.pxToRem(46px);
            @include mut.full-rounded(14px);
            @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 500, $font-size: 14px);
            @include mut.rem-margined($left: 10px, $right: 10px, $top: 40px);
            padding: f.pxToRem(25px) 0;
            min-width: f.pxToRem(267px);
            text-align: center;
            @include ut.flex-centered();
            cursor: pointer;
            background-color: c.$accented-red-color;
            color: c.$pure-white-color;

            &:hover {
                background-color: c.$dark-red-color;
            }
        }
    }
}