@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.editor-page-container {
    @include mut.admin-page-base-layout();

    @include mut.with-font();
    .ant-tabs-nav {
        .ant-tabs-tab {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .dimmed {
        @include mut.sized(100%);
    }

    .editor-tabs {
        width: 100%;
    }

    .ant-tabs-tab {
        display: flex;
        justify-content: center ;
        align-items: center ;
        flex: 1 1 auto;
        padding: 10px 10px;

        .ant-tabs-tab-btn {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
    }



    .ant-tabs-tab:hover{
        color: c.$accented-red-color;
    }

    .ant-tabs-tab-active {
        background-color: rgba(224,64,49,0.08);
        .ant-tabs-tab-btn {
            color: c.$accented-red-color;
        }
    }
    .ant-tabs-ink-bar{
        background-color: c.$accented-red-color;
    }
}

.MainBlockContainer {

    .ant-switch-checked {
        background-color: c.$dark-red-color;
    }

}