@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.checkbox-container {
    display: flex;
    justify-content: space-between;

    &-flex {
        display: flex;
        justify-self: center;
    }

    p {
        margin-left: 5px;
    }
}

.link-container {
    gap: 5px;
    display: flex;
    align-items: center;
}

.partner-modal-container {
    .line-form-item div{
        @include mut.flexed($direction: row,
            $align-items: center,
            $justify-content: center,
            $wrap: nowrap,
            $gap: 0)
    }

    .partner-source-list .partner-source-list-item {
        @include mut.flexed($direction: row,
            $align-items: center,
            $justify-content: center,
            $wrap: nowrap,
            $gap: 5px)
    }
}  
.save{
    min-height: 50px;
}
.link-container{
    padding:5px;
    margin-bottom: 20px;
    border: solid rgb(237, 231, 231) 1px ;
    border-radius: 7px;
}
.link-container:hover{
    border-color: red ;
}
.social-media-form-item label {
    white-space: nowrap;
  }
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
.add-social-media-button{
    margin-bottom: 15px;
}
.add-social-media-button:hover{
    color:red!important;
    border-color:red!important;
}
.plus-button:hover{
    color: red!important;
    border-color:red!important;
}
.close-button {
    top: -5;
    right: 0;
    background-color: rgb(217, 61, 61);
    color:white;
    height: 30px;
  }
.close-button:hover {
    background-color: #891F16;
    color:white!important;
    border: none!important;
}
.custom-tooltip .ant-tooltip-inner {
    background-color: rgba(148, 139, 139, 0.871);
    color: white; 
}
