@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;

.text-form{
    display: flex;
    justify-content: center;
    flex-flow: column;
    
    h3{
        margin: f.pxToRem(7px) 0;
    }

    h4{
        margin: f.pxToRem(5px) 0;
    }

    p{
        color: black;
        text-align: right;
        font-size: small;
        font-family: ft.$roboto-font;
    }

    #main-text-selection-area{
        font-family: ft.$roboto-font;
        height: f.pxToRem(200px);
        padding: f.pxToRem(10px);
        resize: none;
    }

    .smaller-input{
        width: 65%;
    }

    .ant-input-show-count-suffix{
        position: relative;
    }

    .ant-form-item-required:before {
        content: "*";
        color: red;
        margin-right: 4px;
      }

}