@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;

.text-form{
    display: flex;
    justify-content: center;
    flex-flow: column;
    
    h3{
        margin: f.pxToRem(7px) 0;
    }

    h4{
        margin: f.pxToRem(5px) 0;
    }

    p{
        color: black;
        text-align: right;
        font-size: small;
        font-family: ft.$roboto-font;
    }

    textarea {
        font-family: ft.$roboto-font;
        height: f.pxToRem(200px);
        padding: f.pxToRem(10px);
        resize: none;
    }

    input{
        padding: f.pxToRem(10px);
        font-family: ft.$roboto-font;

        &::placeholder {
            font-size: small;
            color: c.$dark-red-color;
            opacity: 50%;
        }
    }

    .smaller-input{
        width: 65%;
    }

    .preview {
        height: f.pxToRem(180px);
        width: f.pxToRem(320px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: f.pxToRem(10px);
        border: 2px solid c.$dark-red-color;
        
        p{
            color: black;
        }
    }

}