.topSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    h1{
        font-weight: 500;
        font-size: 30px;
    }

    .swiper-slide {
        text-align: center;
        width: fit-content;
        border: 2px solid green;
        position:unset;

        &-active {
            font-weight: 500;
            font-size: 20px;
        }
    }
}

.swiper{
    justify-content: center;
}

.slider-arrow {
    &:hover {
      fill: #000000;
    }
}

.topSliderContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
}

.squareParent{
    position: relative;
}