@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.admin-login-form{
    padding-top: 100px;
    @include mut.sized(400px,200px);
    margin: auto;
    margin-top: 0;

    .ant-form-item-label {
        flex: 0 0 80px;
    }

    .captchaBlock {
        margin-bottom: f.pxToRem(24px);
    }

    .center {
        display: flex;
        justify-content: center;
    }
}
