@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

.modal {
    @include mut.sized(1200px, 46px); 
    @include mut.flex-centered();
    position: fixed;
    background-color: c.$pure-white-color;
    border: 2px solid #DB3424;
    border-radius: 11px;
    bottom: 4%;
    z-index: 1000;
    filter: drop-shadow(0px 2px 15px rgba(163, 163, 163, 0.25));
}

.closeModal {
    position: absolute;
    top: -20px;
    right: -24px;
    cursor: pointer;
}