@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/mixins/_wrapper.mixins.scss" as wr;

.interestingFactsContainer {
    @include mut.sized(90%, 784px);
    @include mut.flex-centered($direction: column);

    .blockHeadingContainer {
        margin-left: pxToRem(10px);
    }
}

.interestingFactsWrapper {
    @include wr.main-page-block-wrapper();
}

.interestingFactsSliderContainer {
    @include mut.sized(1200px, 660px);
    .slick-dots{
        @include mut.rem-padded($top:35px);
    }
}

.heightContainer,
.slick-list,
.slick-track {
    height: 100%;
}

.heightContainer {
    padding-top: pxToRem(23px);
}

.slick-center .interestingFactSlide {
    transform: scale(1.52);
}