@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

@mixin hoverStyles {
    transform: translate3d(0, 0, 0); //required to make safari use gpu for render filter:drop-shadow
    @include vnd.vendored(filter, 'drop-shadow(0 0 10px rgba(61, 0, 0, 0.25))');
    cursor: pointer;
    transform: scale(1.7);
}

.contactUsContainer {
    .contactBlock {
        position: relative;
        bottom: f.pxToRem(50px);

        .contactCover {
            position: relative;
            z-index: 1;
        }

        .contactLogo {
            position: absolute;
            top: f.pxToRem(-110px);
            left: f.pxToRem(-54px);
            z-index: 0;
        }

        .emailBlock {
            @include mut.flexed($align-items: baseline);
            margin-bottom: f.pxToRem(20px);
            @media screen and (max-width: 1024px) {
                @include mut.flexed($align-items: normal);
            }
            .icon {
                transform: scale(1.7);
                margin-right: f.pxToRem(20px);
                @media screen and (max-width: 1024px) {
                    transform: scale(1.025);
                    margin-right: f.pxToRem(5px);
                }
            }

            .icon:hover {
                @include hoverStyles;
            }
        }

        .socials {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                transition: all 0.2s ease;
                margin-right: f.pxToRem(35px);
                transform: scale(1.7);
                @media screen and (max-width: 1024px) {
                    transform: scale(1.025);
                }
            }

            .icon:hover {
                @include hoverStyles;
            }
        }

        .email {
            @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 36px);
            line-height: 48px;
            color: #1D1F23;
        }
    }
}

@media screen and (max-width: 1024px) {
    .contactUsContainer {
        .contactBlock {
            bottom: 0;

            .icon {
                transform: scale(0.6);
            }

            .contactLogo {
                @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 54px);
                line-height: 71px;
                width: f.pxToRem(140px);
                height: f.pxToRem(140px);

                top: f.pxToRem(-18px);
                left: f.pxToRem(220px);
            }

            .socials .icon {
                margin-right: f.pxToRem(20px);
            }

            .email {
                @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 20px);
                line-height: 26px;
                font-family: 'Closer Text';
                letter-spacing: 0.005em;
            }
        }
    }
}