@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.termDictionaryCover {
    @include mut.admin-page-base-layout();
    .wrapper {


        .PageBarContainer {
            width: unset;
        }
    }
}
.container-justify-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.termDictionaryContainer {
    flex-wrap:wrap;
    gap: f.pxToRem(10px);

    .dictionaryHeader {
        display: grid;
        grid-template-columns: 85% 15%;
        margin-bottom: f.pxToRem(40px);
        padding: 0 f.pxToRem(170px);
    }

    .termTable {
        padding: 0 f.pxToRem(170px);
    }

    .searchMenuElement {
        margin: 40px 10px 10px 10px;
        display: flex;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        max-width: 500px;
        border-radius: 4px;
    }

    .ant-input-affix-wrapper {
        width: 500px;
        height: 40px;
        padding: 0 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        border: 2px solid c.$slider-base-dot-color;
        border-radius: 6px;
    }

    .streetcode-custom-button {
        margin-left: f.pxToRem(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 200px;
        font-size: 16px;
        background-color: c.$accented-red-color;
        border: 2px solid c.$accented-red-color;
        color: c.$pure-white-color;
        border-radius: 5px !important;

        &:hover {
            background-color: c.$dark-red-color;
            border-color: c.$dark-red-color;
        }
    }
}

.controls{
    position: relative;
    button{
        border-radius: f.pxToRem(5px);
        font-size: 12pt;
        text-align: center;
        height: max-content;
        border: 0.025rem solid c.$dark-red-color;
        color: c.$dark-red-color;
        &:hover{
            box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem c.$dark-red-color;
            color: rgb(255, 255, 255);
        }
    }
}

.actionButton{
    border: none;
    background: transparent;

    .actionIcon{
        color: c.$dark-red-color;

        &:hover{
            scale: 1.35;
            transition: all 0.125s;
        }
    }
    .disableIcon{
        color: lightgray;
    }
}

.ant-table{
    .ant-table-thead .ant-table-cell {
        background-color: transparent;
        #text{
            color: white;
        }
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
        transform: none !important;
    }
}
.ant-pagination-item{
    border: 0.02rem solid transparent;
    color: c.$dark-red-color;
    a{
        color: c.$dark-red-color;
    }
}
.PaginationSelect {
    display: flex;
    align-items: center;
    gap: 10px;
}

