@use '../variables/variables.fonts' as ft;
@use '../variables/variables.colors' as c;
@use '../mixins/vendor.mixins' as vnd;
@use '../utils.functions' as *;

// --------------------------Positioning--------------------------
@mixin flexed($direction: row, $align-items: stretch,
              $justify-content: stretch, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
  gap: pxToRem($gap);
}

@mixin set-positioning($top, $right, $bottom, $left) {
  top: pxToRem($top);
  right: pxToRem($right);
  bottom: pxToRem($bottom);
  left: pxToRem($left);
}

@mixin positioned-as($position: relative, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: $position;
  @include set-positioning($top, $right, $bottom, $left);
}

@mixin sized($width: auto, $height: auto) {
  @if ($width == 'auto' or $width == 'inherit' or unit($width) == '%') {
    width: $width !important;
  } @else {
    width: pxToRem($width) !important;
  }
  @if ($height == 'auto' or $height == 'inherit' or unit($height) == '%') {
    height: $height !important;
  } @else {
    height: pxToRem($height) !important;
  }
}

@mixin parent-sized {
  @include sized(100%, 100%);
}

// --------------------------Centering----------------------------
@mixin flex-centered($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin absolute-centered($axes) {
  position: absolute;

  @if $axes == 'vertical' or $axes == 'v' {
    top: 50%;
    @include vnd.vendored(transform, translateY(-50%));
  }
  @else if $axes == 'horizontal' or $axes == 'h' {
    left: 50%;
    @include vnd.vendored(transform, translateX(-50%));
  }
  @else if $axes == 'both' or $axes == 'b' {
    top: 50%;
    left: 50%;
    @include vnd.vendored(transform, translate(-50%, -50%));
  }
}

// --------------------------Bordering----------------------------
@mixin rounded($top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0) {
  $rad: $top-left $top-right $bottom-right $bottom-left;

  border-radius: $rad !important;
  -webkit-border-radius: $rad !important;

  overflow: hidden !important;
  background-clip: padding-box;
}

@mixin full-rounded($rad) {
  @include rounded($rad, $rad, $rad, $rad);
}

@mixin circular($radius: 50px, $color: red) {
  width: pxToRem($radius);
  height: pxToRem($radius);
  @include full-rounded(50%);
  background: $color;
}

// --------------------------Margins-----------------------------
@mixin rem-margined($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: pxToRem($top) pxToRem($right)
          pxToRem($bottom) pxToRem($left) !important;
}

@mixin rem-padded($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: pxToRem($top) pxToRem($right)
          pxToRem($bottom) pxToRem($left) !important;
}
// --------------------------Appearance----------------------------
@mixin outlined($b-size: 2px, $color: red) {
  outline: $b-size solid $color !important;
}

@mixin hidden {
  display: none !important;
  visibility: hidden !important;
}

@mixin bg-image($file, $repeat: no-repeat) {
  background-image: url($file);
  background-repeat: $repeat;
  background-size: cover;
}
// --------------------------Text----------------------------------
@mixin truncated($line-num: 3) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @supports (-webkit-line-clamp: $line-num) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $line-num;
    -webkit-box-orient: vertical;
  }
}

// --------------------------Fonts---------------------------------
@mixin with-font(
  $font-family: ft.$roboto-font,
  $font-weight: normal,
  $font-size: 20px,
  $font-style: normal
) {
  font-family: $font-family;
  // px equivalent for browsers without rem support
  font-size: $font-size;
  font-size: pxToRem($font-size);
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin antialiased {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-face(
  $font-family,
  $file-path,
  $font-weight: normal,
  $font-style: normal,
  $fallback: sans-serif
) {
  $file-path: '@assets/fonts/#{$file-path}';

  @font-face {
    font-family: '#{$font-family}';

    src: url($file-path + '.eot');
    src: local($file-path),
      url($file-path + '.eot?#iefix') format('embedded-opentype'),
      url($file-path + '.woff2') format('woff2'),
      url($file-path + '.woff') format('woff');

    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }

  %#{$font-family} {
    font: {
      @if $fallback != '' {
        family: '#{$font-family}', #{$fallback};
      } @else {
        family: '#{$font-family}';
        weight: $font-weight;
      }
    }
  }
}