@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;

.timeSpanContainer {
  @include mut.sized(100%, 8px);
  background-color: c.$dark-red-color;
  margin-top: f.pxToRem(100px);
  overflow: visible;

  .timelineYearTicksContainer {
    @include mut.sized(100%, 30px);
    @include mut.flex-centered();
    gap: f.pxToRem(240px);
    @include mut.rem-padded(0, 100px, 20px, 100px);

    .timelineYearTick {
      @include mut.sized(21px, 21px);
      background-color: c.$timeline-reel-color;
      @include mut.flex-centered();
      @include vnd.vendored(transition, '.5s ease');

      &:hover {
        background-color: c.$dark-gray-color;
        cursor: pointer;
      }

      &:nth-child(4) {
        margin: 0 f.pxToRem(30px);
        @include mut.sized(42px, 42px);

        > * {
          bottom: f.pxToRem(50px);
          font-size: f.pxToRem(40px);
        }
      }

      > * {
        position: relative;
        bottom: f.pxToRem(30px);
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 20px);
      }
    }
  }
}