@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;

.activeLink {
  font-weight: 600;
}

.breadcrumbContainer {
  @include mut.with-font(/*$font-weight: 300,*/ $font-size:12px);
  position: absolute;
  top: f.pxToRem(34px);
  right: f.pxToRem(50px);

  > * {
    color: c.$dark-red-color;
    text-transform: uppercase;
  }
}

.ant-breadcrumb .ant-breadcrumb-separator  {
  margin-inline: 5px !important;
}

.ant-breadcrumb a, .ant-breadcrumb-link {
  color: c.$dark-red-color;
}

.separator {
  @include mut.sized(4px, 4px);
  display: inline-block;

  background-color: c.$dark-red-color;
  margin-bottom: f.pxToRem(2px);
}
@media (max-width: 1024px) {
  .breadcrumbContainer{
    top: f.pxToRem(10px);
    right: f.pxToRem(10px);
  }
}
@media (max-width: 660px) {
  .breadcrumbContainer{
    top: f.pxToRem(20px);
    right: f.pxToRem(10px);
  }
}