@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.actionButton {
    margin-right: 10px;
    color: c.$dark-red-color;
    transition-property: scale;
    transition-duration: .2s;

    &:hover {
        cursor: pointer;
        scale: 1.2;
    }
}

.paginationButton>li {
    border-color: c.$accented-red-color;

    a {
        color: c.$accented-red-color;
    }
}

.ant-table table {
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 18px);
}

.ant-table-tbody>tr>td {
    &:hover {
        cursor: pointer;
    }

    &:active {
        size: 1.3;
    }
}

.underTableElement {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    margin-right: 30px;

    .paginationElement,
    .pageAmountElement {
        @include mut.with-font($font-size: 16px);

        &:hover {
            border-color: c.$accented-red-color;
        }

        &:focus-within {
            border-color: c.$accented-red-color;
        }
    }

    .paginationElement {
        float: right;
    }

    .pageAmountElement {
        float: right;
    }
}