@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_utils.mixins.scss" as mut;

.blockHeadingWrapper {
    @include mut.sized(100%, 124px);
    @include mut.rem-margined($top: 26px, $right: 0, $bottom: 26px, $left: 0);
    @include mut.flexed($justify-content: center);
}

.blockHeadingContainer {
    @include mut.flexed($justify-content: flex-start);
    max-width: f.pxToRem(1200px);
    width: 100%;
    position: relative;
}

.rhombus{
    height: 100%;
    z-index: 0;
    position: absolute;
    left: -62px;
    .svg{
        height: 100%;
        width: 100%;
    }
}

.blockHeadingTextContainer{
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 40px);
}

.blockHeadingText {
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 40px);
}

.blockHeadingText::first-letter {
    text-transform: uppercase;
}

@media (max-width: 1350px) {
    .rhombus{
        left: -36px;
    }
    .blockHeadingTextContainer{
        @include mut.rem-padded($right: 10px, $left: 10px);
    }
}

@media (max-width: 1024px) {
    .blockHeadingWrapper {
        @include mut.sized(100%, 110px);
        @include mut.rem-margined($top: 40px, $right: 0, $bottom: 20px, $left: 0);
        @include mut.flexed($justify-content: center);
    }
}

@media (max-width: 768px) {
    .blockHeadingText {
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 32px);
    }
}
