@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_utils.mixins.scss" as mut;

.blockHeadingWrapper {
    @include mut.sized(100%, 124px);
    @include mut.flex-centered();
    margin-top: f.pxToRem(80px);
    margin-bottom: f.pxToRem(26px);
    // margin-left: f.pxToRem(139px);

    svg {
        z-index: 0;
        margin-left: f.pxToRem(-62px);
    }
}

.blockHeadingContainer {
    width: f.pxToRem(1200px);
    @include mut.flexed($justify-content: flex-start);
}

.blockHeadingText {
    @include mut.positioned-as(relative, $left: -62px, $top: 41px);
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 40px);
}

.blockHeadingText::first-letter {
    text-transform: uppercase;
}

@media (max-width: 1350px) {
    .blockHeadingWrapper{
        margin-left: f.pxToRem(28px);
    }
}

@media (max-width: 768px) {
    .blockHeadingWrapper{
        margin-left: f.pxToRem(28px);
    }
    .blockHeadingText {
        @include mut.positioned-as(relative, $left: -71px, $top: 35px);
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 32px);
    }
}

@media (max-width: 480px) {
    .blockHeadingText {
        @include mut.positioned-as(relative, $left: -71px, $top: 35px);
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 32px);
    }
}

@media (max-width: 280px) {
    .blockHeadingText {
        @include mut.positioned-as(relative, $left: -71px, $top: 50px);
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 22px);
    }
}