@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_utils.mixins.scss" as mut;

.blockHeadingWrapper {
    @include mut.sized(100%, 124px);
    @include mut.flex-centered();
    margin-bottom: f.pxToRem(26px);

    svg {
        z-index: 0;
        margin-left: f.pxToRem(-62px);
    }
}

.blockHeadingContainer {
    width: f.pxToRem(1200px);
    @include mut.flexed($justify-content: flex-start);
}

.blockHeadingText {
    @include mut.positioned-as(relative, $left: -62px, $top: 41px);
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 40px);
}

.blockHeadingText::first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .blockHeadingText{
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 32px);
        margin-left: -35px;
    }
    .blockHeadingWrapper {
        margin-bottom: f.pxToRem(0px);
        svg {
            margin-left: f.pxToRem(-15px);
        }
    }
    .blockHeadingContainer{
        @include mut.flexed($justify-content: flex-start);
    }
}
@media screen and (max-width: 360px){
    .blockHeadingText{
        @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 32px);
        margin-left: 0px;

    }
    .blockHeadingContainer {
        margin-bottom: f.pxToRem(0px);
        svg {
            //position: absolute;
            margin-left: f.pxToRem(-20px);
            display: block;
        }
    }
}