@use "@sass/_utils.functions.scss" as f;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

.dictionary-wrapper{
    margin-left: f.pxToRem(10px);
    
    .dictionary-header{
        padding-top: f.pxToRem(10px);
        text-align: center;
    }
    
    .dictionary-table-wrapper{
        padding: f.pxToRem(7px);
        padding-right: f.pxToRem(10px);
        height: f.pxToRem(345px);
        overflow: auto;
        border: f.pxToRem(1px) solid lightgray;
        
        @include mut.full-rounded(12px);

        &::-webkit-scrollbar {
            width: .765rem;
        }
        
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track {
            @include mut.full-rounded(15px);
        }
        
        &::-webkit-scrollbar-thumb {
            background: c.$card-scrollbar-track-color;
        }
        
        &::-webkit-scrollbar-track {
            background: c.$accented-gray-color;
            @include mut.rem-margined();
        }
    }    
}

