@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;

$timelineItemImg: "@assets/images/TimelineItem.png";

.timelineContainer {
  margin: f.pxToRem(50px) 0;
  padding-right: f.pxToRem(10px);
  @include mut.sized(100%, 536px);
  background-color: c.$timeline-reel-color;
}

.timelineItemContainer {
  margin: f.pxToRem(45px) 0;
  @include mut.sized(100%, 336px);
  @include mut.flex-centered();
  gap: f.pxToRem(36px);
}