@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use "@assets/sass/_utils.functions.scss" as *;

.audioPlayer {
  @include mut.sized(1200px, 30px);
  @include mut.flex-centered();
}

.play {
  margin-right: pxToRem(23px);
  cursor: pointer;
}
  
.progressBar {
  --bar-bg: #DFDFDF;
  --seek-before-width: 0;
  --seek-before-color: #DB3424;
  --knobby: #D9D9D9;

  @include mut.flex-centered();
  appearance: none;
  position: relative;
  @include mut.sized(1081px, 3px);
}
.progressBar::-webkit-slider-runnable-track {
  background: rgba($color: #DFDFDF, $alpha: .43);
  @include mut.sized(100%, 3px);
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: rgba($color: #DFDFDF, $alpha: .43);
  position: relative;
  @include mut.sized(100%, 3px);
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: '';
  height: 3px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 3px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include mut.sized(13px, 13px);
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  margin-top: -5px;
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  @include mut.sized(13px, 13px);
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

