@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/_utils.functions.scss" as f;

.react-player{
  max-width: 1200px;
  @include mut.full-rounded(50px);
}
.player-wrapper{
  @include mut.flex-centered();
  margin-left: f.pxToRem(10px);
  margin-right: f.pxToRem(10px);
}