@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.contactUsContainer{
    position: relative;

    height: 100%;
    width: 100vw;

    background-color: c.$accented-grayish-gray-color;
    padding: f.pxToRem(112px) f.pxToRem(10px) 0 f.pxToRem(10px);

    .wrapper{
        max-width: f.pxToRem(1200px);
        @include mut.sized(100%, 100%);
        margin: 0 auto;
    }

    .contactUsCover{
        padding-bottom: f.pxToRem(100px);
    }
}

@media screen and (max-width: 1024px) {
    .contactUsContainer{
        padding: f.pxToRem(94px) f.pxToRem(10px) 0 f.pxToRem(10px);   

        .titleBlock{
            margin-bottom: f.pxToRem(80px);    
        }
    } 
}

@media screen and (max-width: 480px) {
    .contactUsContainer{
        .contactUsCover{
            padding-bottom: f.pxToRem(24px);
        }
    } 
}

