@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.donateBtnContainer {
  z-index: 4;
  @include mut.positioned-as(relative, $right: 30px);
  @include mut.flex-centered($direction: column);

  .donateBtnCircle {
    @include mut.circular(62px);
    @include vnd.vendored(transition, 'filter 1s ease');

    @include mut.flex-centered();
    border: 3px solid c.$accented-red-color;
    margin-bottom: f.pxToRem(5px);

    &:hover {
      cursor: pointer;
      @include vnd.vendored(filter, '#{c.$hovered-btn-filter-color}');
      color: c.$dark-red-color;
    }
  }

  .donateBtnText {
    text-transform: capitalize;
    color: c.$accented-red-color;
    @include mut.with-font($font-size: 15px, $font-weight: 500);
  }
}

@media screen and (max-width: 1024px) {
  .donateBtnContainer{
    @include mut.positioned-as(relative, $right: 10px);
    .donateBtnCircle {
      @include mut.circular(50px);

      svg{
        transform: scale(0.8);
      }
    }
  }
}