@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;

.readMore {
    color: c.$dark-red-color;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.readMoreContainer {
    @include mut.rem-margined($top: 35px,$bottom: 50px);
    @include mut.with-font($font-weight: 600)
}

.mainTextContent {
    white-space: pre-line;
    @include mut.rem-margined($bottom: 35px);
}

.textShort {
    @include mut.truncated($line-num: 25);
}

.text{
    white-space: pre-line;
    margin: 0 10px 0 10px;
}

@media screen and (max-width: 1024px){
    .text{
        font-size: 16px;
        margin: 10px;
        line-height: 21px;
    }
    .readMore{
        font-size: 16px;
        line-height: 18.75px;
    }
    .readMoreContainer {
        @include mut.rem-margined($top: 20px,$bottom: 20px);
        @include mut.with-font($font-weight: 600)
    }
}

@media screen and (max-width: 480px){
    .readMore{
        display: flex;
        justify-content: center;
    }

}