@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.text {
    white-space: pre-line;

    ul {
        @include mut.list-styles($type: disc);
    }

    ol {
        @include mut.list-styles($type: decimal);
    }
}

@media screen and (min-width: 481px) {
    .readMore {
        color: c.$dark-red-color;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    .readMoreContainer {
        @include mut.rem-margined($top: 35px);
        @include mut.with-font($font-weight: 500);
    }

    .mainTextContent {
        white-space: pre-line;
        @include mut.rem-margined($bottom: 35px);
    }

    .text {
        margin-right: f.pxToRem(10px);
    }
}

@media screen and (max-width: 1024px) {
    .text {
        font-size: f.pxToRem(16px);
        @include mut.rem-margined($top: -10px, $right: 10px, $left: 10px  );
        line-height: f.pxToRem(21px);
    }
    .readMore{
        font-size: f.pxToRem(16px);
        line-height: f.pxToRem(18.75px);
        display: flex;
        align-items: center;
    }
    .readMoreContainer {
        @include mut.rem-margined($top: 20px);
        @include mut.with-font($font-weight: 600)
    }
}

@media screen and (max-width: 480px){
    .readMore{
        color: c.$dark-red-color;
        display: flex;
        justify-content: center;
    }

    .readLessContainer{
        position: sticky;
        bottom: 40px;
    }

    .readLess {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        background-color: white;
        border-radius: 8px;
        border-style: solid;
        border-width: 2px;
        width: 252px;
        color: #E04031!important;
        margin: auto;
        font-size: 14px;
        font-weight: 500;
    }
}

