@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;

.timelineItem {
  @include mut.sized(604px, 366px);
  @include mut.full-rounded(30px);
  backdrop-filter: blur(2px);

  &:hover {
    cursor: pointer;
    backdrop-filter: blur(2px) brightness(110%);
  }
}

.timelineItemContent {
  margin: f.pxToRem(24px) f.pxToRem(26px);

  .timelineItemDate {
    margin-bottom: f.pxToRem(27px);
    @include mut.with-font($font-weight: 600);
    color: c.$darker-gray-color;
  }

  .timelineItemTitle {
    margin-bottom: f.pxToRem(22px);
    @include mut.with-font($font-weight: 600, $font-size: 36px);
    color: c.$dark-red-color;
  }

  .timelineItemDescription {
    @include mut.with-font($font-weight: 500);
    color: c.$dark-gray-color;
  }
}