@use "@sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
.ant-message {
    position: absolute;
    top: 100px !important;
    width: f.pxToRem(400px) ;
  }
.mainblock-add-form{
    @include mut.with-font();
   .ant-form-item-label>label{
        @include mut.with-font();

    }
   
    .maincard-item{
        width:f.pxToRem(500px) ;
        margin: 10px 0;
    }
    .ant-input{
        align-self:center;
        @include mut.with-font();
    }
    .ant-select,
    .ant-select-selector,
    .ant-select-selection-search-input,
    .ant-picker{
        @include mut.with-font();
    }
    
    .people-title-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .stretcode-title-people{ 
        width:f.pxToRem(200px) ;
    }
    .streetcode-number-container{
        width:f.pxToRem(400px) ;
        justify-content: space-between;
        display: flex;
        flex-direction: row;

    }
    .textarea-teaser{
        height:f.pxToRem(80px);
    }
    .ant-input-textarea>textarea{
        resize: none;
    }
    .ant-picker {

        .ant-picker-input> input{
            @include mut.with-font();
        }
        width: 100%;
        box-sizing: border-box;
       
    }
    .date-picker-qroup{
        margin:f.pxToRem(20px) 0;
        width: f.pxToRem(750px);
        display: flex;
        align-items: bottom;
        flex-direction: row;
        justify-content: left;
        .date-picker-type-input{
            width: 100%;
            margin-bottom: f.pxToRem(10px);
        }
        .date-picker-qroup-item{
            width: f.pxToRem(200px); 
        }
        p{
            margin-left: f.pxToRem(10px);
            display: block;
            align-self:flex-end;
        }
        .date-string-input{
            width: f.pxToRem(360px);
            display: flex;
            align-items: end;
            input{
                width: f.pxToRem(360px);
            }
        }
        .date-string-input input:disabled{
            background-color: #fff;
            color: #000;
            cursor: default;
        }
        
    }
    .photo-form-item{
        width: f.pxToRem(750px);
    }
    .teaser-form-item{
        width: f.pxToRem(750px);
        .textarea-teaser{
            resize: none;
        }
        .amount-left-char-textarea-teaser{
            text-align: right;
            .warning{
                color:c.$accented-red-color ;
            }
        }
    }
    .tags-block{   
        display: flex;
        flex-direction: row;
        width: f.pxToRem(750px);
        .tags-block-tagitems{
            width: 80%;
            .tags-select-input{
                width: 100%;
            }
        }
        .device-sizes-list{
            width: 20%;
            text-align: center;
            transition: font-weight 1s, color 0.7s;
            .device-size:hover{
                color: c.$dark-red-color;
                font-weight: 600;
                transition: font-weight 1s, color 0.7s;
            }
        }
    }
    .file-upload-container{
        width: f.pxToRem(750px);
        .photo-uploader-container{
            display: flex;
            flex-direction: row;
        }
        .audio-upload-box{
            height: f.pxToRem(40px);
            background-color: c.$timeline-reel-color;
        }
    }
    
}

