@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.relatedFiguresWrapper {
    width: 100%;
    height: pxToRem(681px);

    margin-bottom: pxToRem(110px);

    @include mut.flex-centered();
}

.relatedFiguresContainer {
    width: 90%;
    height: 100%;

    @include mut.flexed($direction: column, $align-items: center);
    
    .moreInfo{
        width: pxToRem(1200px);

        padding-top: pxToRem(49px);

        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: pxToRem(20px);
            line-height: pxToRem(25px);
            text-decoration-line: underline;
    
            color: c.$dark-red-color;
        }
    }
}

.relatedFiguresSliderContainer {
    width: pxToRem(1200px);
    height: auto;

    .heightContainer,
    .slick-list,
    .slick-track,
    .sliderClass {
        height: 100%;
    }
    
    .slick-list {
        height: pxToRem(452px);

        @include mut.rem-padded($left: 1px);
    }
}