@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.slideArt {
  flex: pxToRem(80px);
  height: pxToRem(560px);
}

.img_wrap {
  position: relative;  
}

.img_data {
  @include mut.sized(100%, 113px);
  position: absolute;
  @include mut.set-positioning($top: "auto", $right: "auto", $bottom: 0, $left: "auto");
  background: rgba(0, 0, 0, 0.5);
  color: c.$pure-white-color;
  visibility: hidden;
  opacity: 0;
  @include mut.rounded( $bottom-right: 30px, $bottom-left: 30px);
  padding: pxToRem(11px) pxToRem(21px);
} 

.img_wrap:hover .img_data-full {
  visibility: visible;
  opacity: 1;
}

.img_title {
  @include mut.with-font;
  @include mut.rem-padded($bottom: 5px);
}

.img_description {
  @include mut.with-font($font-size: 15px);
}
