@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.donate-button{
    border: f.pxToRem(3px) solid;
    border-color: c.$accented-red-color;
    background-color: c.$pure-white-color; 
    color: c.$accented-red-color;

    &:hover {
        box-shadow: 0 5px 5px rgba(219, 52, 36, 0.18);
    }
}

@media screen and (max-width: 670px) {
    .donate-button{
        border: f.pxToRem(2px) solid !important;    
    }
}