@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@features/AdminPage/NewStreetcode/ForFansBlock/ForFansAdminItem/ForFansAdminItem.style.scss" as item;

.navBarContainer{
    position: sticky !important;
}
.forFansBlock {
  overflow: auto;  
  @include mut.sized(61%, 215px);
  @include mut.flex-centered($direction: column);
  position: block;

  .forFansHeader{
    @include mut.sized($width: 100%, $height: 60px);
    font-size: large;
    padding: 10px;
    align-items: left;
}

    .forFansContainer{
        @include mut.sized($width: 100%, $height: 100%);
        display: flex;
        gap: 5px;
        overflow: scroll;
        flex-wrap: wrap;
        flex-basis: auto;
        justify-content: flex-start;
        overflow-x: hidden;

 &::-webkit-scrollbar {
    width: .765rem;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    @include mut.full-rounded(15px);
  }

  &::-webkit-scrollbar-thumb {
    background: c.$card-scrollbar-track-color;
  }

  &::-webkit-scrollbar-track {
    background: c.$accented-gray-color;
  }

        .addNewCategory{
            justify-content: center;
            justify-items: center;
            display: block;
            position: flex;
            @include mut.sized($width: item.$itemWidth,$height: 50px);
            @include mut.flex-centered();  
            border: 1.5px solid c.$dark-red-color;
            @include mut.full-rounded($rad: 7.86px);
            @include mut.rem-padded($left: 9.5px, $top: 5.5px, $right: 9.5px, $bottom: 5.5px);
            color: c.$dark-red-color;

            &:hover{
               cursor: pointer;
                background-color: c.$dark-red-color;    
                color: white !important;
                transition: all .5s ease-out;
            }
        }
    }
}