@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.ant-drawer .ant-drawer-body{
  padding-top: 0;
  padding-bottom: f.pxToRem(33px);
}

.ant-drawer-content-wrapper {
  width: f.pxToRem(262px) !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 2% 98%;
  position: absolute;
  left: 20%;
  height: 100vh;
}

.customSlider {
  position: absolute;
  top: f.pxToRem(13px);
  max-height: f.pxToRem(365px);
  width: 25%;
}

.customSlider-track {
  top: f.pxToRem(8px);
  width: f.pxToRem(1.5px);
  background: c.$normal-gray-color;
  position: relative;
}

.thumb {
  cursor: default;
  position: absolute;
  left: -(f.pxToRem(5.2px));
  z-index: 100;
  background: c.$dark-red-color;
  border: f.pxToRem(6px) solid c.$dark-red-color;
  display: block;
  transition: all;
  transition-duration: 0.5s;
}

.drawerContainer{
  height: fit-content;
}

.ant-drawer .ant-drawer-header{
  padding: f.pxToRem(20px) f.pxToRem(15px);
  border: 0;
  .ant-drawer-header-title{
    padding: 0;
  }
  .ant-drawer-close {
    padding: 0;
  }
}

.drawerContainer,
.ant-drawer-header-title {
  justify-content: flex-end;
}

.headerDrawerContainer {
  #active{
    color: c.$dark-red-color;
  }
  @include mut.flexed(column, $align-items: flex-start, $gap: 39px);
  margin-left: f.pxToRem(40px);
  * {
    @include mut.with-font(ft.$closer-text-font);
    line-height: f.pxToEm(26px);
  }
}

@media (max-width: 1024px) {
  .headerDrawerContainer {
    @include mut.flexed(column, $align-items: flex-start, $gap: 20px);
    margin-left: f.pxToRem(40px);
    * {
      @include mut.with-font(ft.$closer-text-font, $font-size: 16px);
      line-height: f.pxToEm(22px);
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1% 99%;
    position: absolute;
    left: 15%;
    max-height: 100vh;
  }
  .socialIconHeaderContainer {
    position: absolute;
    top: 24rem;
    padding-left: f.pxToRem(7px);
    @include mut.with-font($font-weight: 300, $font-size: 16px);
    > * {
      display: inline;
      margin-top: pxToRem(40px);
      margin-right: pxToRem(14.62px);
      padding-right: 0.7rem;
    }
  }
  .customSlider {
    top: f.pxToRem(5px);
    max-height: f.pxToRem(322px);
  }
  .ant-drawer-content-wrapper{
    border-radius: 0 0 0 f.pxToRem(50px);
    height: f.pxToRem(525px);
  }
  .ant-drawer-content {
    border-radius: 0 0 0 f.pxToRem(50px);
    height: f.pxToRem(525px);
  }
  .thumb {
    background: c.$dark-red-color;
    border: f.pxToRem(5px) solid c.$dark-red-color;
    display: block;
    transition: all;
    transition-duration: 0.5s;
  }
}
