@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.ant-drawer-header-title {
  justify-content: flex-end;
}

.ant-drawer-close {
  padding: 0;
}

.ant-drawer-content-wrapper {
  width: f.pxToRem(262px) !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 2% 98%;
  position: absolute;
  left: 20%;
}

.customSlider {
  position: absolute;
  left: 12%;
  bottom: 62%;
  height: f.pxToRem(380px);
  width: 25%;
}

.customSlider-track {
  top: f.pxToRem(8px);
  width: f.pxToRem(1.5px);
  background: c.$normal-gray-color;
  position: relative;
}

.thumb {
  cursor: default;
  position: absolute;
  left: -(f.pxToRem(5.2px));
  z-index: 100;
  background: c.$dark-red-color;
  border: f.pxToRem(6px) solid c.$dark-red-color;
  display: block;
  transition: all;
  transition-duration: 0.5s;
}


.headerDrawerContainer {
  #active{
    color: c.$dark-red-color;
  }
  @include mut.flexed(column, $align-items: flex-start, $gap: 39px);
  margin-left: f.pxToRem(50px);
  * {
    @include mut.with-font(ft.$closer-text-font);
    line-height: f.pxToEm(26px);
  }
}