@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as *;

.footer-component{
     @include mut.sized(100%, 244px);
}
.footer-container{  
    background-color: c.$dark-red-color;
    @include mut.sized(100%, 206px);
}
.copy-right-sec{
    
    @include mut.sized($height: 38px);
    background-color: c.$pure-white-color;
    @include mut.flex-centered();
    color:  c.$copyright-section-color;
    @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 400, $font-size: 13.03px);
}
.footer-icon{
    @include mut.sized(175px, 95.84px);
    display: flex;
    justify-content: center;
    margin-top: pxToRem(45px);
    margin-left: auto;
    margin-right: auto;
}
.block-footer-icon{
    float: left;
    @include mut.sized($width: 26%);
}

.useful-links{
    float: left; 
    @include mut.sized($width: 60%);
}
.use-links{
    color: c.$pure-white-color;
    list-style-type: none;
    margin-top: pxToRem(29px);
    float: left;
    margin-right: 10%;
    @include mut.with-font($font-weight: 300, $font-size: 15px);
}
.support-links{
    text-decoration: underline;
}
.li-item{
    margin-bottom: pxToRem(8px);
}
.social-icons{
    color: c.$pure-white-color;
    list-style-type: none;
    @include mut.with-font($font-weight: 300, $font-size: 15px);
    margin-top: pxToRem(29px);
    float: left;
    display:inline;
}
.fa-brands{
    display:inline;
    margin-right: pxToRem(14.62px);
}
