@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use '@sass/variables/variables.fonts' as ft;
@use '@sass/variables/variables.colors' as c;

.statisticsContainerAdmin{
  @include mut.sized(350px, 350px);
  @include mut.positioned-as(absolute, 150px, 0, 0, 100px);
  @include mut.rem-padded(5px, 5px, 5px, 5px);
  background: c.$pure-white-color;
  z-index: 2;
  border: 3px solid #787878;
  box-shadow: 0px 7px 11px 2px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  
  .input-id{
    @include mut.sized(300px, 40px);
    @include mut.full-rounded(10px);
    @include mut.rem-margined(16px, 0, 15px, 20px);
    @include mut.flexed();
}
  .input-streets{
    @include mut.sized(300px, 40px);
    @include mut.full-rounded(10px);
    @include mut.rem-margined(16px, 0, 15px, 15px);
    border: 3px solid #787878;
    border-radius: 23px;
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(219, 52, 36, 0.1));
      border-color: c.$accented-red-color;
    }
    
  }

  .input-stnumber{
    @include mut.sized(300px, 40px);
    @include mut.full-rounded(10px);
    @include mut.rem-margined(16px, 0, 15px, 15px);
    border: 3px solid #787878;
    border-radius: 23px;
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(219, 52, 36, 0.1));
      border-color: c.$accented-red-color;
    }
    
  }
  .red {
    border-color: red;
  }
  
  .green {
    border-color: green;
  }
  
  .notification {
    @include mut.with-font(ft.$roboto-font, 500, 13px, normal);
    line-height: 20px;
    @include mut.rem-padded(20px, 0, 0, 20px);
    color: c.$accented-red-color;
  }
  .onMapbtn {
    @include mut.sized(300px, 60px);
    @include mut.rem-margined(16px, 0, 15px, 15px);
    @include mut.full-rounded(14px);
    a {
      @include mut.with-font($font-weight: 500);
      border-width: 3px;
      border-color: c.$accented-red-color;
      color: c.$accented-red-color;
    }
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(219, 52, 36, 0.1));
      border-color: c.$accented-red-color;
    }
  }
  
  h1{
    @include mut.with-font(ft.$roboto-font, 500, 22px, normal);
    line-height: 26px;
    @include mut.rem-padded(20px, 20px, 0, 20px);
    color: c.$accented-red-color;
  }

  .streetsBlock{
    @include mut.rem-padded($top:10px);
    width:100%;
    
    p{
      @include mut.flexed($direction:row, $gap:5px);
      @include mut.with-font(ft.$roboto-font, 300, 20px, normal);
      line-height: 134.19%;
      color: c.$lighter-black-color;
      padding-left: f.pxToRem(20px);
    }
    
    span{
      @include mut.with-font($font-weight:500, $font-size:22px);
      color: c.$accented-red-color;
    }
  }
}