@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/_utils.functions.scss" as f;

.contactUsModal {
    &.ant-modal {
        .ant-modal-content {
            @include mut.full-rounded(20px, $overflow: visible);
            @include mut.rem-padded(0px);
            box-shadow: 0 7px 11px 2px rgba(0, 0, 0, 0.25);
        }
        .ant-modal-close {
            @include mut.positioned-as(absolute, $left: 94%, $top: -25px);
            @include mut.circular(80px, c.$pure-white-color);
    
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .ant-modal-close-x{
              font-size: 24px;
            }
            &:hover {
              background-color: c.$modal-hover-color;
            }
          }
    }
}

@media screen and (max-width: 1024px) {
    .contactUsModal {
        @include mut.sizedImportant(90%, 498px);

        .formWrapper {
            @include mut.rem-margined($top: 0px);
        }
        
        &.ant-modal {
            .ant-modal-close {
                @include mut.sizedImportant(60px, 60px);
                @include mut.circular(65px, c.$pure-white-color);

                .ant-modal-close-x svg{
                    transform: scale(0.9);
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .contactUsModal {
        &.ant-modal {
            .ant-modal-close {
                @include mut.positioned-as($position: absolute, $left: 92.36%, $top: -13px);
                @include mut.sizedImportant(40px, 40px);
                @include mut.circular(65px, c.$pure-white-color);
        
                .ant-modal-close-x svg{
                  transform: scale(0.6);
                }
              }
        }
    }
}

.headerItem {
    background-color: transparent;
    border: none;
    text-align: left;
    color: inherit;
    text-decoration: none;
}

.headerItem:hover {
    cursor: pointer;
    color: c.$dark-red-color;
}

.headerItem:after {
    content: '';
    background-color: c.$dark-red-color;
    color: c.$dark-red-color;

    @include mut.sized(100%, 2px);
    @include mut.positioned-as(absolute, $bottom: 0, $left: 0);
}