@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

$timelineLvivImg: "@assets/images/timeline/Lviv.png";
$timelineSquareImg: "@assets/images/timeline/Square.png";

.timelineContainer{
  width: 100vw;
  align-self: center;
  align-items: center;

  &.container{
    margin-top: f.pxToRem(155px);
  }

  .timelineContentContainer {
  margin: f.pxToRem(50px) auto 0 auto;
  background-color: c.$timeline-reel-color;

  .sliderClass {
    @include mut.sized(100%, 380px);
    @include mut.rem-margined($bottom: 30px, $top: 30px);
  }

    .slick-slider {
      @include mut.parent-sized();
    }

    .slick-list {
      margin:f.pxToRem(0) !important;
    }

  .slick-track {
    @include mut.rem-margined($top: 30.50px, $right: 0px, $bottom: 30.50px, $left: 0px);
    display: flex;
    @include mut.flexed($align-items: center);
    @include vnd.vendored(transition, 'transform 800ms ease-in-out !important');

    .slick-slide >div{
      border-radius: 40px;
      place-items: center;
    }
    .slick-slide {
      border-radius: 40px;
      border-width:f.pxToRem(15px) f.pxToRem(15px);
      border-style: solid ;
      border-color: c.$timeline-reel-color;
      @include mut.bg-image($timelineSquareImg);
      

      background-size:f.pxToRem(605px) f.pxToRem(365px);
      background-position: center;   

      &:nth-child(2n + 1) {
        @include mut.bg-image($timelineLvivImg);
        background-position: center;
      }

      @include vnd.vendored(transition, 'border 500ms ease');
    }
    
    .slick-current {
      border-radius: 40px;
      box-shadow: inset  0px 0px 0px 6px c.$pure-white-color;
    }
  }
}
}

@media screen and (max-width: 1450px) {
  .timelineContainer{
    &.container{
      margin-top: f.pxToRem(80px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .timelineContainer{
    &.container{
      margin-top: f.pxToRem(65px);
    }

    .timelineContentContainer {
      margin: f.pxToRem(28px) auto;
      .sliderClass{
        @include mut.rem-margined($bottom: 10px, $top: 10px);
      }

      .slick-track {
        @include mut.rem-margined($top: 11px, $right: 0px, $bottom: 11px, $left: 0px);
        .slick-slide >div{
          height: min-content;
          border-radius: 20px;
          place-items: center;
        }
        .slick-slide {
          border-radius: 20px;
          border-width:f.pxToRem(7px) f.pxToRem(7px);
          background-size:f.pxToRem(295px) f.pxToRem(185px);
          background-position: center;  
        }
        .slick-current {
          box-shadow: inset  0px 0px 0px 3px c.$pure-white-color;
        }
      }
    }
  }
}