@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

$timelineLvivImg: "@assets/images/timeline/Lviv.png";
$timelineSquareImg: "@assets/images/timeline/Square.png";
.timelineContainer{
  width: 100vw;
  max-width: f.pxToRem(1600px);
  //width: f.pxToRem(1600px);
  align-self: center;
  align-items: center;
  margin: f.pxToRem(50px) auto;

  .timelineContentContainer {
 // margin: f.pxToRem(50px) 0;
  margin: f.pxToRem(50px) auto;
  background-color: c.$timeline-reel-color;

   .sliderClass {
    @include mut.rem-margined($bottom: 25px, $top: 30px /*30px*/);
  } 

  .slick-slider {
    @include mut.parent-sized();
  }

  .slick-list {
    margin:f.pxToRem(15px) 0  ;
  }

  .slick-track {
    
    display: flex;
    @include mut.flexed($align-items: center);
    @include vnd.vendored(transition, 'transform 800ms ease-in-out !important');

    .slick-slide >div{
      border-radius: 40px;
      place-items: center;
    }
    .slick-slide {
      border-radius: 40px;
      border-width:f.pxToRem(15px) f.pxToRem(15px);
      border-style: solid ;
      border-color: c.$timeline-reel-color;
      @include mut.bg-image($timelineSquareImg);
      background-size:f.pxToRem(604px) f.pxToRem(365px) ;
      background-position: center;
      

      &:nth-child(2n + 1) {
        @include mut.bg-image($timelineLvivImg);
        background-position: center;
      }

      @include vnd.vendored(transition, 'border 500ms ease');
    }
    

    // .slick-current + .slick-slide {
    .slick-center {
      border-radius: 40px;
      box-shadow: inset  0px 0px 2px 6px c.$pure-white-color;

      .timelineItemContent {
        margin-top: calc(1.5rem - 4px);
      }
    }
  }
}
}