@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.InstagramSliderItem {
    @include mut.sized($width: 300px, $height: 396px);
    @include mut.full-rounded($rad: 50px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: c.$pure-white-color;

    .imageContainer {
        @include mut.flexed($align-items: flex-start);
        @include mut.sized($width: 300px, $height: 300px);
        @include mut.rounded($top-left: 50px, $top-right: 50px);
        border: 6px solid c.$pure-white-color;
    }

    .textContainer {
        @include mut.flexed($align-items: flex-start);
        @include mut.sized($width: 300px, $height: 97px);
        padding: f.pxToRem(11px) f.pxToRem(20px) f.pxToRem(16px);

        position: absolute;
        @include mut.rounded($bottom-left: 50px, $bottom-right: 50px);
        background-color: c.$pure-white-color;

        p {
            @include mut.with-font($font-family: ft.$roboto-font, $font-weight: 300, $font-size: 15px);
            line-height: 17.58px;
        }
    }
}