@use "@sass/mixins/utils.mixins" as mut;
@use "@sass/variables/variables.fonts" as ft;
@use "@sass/variables/variables.colors" as c;
@use "@sass/utils.functions" as f;

.firstPasswordInputWrapper {
  @include mut.flexed(
          $direction: column,
          $wrap: nowrap,
          $gap: 4px
  );

  .passwordMessage {
    @include mut.colored($color: c.$lighter-black-color);
  }

  .passwordMessageInvalid {
    @include mut.colored($color: c.$ant-menu-text-color);
  }
}

.passwordInputField {
  @include mut.sized(480px, 44px);
  border-color: c.$darkish-gray-color;

  &:focus {
    border-color: c.$accented-red-color;
    box-shadow: c.$accented-red-color !important;
  }

  &:hover {
    border-color: c.$accented-red-color;
  }
}

.anticon svg {
  @include mut.sized(24px, 24px);
}

.formItem {
  label {
    @include mut.with-font(
            $font-family: ft.$roboto-font,
            $font-weight: 400,
            $font-size: 14px,
    );
    @include mut.colored($color: c.$login-labels-light-grey-color);
  }
}