@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/variables/_variables.fonts.scss" as f;

$bgImg: '@assets/images/catalog/background.webp';
$loadImg: '@assets/images/catalog/loading.webp';

.streetcodeCatalogCaption {
    @include mut.with-font($font-family: f.$roboto-font, $font-weight: 300, $font-size: 12px);
    line-height: 14px;
    text-transform: uppercase;
    color: c.$dark-red-color;
}

.streetcodeHeadingContainer {
    display: flex;
    justify-content: space-between;
    .headingFlexItem {
        display: inline-block;
    }
}

.catalogPage{
    width: 100%;
    background: url($bgImg) no-repeat center / 100%;
    background-color: c.$accented-low-opasity-grayish-gray-color;
    background-position: center top;
    background-attachment: scroll;
    height: 100%;

    .streetcodeCatalogWrapper {
        margin-top: 5.125rem;
        padding: pxToRem(10px) 10% pxToRem(100px) 10%;
        width: 100%;

        .streetcodeHeadingContainer {
            margin-top: pxToRem(20px);
        }

        .streetcodeCatalogHeading {
            @include mut.with-font('Closer Text', 500, 96px, normal);
            padding-bottom: pxToRem(40px);
            line-height: pxToRem(127px);
            display: flex;
            align-items: center;
            color: c.$milky-white-color;
        }
    
        .steetcodeCatalogContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, 278px);
            grid-auto-rows: minmax(165px, 380px);
            column-gap: pxToRem(28px);
            row-gap: pxToRem(60px);
            justify-content: center;
            justify-items: center;
        }
    }
    
    .loadingWrapper {
        background-color: c.$accented-grayish-gray-color;
        width: 100%;
        @include mut.flex-centered();        
    
        #loadingGif {
            @include mut.bg-image($loadImg, contain, no-repeat);
            @include mut.sized(60px, 60px);
            margin-bottom: pxToRem(84px);
        }
    }
}

@media screen and (max-width: 1024px) {
    .catalogPage{
        .streetcodeCatalogWrapper {
            padding: pxToRem(80px) pxToRem(13px) 0;
            margin-top: 0;
            width: 100%;

            .streetcodeHeadingContainer {
                margin-top: pxToRem(4px);
            }

            .streetcodeCatalogHeading {
                padding-bottom: 0;
                font-size: 54px;
                line-height: pxToRem(71.28px);
            }
    
            .steetcodeCatalogContainer {
                padding-top: pxToRem(20px);
                row-gap: pxToRem(39px);
                grid-auto-rows: minmax(165px, 236px);
                grid-template-columns: repeat(auto-fit, 164px);
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .catalogPage{
        .streetcodeCatalogWrapper {
            .steetcodeCatalogContainer {
                column-gap: pxToRem(10px);
                row-gap: pxToRem(8px);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .catalogPage{
        .streetcodeCatalogWrapper {
            padding: pxToRem(80px) pxToRem(10px) 0;
        }
    }
}

@media screen and (max-width: 340px) {
    .headingFlexItem{
        .streetcodeCatalogCaption {
            display: none;
        }
    }
}