@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.scrollToTopBtnContainer {
  @include mut.positioned-as(relative, $right: 40px);
  @include mut.flex-centered();
  @include mut.circular(62px);
  border: 3px solid c.$accented-red-color;
  @include vnd.vendored(animation, 'btnOpacity 1s ease-in-out');
  @include vnd.vendored(transition, 'filter .5s ease');

  &:hover {
    cursor: pointer;
    @include vnd.vendored(filter, '#{c.$hovered-btn-filter-color}');
  }
}

@media screen and (max-width: 1024px) {
  .scrollToTopBtnContainer{
    @include mut.positioned-as(relative, $right: 10px);
    @include mut.circular(50px);

    svg{
      transform: scale(0.8);
    }
  }
}
.scrollToTopBtnContainer.active{
  @include mut.flex-centered();
  @include mut.circular(62px);

  @include vnd.vendored(animation, 'btnOpacity 1s ease-in-out');
  @include vnd.vendored(transition, 'filter .5s ease');
  
  z-index: 4;
  border: 3px solid c.$accented-red-color;

  &:hover {
    cursor: pointer;
    @include vnd.vendored(filter, '#{c.$hovered-btn-filter-color}');
  }
}

@keyframes btnOpacity {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
