@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/variables/_variables.colors.scss" as c;

.scrollToTopBtnContainer {
  position: relative;
  @include mut.flex-centered();

  .scrollToTopBt {
    @include mut.positioned-as(fixed, $bottom: 120px, $right: 140px);
    @include mut.circular(62px);

    @include vnd.vendored(animation, 'btnOpacity 1.5s ease-in-out');
    @include vnd.vendored(transition, 'filter .5s ease');

    border: 3px solid c.$accented-red-color;

    z-index: 1000;

    &:hover {
      cursor: pointer;
      @include vnd.vendored(filter, 'drop-shadow(0 2px 15px rgba(61, 0, 0, .25))');
    }
  }
}

@keyframes btnOpacity {
  0% { opacity: 0 }
  100% { opacity: 1 }
}