@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.fonts.scss" as fonts;
@use "@assets/sass/_utils.functions.scss" as *;

.interestingFactSlide {
    position: relative;
    width: pxToRem(387px);
    height: pxToRem(416px);
    border-radius: 33px 33px 33px 33px;

    z-index: 0;
    transition: .5s;
    background: white;

    box-shadow: 0 2.62461px 2.62461px rgba(0, 0, 0, 0.25);

    .slideImage {
        height: pxToRem(250px);
        width: 100%;
        @include mut.rounded(33px, 33px);
    }

    .slideText {
        width: 100%;
        height: pxToRem(167px);
        @include mut.rounded($bottom-right: 33px, $bottom-left: 33px);

        .heading {
            @include mut.rem-padded(11px, 20px, 10px, 20px);
            @include mut.with-font($font-weight: 500, $font-size: 17px);
            line-height: pxToRem(20px);
            color: c.$accented-red-color;
        }

        .mainText {
            @include mut.rem-padded(0, 20px, 0px, 20px);
            @include mut.with-font($font-weight: 300, $font-size: 13px);
            line-height: pxToRem(15px);
            color: c.$lighter-black-color;
        }
    }
}

.slick-center .interestingFactSlide {
    z-index: 1;
}

.interestingFactsSliderContainer .sliderClass {
    height: 100%;
}

.interestingFactsSliderContainer .slick-list {
    @include mut.rem-padded(109px);
}

.readMoreParagraph {
    cursor: pointer;
    transition: .5s ease;
    color: c.$dark-red-color;
    @include mut.with-font(fonts.$roboto-font, 300, 13px, normal);
    @include mut.rem-padded(5px, 20px, 0px, 20px);
}

.readMoreParagraph:hover {
    color: c.$accented-red-color;
}