@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active {
  color: wheat;
}

.ant-form-inline .ant-form-item-with-help {
  margin-bottom: 0;
}

.ant-layout-sider-zero-width-trigger {
  margin-top: .625rem;
}



.ant-layout-sider.ant-layout-sider-collapsed {
  box-shadow: none;
}

.ant-menu-submenu-popup .ant-menu.ant-menu-sub {
  @include mut.colored(c.$pure-white-color, c.$ant-menu-color);
  @include mut.rem-padded(5px, 5px, 10px, 15px);
}

.ant-select-item-option-selected,
.ant-menu-item-selected {
  background-color: c.$accented-red-color !important;
  color: white !important;
  border: 1px solid c.$accented-red-color !important;
}

.ant-select-item-option:hover,
.ant-menu-item:hover {
  background-color: c.$accented-red-color !important;
  color: white !important;
}

.ant-menu-item-selected .anticon,
.ant-menu-item-selected {
  color: unset !important;
}

.anticon.anticon-bell {
  margin: 0;
}

.ant-progress {
  margin: auto;
}

.ant-drawer-title {
  width: 100%;
}