@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;

@import 'react-toastify/dist/ReactToastify.css';

p,
span,
div {
  font-family: ft.$roboto-font;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-family: ft.$closer-text-font;
  }
}

.App {
  min-height: 100vh;
  @include mut.flexed(column);
}

.dimmed {
  position: absolute;
  background: rgba(0, 0, 0, .45);

  @include vnd.vendored(transition, 'background .5s ease');
  z-index: 1;
}

::-webkit-scrollbar {
  width: .765rem;
}

::-webkit-scrollbar-track {
  background: c.$scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  @include mut.full-rounded(4px);
  background: c.$scrollbar-thumb-color;
}