@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/_utils.functions.scss" as f;
@import 'react-toastify/dist/ReactToastify.css';

p,
span,
div {
  font-family: ft.$roboto-font;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-family: ft.$closer-text-font;
  }
}

.App {
  min-height: 100vh;
}

.dimmed {
  position: fixed;
  background: rgba(0, 0, 0, .45);
  @include mut.parent-sized();

  @include vnd.vendored(transition, 'background .5s ease');
  z-index: 5;
}

.mainBlockWrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainWrapper{
  flex: 1 1 auto;
}