@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/_utils.functions.scss" as f;
@use "@assets/sass/variables/_variables.layers.scss" as l;
@import 'react-toastify/dist/ReactToastify.css';

p,
span,
div {
    font-family: ft.$roboto-font;
}

@for $index from 1 through 6 {
    h#{$index} {
        font-family: ft.$closer-text-font;
    }
}

.App {
    min-height: 100vh;
}

.dimmed {
    position: fixed;
    background: rgba(0, 0, 0, .45);
    @include mut.parent-sized();

    @include vnd.vendored(transition, 'background .5s ease');
    z-index: l.$dimmed;
}

.mainBlockWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainWrapper {
    flex: 1 1 auto;
}

.skeleton{
    background: #F4F4F4;
    background: linear-gradient(90deg, #F4F4F4 8%, #F9F9F9 18%, #F4F4F4 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
