p, span, div{
  font-family: 'Roboto', sans-serif;
  font-size:12pt;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Closer", sans-serif;
  font-size:14pt;
}


.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 64px 0 0;
}

.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active {
  color: wheat;
}

.ant-form-inline .ant-form-item-with-help {
  margin-bottom: 0;
}

.ant-layout-sider-zero-width-trigger {
  margin: 10px 0 0;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active {
  background-color: #c9c5c2 !important;
}

.ant-mentions-dropdown-menu-item-active {
  background-color: #c9c5c2;
}

.ant-layout-sider.ant-layout-sider-collapsed {
  box-shadow: none;
}
.ant-layout-sider .ant-layout-sider-children {
  padding: 15px 0 0;
  margin: 64px 0 0;
  overflow-y: auto;
  height: calc(36%);
}


.ant-menu-submenu-popup .ant-menu.ant-menu-sub {
  background-color: #e13f30;
  padding: 5px 5px 10px 15px;
  color: white;
}


.ant-menu-item-selected {
  color: unset !important;
}
.ant-menu-item-selected .anticon {
  color: unset !important;
}


.anticon.anticon-bell {
  margin: 0;
}

.ant-progress {
  margin: auto;
}

.ant-drawer-title {
  width: 90%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c9c5c2;
}

::-webkit-scrollbar-thumb {
  background:  #891c1b;
}

::-webkit-scrollbar-thumb:hover {
  background:  #891c1b;
}