@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.mapContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
.mapCentered {
    @include mut.flex-centered();
}

.leaflet-control-container {
    position: absolute;
    bottom: 10px;
    left:1px;
}

.custom-zoom-control {
    position: absolute;
    top: 100rem;
    left: 100rem;
  }