@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.mapContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    @media screen and (max-width: 480px) {
      height: 74vh;
      width: 100vw;
    }
    @media (min-width: 481px) and (max-width: 1023px) {
      height: 78vh;
      width: 100vw;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      height: 81vh;
      width: 100vw;
    }
  }
  
.mapCentered {
    @include mut.flex-centered();
}

.leaflet-control-container {
    position: absolute;
    bottom: 10px;
    left:1px;
}

.custom-zoom-control {
    position: absolute;
    top: 100rem;
    left: 100rem;
  }