@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.partnersBtnCircleContainer {
  z-index: 4;
  @include mut.positioned-as(fixed, $top: 50%, $right: 41px);
  @include mut.flex-centered($direction: column);

  .partnersBtnCircle {
    @include mut.circular(62px);
    @include vnd.vendored(transition, 'filter 1s ease');

    @include mut.flex-centered();
    margin-bottom: f.pxToRem(5px);

    cursor: pointer;

    &:hover {
        @include vnd.vendored(filter, '#{c.$hovered-btn-filter-color}');
        color: c.$dark-red-color;
        filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.612));
      }
  }

  .partnersBtnText {
    text-transform: capitalize;
    color: c.$accented-red-color;
    @include mut.with-font($font-size: 15px, $font-weight: 500);
  }
}