@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
$articlesImg: "@assets/images/sources/Articles.png";

 .MainForFansContainer {
     @include mut.sized(80%);

      margin-top: f.pxToRem(100px);
      margin-right: f.pxToRem(50px);
      float: right;
      h1 {
         color: white;
         font-weight: 500;
       }
 }
.ForFansPageContainer {
  padding-top: 6.25rem;
  display: flex;
  gap: 0.625rem;
}
.forFansPage{
  max-width: 100%;
  width: 80vw;
}
.sourceActions {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin-left: 5px;
  z-index: 2;
}