@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.fonts.scss" as fon;
.additionalText {

    width: 50%;
    white-space: pre-line;
    text-align: right;
    @include mut.rem-margined($top: 12px, $bottom: 42px);
    font-size: f.pxToRem(20px);
    line-height: f.pxToRem(26px);
    font-style: italic;
    word-break: break-all;

    p {
        font-family: 'Closer Text' !important;

        a {
            font-weight: 350;
            color: #891F16;
            text-decoration: underline;
        }
    }
    
    ul {
        @include mut.list-styles($type: disc);
    }

    ol {
        @include mut.list-styles($type: decimal);
    }

    li {
        list-style-position: inside;
    }
}

@media screen and (max-width: 1024px) {
    .additionalText {
        width: 100%;
        @include mut.rem-margined($top: 20px, $left: 10px, $bottom: 20px, $right: 10px );
    }
}

@media screen and (max-width: 480px) {
    .additionalText {
        font-size: f.pxToRem(14px);
        line-height: f.pxToRem(18.48px);
    }
}