@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/mixins/_wrapper.mixins.scss" as wr;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;

.sourcesSliderContainer {
    @include mut.sized(1200px, auto);
    @include mut.flex-centered($direction: column);
    gap: 0 !important;

    .sliderClass > * {
        height: pxToRem(250px);

        .slick-slide.slick-active {
            margin-right: pxToRem(9px);
            @include vnd.vendored(transition, "all .4s ease");

            &:hover {
                filter: contrast(150%);
                cursor: pointer;
            }
        }
    }
}

.seeMoreBtn {
    color: c.$dark-red-color;
    margin-top: pxToRem(50px);
    align-self: flex-start;
    text-decoration-line: underline;
    @include mut.with-font($font-weight: 500, $font-size: 20px);
    line-height: pxToRem(25px);

    &:hover {
        color: c.$accented-red-color;
        cursor: pointer;
    }
}

.sourceContentContainer {
    margin-top: pxToRem(24px);
}

.sourcesWrapper {
    @include wr.main-page-block-wrapper();
}

.sourcesContainer {
    @include mut.sized(100%, 400px);
    margin-bottom: pxToRem(190px);

    .sourceContentContainer {
        height: pxToRem(320px);
        @include mut.flex-centered();
    }

    .blockHeadingWrapper {
        margin-top: pxToRem(30px);
    }
}