@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

$bookImg: "@assets/images/Books_stretched.png";

.ant-modal {
  .ant-modal-content {
    height: pxToRem(830px);
    padding: 0 !important;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
      0 6px 20px 0 rgb(0 0 0 / 19%);

    border-radius: 70px;
    -webkit-border-radius: 70px;
  }
  .ant-modal-close {
    @include mut.sized(83px, 80px);
    @include mut.positioned-as(absolute, $left: 93%, $top: -25px);
    @include mut.circular();

    background-color: c.$pure-white-color;

    &:hover {
      background-color: #ece9e9 !important;
    }
  }
}

.sourceImgContainer {
  position: sticky;
  @include mut.sized(100%, 160px);

  @include mut.flex-centered();
  @include mut.bg-image($bookImg);

  h1 {
    color: white;
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 40px);
  }
}

.sourcesContentContainer {
  @include mut.flexed($direction: column, $gap: 15px);
  @include mut.rem-margined(30px, $left: 30px);

  h1 {
    @include mut.with-font(ft.$closer-text-font, $font-weight: 500, $font-size: 36px);
    line-height: pxToRem(48px);
  }
}

.volumeContainer {
  @include mut.flexed($direction: column, $gap: 10px);
  height: pxToRem(565px);
  overflow-y: scroll;

  padding-right: pxToRem(10px);
  margin-right: pxToRem(10px);

  p {
    font-weight: 300;
    line-height: pxToRem(18px);

    &:hover {
      color: #4F4242;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track
  {
    @include mut.full-rounded(15px);
  }

  &::-webkit-scrollbar-thumb {
    background: c.$card-scrollbar-track-color;
  }

  &::-webkit-scrollbar-track {
    background: c.$accented-gray-color;
    @include mut.rem-margined($top: -15px, $bottom: 90px);
  }
}