@use "@sass/_utils.functions.scss" as f;

$bgImg: '@assets/images/main-page/background.webp';

.calendarPageWrapper {
    
    background: url($bgImg) no-repeat center / 100%;
}
.calendarPage {
    margin: f.pxToRem(200px) 0;
}