@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;
@use '@sass/variables/variables.sizes' as s;

.oneToTwoSlide{
    @include mut.flex-center();

    .baseArtSlideImageWrapper{
        width: pxToRem(s.$art-gallery-img-size);
    }
}
