@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;

.keyPartnersBlock{
    display: flex;
    column-gap: f.pxToRem(30px);
    row-gap: f.pxToRem(80px);
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: f.pxToRem(80px);

    .partnersItem{
        @include mut.sized(380px, 110px);
    }
}

.partnersContainer{
    .partnersBlock{        
        .otherPartnersBlock{
            display: flex;
            column-gap: f.pxToRem(10px);
            row-gap: f.pxToRem(80px);
            flex-wrap: wrap;
            justify-content: center;

            margin-bottom: f.pxToRem(60px);

            .partnersItem{
                @include mut.sized(232px, 68px);
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .partnersContainer .partnersBlock{
        .keyPartnersBlock{
            column-gap: f.pxToRem(30px);
            row-gap: f.pxToRem(40px);

            .partnersItem{
                @include mut.sized(340px, 98px);
            }
        }

        .otherPartnersBlock{
            column-gap: f.pxToRem(30px);
            row-gap: f.pxToRem(20px);

            .partnersItem{
                @include mut.sized(160px, 46px);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .partnersContainer .partnersBlock{
        .keyPartnersBlock{
            column-gap: 0px;
        }
    }
}
