.aboutUsPageContainer {
    min-height: 100vh;
    min-width: 100vw;
    background: url('../../assets/images/streetcode-card/background.png') no-repeat center center / cover;

    display: flex;
    flex-direction: column;
}