@use "@assets/sass/_utils.functions.scss" as f;

.aboutUsPageContainer {
    background: url('../../assets/images/streetcode-card/background.png') no-repeat center center / cover;
    min-height: 75vh;
    width: 100vw;

    padding-top: f.pxToRem(82px);

    .contentContainer {
        margin: f.pxToRem(40px) f.pxToRem(155px) f.pxToRem(146px);
        display: flex;
        flex-direction: column;
    }
}