@use "@assets/sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.sizes.scss" as s;

.founderCard {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: f.pxToRem(24px);
    
    &ImageContainer {
        display: flex;
        justify-content: center;

        .founderImage {
            width: 100%;
            height: 100%;
            filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.25));
        }
    }

    &TextContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;

        h2 {
            @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 500, $font-size: 36px);
            margin-bottom: f.pxToRem(8px);
        }

        p {
            @include mut.with-font($font-family: ft.$closer-text-font, $font-weight: 300, $font-size: 20px);
            color: c.$sliders-text-grey-color;
            margin-bottom: f.pxToRem(14px);
        }
    }

    &Links {
        justify-content: center;
        display: flex;
        gap: 14px;
    }

    @media screen and (max-width: s.$smallDesctop)
    {
        max-width: f.pxToRem(258px);
        
        &ImageContainer {
           max-height: f.pxToRem(372px);
           max-width: f.pxToRem(250px);
        } 
        &TextContainer {
            h2 {
                font-size: 24px !important;
            }
            p { 
                word-break: break-all;
                font-size: 15px !important;
            }
        }
    }
}
