@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@assets/sass/variables/_variables.layers.scss" as l;

.partnerItem {
    text-align: center;
    position: relative;
    .partnerLogo {
        z-index: l.$modal;
        height: 100%;
        width: 80%;
        object-fit: contain;
        cursor: pointer;
        filter: opacity(50%) grayscale(100%);
        @include vnd.vendored(transition, 'all .5s ease');

        &:hover {
            filter: none;
        }
    }
}

.partnerPopover {
    .ant-popover-inner {
        border-radius: 30px;
    }

    z-index: 999;
}