@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.searchResultsBlock{
    width: 100%;
    overflow-y: auto;
    @include mut.flexed($direction: column);
    @include mut.rem-padded(12px, 0, 12px, 12px);

    p{
        @include mut.rem-margined($right: 20px, $left: 20px);
    }
}

@media screen and (max-width: 1024px) {
    .searchResultsBlock{
        width: 100vw;
        @include mut.rem-padded($right: 6px, $top: 6px, $left: 6px);
        overflow-y: auto;
        
        p{
            @include mut.rem-margined(13px, 20px, 13px, 20px);
        }
    }

}
