@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.searchResultsBlock{
    width: 100%;
    overflow-y: auto;
    @include mut.flexed($direction: column);
    @include mut.rem-padded(12px, 0, 12px, 12px);
}

@media screen and (max-width: 1024px) {
    .searchResultsBlock{ 
        @include mut.rem-padded($right: 6px, $left: 6px);
        overflow-y: auto;
        
    }

}
