@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

.searchResultsBlock{
    width: 100%;
    overflow-y: scroll;
    @include mut.flexed($direction: column);
}