@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use "@assets/sass/variables/_variables.colors.scss" as c;

$bgImg: '@assets/images/streetcode-card/background.png';

.container {
    margin-top: f.pxToRem(110px);
    margin-bottom: f.pxToRem(48px);
}
.streetcodeContainer {
    width: 100%;
    height: 100%;
    
    overflow: clip;
    @include mut.rem-padded($top: 82px);
    @include mut.bg-image($bgImg, auto);
    background-color:c.$streetcode-background-color ;
    overflow-anchor: none;

    .slick-next{
        right: f.pxToRem(-97px); 
    }
    .slick-prev{
        left: f.pxToRem(-97px); 
    }
}
.sticky{
    position: sticky;
    display: flex;
    z-index: 4;
    bottom: f.pxToRem(50px);
    justify-content: flex-end;
}
.sticky-content {
    position: absolute;
    bottom: f.pxToRem(5px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: f.pxToRem(10px);
}
.dimmed {
    @include mut.sized(100%, 5875px);
}

@media screen and (max-width: 1450px) {
    .streetcodeContainer{
        .slick-next{
            right: f.pxToRem(-67px); 
        }
        .slick-prev{
            left: f.pxToRem(-67px); 
        }
    }
}

@media screen and (max-width: 1024px) {
    .streetcodeContainer {
        @include mut.rem-padded($top: 64px);
    }
    .sticky{
        bottom: f.pxToRem(25px);
    }

    .container{
        margin-top: f.pxToRem(44px);
    }
}

@media screen and (max-width: 680px) {
    .streetcodeContainer{
        background-image: none;
    }   
    .sticky{
        bottom: f.pxToRem(50px);
    }
}

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    @include mut.sized(100%,100%);
    background-color: c.$accented-gray-color;
    @include mut.flexed($justify-content: center, $align-items: center);
    z-index: 100000;
    pointer-events: none;
}

.display-none{
    display: none !important;
}

