@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/variables/_variables.layers.scss" as l;

$bgImg: '@assets/images/streetcode-card/background.webp';

.no-scroll{
    max-height: 0;
}

.container {
    margin-top: f.pxToRem(110px);
    margin-bottom: f.pxToRem(48px);
}

.streetcodeContainer {
    width: 100%;
    height: 100%;

    overflow: clip;
    @include mut.rem-padded($top: 82px);
    @include mut.bg-image($bgImg, auto);
    background-color: c.$streetcode-background-color ;
    overflow-anchor: none;

    .slick-next{
        right: f.pxToRem(-97px);
    }

    .slick-prev{
        left: f.pxToRem(-97px);
    }
}

.sticky{
    position: sticky;
    display: flex;
    z-index: 4;
    bottom: f.pxToRem(75px);
    justify-content: flex-end;
}

.sticky-content {
    position: absolute;
    bottom: f.pxToRem(5px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: f.pxToRem(10px);
}

.dimmed {
    @include mut.sized(100%, 5875px);
}

@media screen and (max-width: 1450px) {
    .streetcodeContainer{

        .slick-next{
            right: f.pxToRem(-67px);
        }

        .slick-prev{
            left: f.pxToRem(-67px);
        }
    }
}

@media screen and (max-width: 1024px) {
    .streetcodeContainer {
        @include mut.rem-padded($top: 64px);
    }

    .container{
        margin-top: f.pxToRem(44px);
    }
}

@media screen and (max-width: 680px) {
    .streetcodeContainer, .mainBlock{
        background-image: none !important;
    }
}

.display-none{
    display: none !important;
}

