@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.streetcodeContainer {
    width: 100%;
    overflow: hidden;
}

.dimmed {
    @include mut.sized(100%, 5875px);
}

.stickies{
    @include mut.positioned-as(absolute, $bottom: 290px, $right: 42px);
    margin-bottom: f.pxToRem(8px);
}