@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.mapContainerAdmin {
    height: 100vh;
    width: 100%;
    position: relative;
  }

.mapCentered {
    @include mut.flex-centered();
}

.leaflet-control-container {
    position: absolute;
    bottom: 10px;
    left:1px;
}

.custom-zoom-control {
    position: absolute;
    top: 100rem;
    left: 100rem;
  }

  .tableContainer {
    position: absolute;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }