
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.PageBarContainer {
    @include mut.with-font(ft.$closer-text-font, $font-weight: 400, $font-size: 20px);
    @include mut.sized(15%);
    margin-top: f.pxToRem(82px);
    float: left;
    min-width: 100px;
}

.BarContainer {
    @include mut.flexed(column, $align-items: flex-start, $gap: 10px);
    margin-top: 20px;  
    margin-left: 30%;
    min-width: 100px;

    span {
        &:hover {
            scale: 1.1;
            cursor: pointer;
        }

        @include vnd.vendored(transition, 'scale .3s ease');
    }
}

