@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.PageBarContainer {
    @include mut.with-font(ft.$closer-text-font, $font-weight: 400, $font-size: 20px);
    @include mut.sized(14%);
    float: left;
    display: flex;
    justify-content: center;
}

.BarContainer {
    @include mut.flexed(column, $align-items: flex-start, $gap: 10px);
  
    position: fixed;
    .Link {
        color:black;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            color: c.$dark-red-color
        }
        &:focus {
            outline: none;
            box-shadow: none;
          }
        @include vnd.vendored(transition, 'scale .3s ease');
    }
}
