@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as f;

@keyframes increaseSlide {
    from {
        height: 380px;
    }
    to {
        height: 452px;
    }
}

@keyframes reduceSlide {
    from {
        height: 452px;
    }
    to {
        height: 380px;
    }
}

@keyframes increaseText {
    from {
        height: 68px;
    }
    to {
        height: 169px;
    }
}

@keyframes reduceText {
    from {
        height: 169px;
    }
    to {
        height: 68px;
    }
}

.relatedFigureSlide {
    width: pxToRem(278px);
    height: pxToRem(380px);

    box-sizing: border-box;
    border: pxToRem(3px) solid c.$pure-white-color;
    border-radius: pxToRem(30px);

    box-shadow: 0px pxToRem(4px) pxToRem(4px) rgba(0, 0, 0, 0.25);

    position: relative;
    display: flex;
    justify-content: center;

    transition: height 0.5s ease;
    cursor: pointer;

    .slideText {
        width: pxToRem(272px);
        height: pxToRem(68px);

        background-color: c.$dark-red-color;

        display: flex;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;

        position: inherit;
        top: pxToRem(286px);

        transition-property: height, border-radius;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        .heading {
            width: 100%;
            height: pxToRem(64px);

            text-align: left;
            color: c.$pure-white-color;
            font-size: pxToRem(24px);
            font-style: normal;
            font-weight: 500;
            line-height: pxToRem(32px);

            display: flex;
            align-items: center;
            padding-left: pxToRem(32.06px);
            padding-right: pxToRem(15.37px);
        }

        .tagList{
            width: 100%;
            visibility: hidden;

            display: flex;
            align-items: center;
            padding-top: pxToRem(10px);
            padding-left: pxToRem(32.06px);
            padding-right: pxToRem(15.37px);
            gap: pxToRem(5px);

            .tag {
                width: auto;
                height: pxToRem(38px);
                border-radius: pxToRem(11px);
                padding: pxToRem(9px) pxToRem(12px) pxToRem(9px) pxToRem(12px);
    
                border: pxToRem(2px) solid c.$pure-white-color;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                p {
                    width: auto;
                    height: pxToRem(20px);
    
                    font-family: f.$roboto-font;
                    font-style: normal;
                    text-align: center;
                    color: c.$pure-white-color;
                    font-weight: 500;
                    font-size: pxToRem(15px);
                    line-height: 135.69%;
                }
            }
        }
    }
}

.relatedFigureSlide:hover {
    height: 452px;

    .slideText{
        height: 169px;

        border-radius: 0 0 28px 28px;

        align-items: flex-start;

        top: 0;
        align-self: flex-end;

        .heading{
            padding-top: 6px;
        }

        .tagList{
            visibility: visible;
        }
    }
}