@use "@sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.headerItem {
    background-color: transparent;
    border: none;
    text-align: left;
    color: inherit;
    text-decoration: none;
}

.headerItem:hover {
    cursor: pointer;
    color: c.$dark-red-color;
}

.headerItem:after {
    content: '';
    background-color: c.$dark-red-color;
    color: c.$dark-red-color;

    @include mut.sized(100%, 2px);
    @include mut.positioned-as(absolute, $bottom: 0, $left: 0);
}

#active {
    @include mut.with-font($font-size: 24px);
    transition: all 0.5s;
}

@media (max-width: 1024px) {
    #active {
        @include mut.with-font($font-size: 18px);
        transition: all 0.5s;
    }
}