@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.sourcesWrapper {
    @include wr.main-page-block-wrapper();

    > .sourcesContainer {
        @include mut.sized(100%, 400px);
        margin-bottom: pxToRem(190px);

        .sourceContentContainer {
            height: pxToRem(320px);
            @include mut.flex-centered();
            margin-top: pxToRem(24px);
        }

        > .blockHeadingWrapper {
            margin-top: pxToRem(30px);
        }
    }
}

.sourcesSliderContainer {
    @include mut.sized(1200px, auto);
    @include mut.flex-centered($direction: column);
    gap: 0 !important;

    .sliderClass > * {
        height: pxToRem(250px);

        .slick-track {
            @include mut.flex-centered($gap: 28px);
        }

        .slick-slide.slick-active {
            @include vnd.vendored(transition, "all .4s ease");

            &:hover {
                filter: contrast(135%);
                cursor: pointer;
            }
        }

        .slick-slide,
        .sourcesSliderItem {
            @include mut.sized(380px, 250px);
        }
    }
}

/*.seeMoreBtn {
    color: c.$dark-red-color;
    margin-top: pxToRem(50px);
    align-self: flex-start;
    text-decoration-line: underline;
    @include mut.with-font($font-weight: 500, $font-size: 20px);
    line-height: pxToRem(25px);

    &:hover {
        color: c.$accented-red-color;
        cursor: pointer;
    }
}
*/