@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.sourcesWrapper {
    @include wr.main-page-block-wrapper();

    .sourcesContainer {
        @include mut.sizedImportant(100%, 400px);
        margin-bottom: pxToRem(190px);
        @media screen and (max-width: 768px) {
            justify-content: stretch !important;
        }
        .sourceContentContainer {
            height: pxToRem(320px);
            @include mut.flex-centered();
            margin-top: pxToRem(24px);
        }

        > .blockHeadingWrapper {
            margin-top: pxToRem(30px);
        }
    }

    .sourcesSliderContainer {
        @include mut.sizedImportant(1230px, 300px);
        .slick-arrow {
            display: none;
            visibility: hidden;
        }
    }

    .sliderClass {
        .slick-list {
            @include mut.rem-padded($bottom: 4px);
        }

        .slick-track {
            @include mut.flex-centered($gap: 30px);
            width: unset !important;
        }

        .slick-slide {
            @include vnd.vendored(transition, 'all .5s ease');

            &:hover {
                scale: 101%;
                filter: contrast(135%);
                cursor: pointer;
            }
        }
    }

    //@media screen and (max-width: 481px) {
    //    .sourcesWrapper {
    //        @include mut.sized($height: 600px);
    //        @include mut.rem-margined($bottom: 100px, $top: 0px);
    //        .sourcesContainer {
    //            .sourceContentContainer {
    //                justify-content: stretch;
    //            }
    //        }
    //        .slick-track {
    //            @include mut.flexed($align-items: flex-start, $gap: 10px);
    //        }
    //        .slick-slide {
    //            width: 165px !important;
    //
    //            &.slick-active.slick-current {
    //                transform: translateX(0px) !important;
    //            }
    //        }
    //
    //        .slick-dots {
    //            bottom: 0;
    //            left: 7px;
    //        }
    //    }
    //}

    //@media screen and (max-width: 1024px) and (min-width: 768px) {
    //    .sourcesWrapper {
    //        @include mut.sized($height: 400px);
    //        @include mut.rem-margined($bottom: 150px, $top: 40px);
    //    }
    //}

    //@media screen and (max-width: 767px) and (min-width: 481px) {
    //    .sourcesWrapper {
    //        @include mut.sized($height: 400px);
    //        @include mut.rem-margined($bottom: 100px, $top: 0px, $right: 200px, $left: 200px);
    //
    //        .sourcesSliderContainer {
    //            .slick-track {
    //                @include mut.flexed($align-items: flex-start, $gap: 10px);
    //            }
    //            .slick-slide {
    //                width: 165px !important;
    //
    //                &.slick-active.slick-current {
    //                    transform: translateX(0px) !important;
    //                }
    //            }
    //
    //            .slick-dots {
    //                display: block !important;
    //            }
    //        }
    //    }
    //}

    @media screen and (max-width: 1024px) {
        .sourcesSliderContainer {
            .slick-track {
                @include mut.flexed($justify-content: flex-start, $align-items: flex-start, $gap: 10px);
                margin: 0 10px;
            }
        }
    }
}