@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;

.donatesModal {
  width: f.pxToRem(590px) !important;
  height: f.pxToRem(525px) !important;

  display: flex;
  justify-content: center;
  align-items: center;

  &.ant-modal {
    .ant-modal-content {
      height: inherit;
      @include mut.flex-centered($direction: column);
      @include mut.full-rounded(70px, $overflow: visible);

      padding: 0 !important;
      box-shadow: 0 7px 11px 2px rgba(0, 0, 0, 0.25);
    }

    .ant-modal-close {
      @include mut.positioned-as(absolute, $left: 94%, $top: -27px);
      @include mut.circular(90px, c.$pure-white-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background-color: c.$modal-hover-color;
      }

      .ant-modal-close-x {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.donatesModalContent {
  @include mut.flex-centered($direction: column);
  width: f.pxToRem(590px) !important;
  height: f.pxToRem(525px) !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h1 {
    color: #1D1F23 !important;
    width: 550px;
    height: 48px;
    text-align: center;
    //  font-size: 36px;
    //padding: 20px;
    //padding-top: 28px;
    @include mut.with-font(ft.$closer-text-font, $font-size: 36px, $font-weight: 500);
  }

  > h3 {
    @include mut.with-font($font-weight: 300);
    //visibility: hidden;
  }

  .enterSum{
    @include mut.rem-margined($top: 32px);
    @include mut.with-font(ft.$closer-text-font, $font-size: 10px, $font-weight: 500);
    line-height: 18px;
    color: #A3A3A3;
  }

  > .donateInputContainerWrapper{
    display: flex;
    justify-content: center;
    
  }
  .amountInput {
    @include mut.rem-margined($bottom: 35px);
    @include mut.with-font(ft.$closer-text-font, $font-size: 40px, $font-weight: 500);
    text-align: right;
    --input-width: 42px;
    color: c.$darkish-gray-color;
    border: none;
    padding: 0;
    
    &:not(.active) {     
      text-decoration-line: underline;  
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
    }

    &.active {
      color: c.$pure-black-color;
      text-shadow: 1px 0 1px c.$pure-black-color;
    }

    &:focus {
      outline: none;
    }
  }

  .GryvnaSymbol{
    width: fit-content !important;
  }

  .donatesBtnContainer {
    @include mut.sized(550px, 128px);
    @include mut.flexed($direction: row-reverse, $justify-content: space-between, $gap: 10px, $wrap: wrap);
  
    > * {
      @include mut.sized(130px, 58px);
      //margin-right: 10px;
      @include mut.full-rounded(11px);
      @include mut.flex-centered();
  
      border-radius: 15px !important;
      border: 1px solid c.$dark-red-color;
      @include vnd.vendored(transition, 'background-color .75s ease');
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
  
      > span {
        @include vnd.vendored(transition, 'color .75s ease');
        @include mut.with-font(ft.$closer-text-font, $font-size: 20px, $font-weight: 500);
        color: #891F16 !important;
      }
  
      &:where(:hover, &.active) {
        background-color: c.$accented-red-color;
        border: 3px solid c.$accented-red-color;
  
        > span {
          color: c.$pure-white-color;
          font-weight: 500;
        }
      }
    }
  
    > *:nth-child(-n + 4) {
      //margin-bottom: 12px;
    }
  }
  
  

  .donatesInputContainer {
    @include mut.sized(550px, 24px);
    @include mut.flexed($justify-content: space-between, $gap: 25px);
    margin: f.pxToRem(32px);
    
    >.checkbox-borderline {
      border: none;
      display: flex;
      align-items: center;
      overflow: visible !important;
      .ant-checkbox-input {
        width: 23px;
        height: 23px;
        //overflow: visible !important;
      }
      
      span{
        display: inline-block;
        vertical-align: middle;
        overflow: visible;
             
        .ant-checkbox-inner {
          width: 24px !important;
          height: 24px !important;
        }
  
        &:last-child {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 18px;
          padding-inline-start: 16px;
          height: 24px;
          padding-top: 1vh;
          
        }
      }
    }

    > * {
      @include mut.full-rounded(11px);
      border: 2px solid #DCDCDC;
      @include mut.with-font($font-weight: 300);
    }
  }

  .donatesDonateBtn {
    @include mut.sized(550px, 73px);
    @include mut.full-rounded(11px);
    background-color: c.$accented-red-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 15px !important;

    &:disabled{
      background-color: c.$lighter-gray-color;
        color: c.$pure-white-color;
      cursor: pointer;
    }
    > span {
      @include mut.with-font($font-size: 20px, /*$font-weight: 500*/);
      color: c.$pure-white-color;
    }

    &:hover {
      filter: brightness(110%);
    }
  }
}

@media screen and (max-width: 1024px) {
  .donatesModal {
    @include mut.sizedImportant(340px, 316px);
    display: flex;
    justify-content: center;

    &.ant-modal {
      .ant-modal-content {
        @include mut.full-rounded(16px, $overflow: visible);

        .ant-modal-body{
          width: 100%;
          padding: f.pxToRem(16px);
        }
      }

      .ant-modal-close{
        display: none;
      }
    }

    .donatesModalContent {
      > h1{
        @include mut.with-font(ft.$closer-text-font, $font-size: 20px, $font-weight: 500);
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.005em;
      }

      > h3{
        @include mut.with-font($font-size: 14px, $font-weight: 300);
        @include mut.rem-margined($top: 10px, $bottom: 10px);
      }

      .enterSum{
        @include mut.rem-margined($top: 0);
        @include mut.with-font(ft.$closer-text-font, $font-size: 10px, $font-weight: 500);
        line-height: 15px;
      }

      .amountInput{
        @include mut.with-font(ft.$closer-text-font, $font-size: 32px, $font-weight: 500);
        @include mut.rem-margined($top: 0px, $bottom: 16px);

        display: flex;
        align-items: center;
        height: 42px;
        max-width: 100%;

        &:not(.active) {     
          text-decoration-line: underline;  
          text-decoration-thickness: 2px;
          text-underline-offset: 2px;
        }
      }
      .GryvnaSymbol{
        padding-top: 1px !important;
      }
      .donatesBtnContainer{
        @include mut.sized(308px, 100%);
        
        gap: 0;
        > * {
          width: f.pxToRem(100px) !important;
          height: f.pxToRem(37px) !important;
          border-radius: 11px !important;
          border: 2px solid c.$dark-red-color;

          > span{
            @include mut.with-font(ft.$closer-text-font, $font-size: 16px, $font-weight: 350);
          }
        }
      }

      .donatesDonateBtn {
        @include mut.sized(100%, 46px);

        > span{
          @include mut.with-font(ft.$roboto-font, $font-size: 14px, $font-weight: 500);
          line-height: 16px;
          color: #FFFFFF;
          text-transform: none;
          border-radius: 10px !important;
        }
      }

      .donatesInputContainer{
        @include mut.sized(100%, 28px);
        margin: 16px;
        
        >.checkbox-borderline {
          display: flex;
          overflow: visible !important;

          > span{
            display: inline-block;
            vertical-align: middle;
      
            &:last-child {
              height: 28px;
              padding-top: 2px;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .donatesModal .donatesModalContent .donatesBtnContainer {
    @include mut.sized(308px, 100%);
    @include mut.flexed($direction: row-reverse, $justify-content: space-between, $gap: 4px);

    > * {
      width: f.pxToRem(100px) !important;
    }
  }
}