@use '@assets/sass/variables/_variables.fonts.scss' as ft;
@use '@assets/sass/mixins/_utils.mixins.scss' as ut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

*:not(.additionalText *):not(.readMoreComponent *) {
  text-decoration: none;
}

.ant-message {
  position: fixed !important;
}

body {
  font-family: ft.$body-tag-font;
  @include ut.antialiased();
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: ft.$code-tag-font;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

ul, ol {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.streetcode-custom-button{
  @include ut.rem-padded(20px, 10px, 20px, 10px);
  @include ut.flex-centered();
  @include ut.full-rounded(12px);
  @include ut.with-font($font-weight: 400, $font-size: 16px);

  background-color: c.$accented-red-color;
  border-color: c.$accented-red-color;
  color: c.$pure-white-color;

  &:hover {
    border-color: c.$dark-red-color;
    background-color: c.$dark-red-color;
  }

  .ant-btn-default:hover{
    color:#fff !important;
  }
  .ant-btn{
    color:#fff;
    &:hover{
      color: c.$pure-white-color ;
    }
  }
  button{
    color:#fff;
    &:hover{
      color:#fff;
    }
  }

  &[disabled]{
    pointer-events: none;
  }
  &:disabled{
    background-color: c.$lighter-gray-color;
    border-color: c.$lighter-gray-color;
  }
}

.ant-checkbox-checked::after {
  border: none;
}
