@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

$loadImg: '@assets/images/catalog/loading.webp';

.adminPageContainer {
    @include mut.admin-page-base-layout();

    @include mut.with-font();
    .dimmed {
        @include mut.sized(100%);
    }
}

.MainBlockContainer {

    .ant-switch-checked {
        background-color: c.$dark-red-color;
    }

    .person-event-switch {
        margin: 0 5px;
    }
}

.adminPageContainer {
    @include mut.sized(100%);
    min-height: 78vh;
    overflow: hidden;
}

.ql-snow.ql-toolbar {
    button:hover,
    .ql-picker-item:hover,
    .ql-picker-label:hover {
        color: c.$dark-red-color;
    }

    button:hover .ql-stroke,
    button:focus .ql-stroke,
    .ql-picker-label:hover .ql-stroke {
        stroke: c.$dark-red-color;
    }

    button:hover .ql-fill,
    button:focus .ql-fill {
        fill: c.$dark-red-color;
    }
}

.ant-picker-dropdown {
    .ant-picker-cell-selected .ant-picker-cell-inner,
    .ant-picker-ok .ant-btn-primary:not(:disabled) {
        background-color: c.$accented-red-color;
    }

    .ant-picker-now-btn,
    .ant-picker-today-btn {
        color: c.$dark-red-color;

        &:hover {
            color: c.$accented-red-color;
        }
    }

    .ant-picker-header-view button:hover{
        color: c.$dark-red-color;
    }

    .ant-picker-cell-inner::before {
        border-color: c.$dark-red-color;
    }

    .ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
        background: c.$darkish-gray-color;
    }
}

.ant-btn-primary {
    background-color: c.$accented-red-color;
    &:hover {
        background-color: c.$dark-red-color;
    }
}

.ant-modal-footer .ant-btn-default:not(:disabled):hover{
    color: c.$accented-red-color;
    border-color: c.$accented-red-color;
}

.ant-btn,
.ant-modal-close,
.ant-pagination-item ,
.ant-switch{
    &:focus-visible {
            outline: 4px solid c.$dark-red-color;
    }
}

.loadingWrapper {
    background-color: c.$pure-white-color;
    width: 100%;
    height: 100%;
    @include mut.flex-centered();

    #loadingGif {
        @include mut.bg-image($loadImg, contain, no-repeat);
        @include mut.sized(60px, 60px);
        margin: pxToRem(84px) 0;
    }
}

.content-table-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
