@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.adminPageContainer {
    margin-top: f.pxToRem(100px);
    display: flex;
    float: left;
    width: 100%;
    @include mut.with-font();
    .dimmed {
        @include mut.sized(100%);
    }
}

.MainBlockContainer {

    .ant-switch-checked {
        background-color: c.$dark-red-color;
    }

    .person-event-switch {
        margin: 0 5px;
    }
}

.adminPageContainer {
    @include mut.sized(100%);
    min-height: 400px;
    overflow: hidden;
}