@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/_utils.functions.scss" as f;

.singleFact{
    width: 100% !important;
}

.slides-3 .slick-slide {
    transform: translate(100%, 0);
}

.interestingFactsContainer {
    @include mut.sized(100%);
    @include mut.flex-centered($direction: column);
    .blockHeadingWrapper{
        padding-left: f.pxToRem(12px);
    }
}

.interestingFactsWrapper {
    @include mut.flexed(column);
}

.interestingFactsSliderContainer {
    @include mut.sized(1220px);

    .slick-list {
        padding: f.pxToRem(110px) 0;
    }

    .slick-dots{
        bottom: f.pxToRem(-57px);
        margin-top: f.pxToRem(30px);
    }

    .slick-center { 
        z-index: 1; 
        position: relative;
    }
}

.heightContainer {
    padding-top: pxToRem(23px);
}

.slick-center .interestingFactSlide {
    transform: scale(1.52);
    cursor: default !important;
}

.slick-list .interestingFactSlide {
    cursor: pointer;
}

.oneFactContainer{
    .oneFactItem{
        @include mut.flex-centered();
        transform: scale(1.52);
        padding: f.pxToRem(110px) 0;
    }
}

@media screen and (max-width: 1450px){
    .interestingFactsSliderContainer {
        @include mut.sized(1120px);
    }

    .interestingFactsSliderContainer {
        .slick-dots{
            bottom: auto;
        }
    }
    .oneFactContainer{
        .oneFactItem{
            padding: f.pxToRem(63px) 0;
        }
    }

    .slides-3 .slick-slide {
        transform: translate(104%, 0);
    }
}

@media screen and (max-width: 1325px){
    .interestingFactsSliderContainer {
        @include mut.sized(980px);
    }
}

@media screen and (max-width: 1200px){
    .interestingFactsSliderContainer {
        @include mut.sized(830px);
    }

    .oneFactItem{
        padding: f.pxToRem(43px) 0;

        .interestingFactSlide{
            .slideImage{
                @include mut.sized(250px, 170px);
            }
        }
    }

    .slides-3 .slick-slide {
        transform: translate(102%, 0);
    }
}

@media screen and (max-width: 1024px){
    .interestingFactsSliderContainer .slick-list{
        padding: 63px 0 !important;
    }

    .interestingFactsWrapper {
        .slick-dots{         
            @include mut.rem-margined(0);
            bottom: 15%;
        }
    }

    .interestingFactsContainer {
        @include mut.sized(92%, 100%); 
        @include mut.flex-centered($direction: column);
    
        .blockHeadingContainer {
            margin-left: pxToRem(10px);
        }
    }
    .interestingFactsSliderContainer {
        @include mut.sized(85%, 100%);
    }

    .oneFactContainer{
        @include mut.flex-centered();
    }

    .oneFactItem{
        padding: f.pxToRem(83px) 0;

        .interestingFactSlide{
            @include mut.sized(273px, 293px);

            .slideImage{
                @include mut.sized(273px, 174px);
            }
        }

        .cardTextContainer{
            .cardTextContainerTitle{
                margin-bottom: f.pxToRem(8px);
            }
        }
    }
}

@media screen
and (min-width: 768px) and (max-width: 1024px){

.interestingFactsWrapper {
    @include mut.flexed(column);
    .slick-dots{
        @include mut.rem-margined(0);
        bottom: 15%;
    }
}
    .interestingFactsContainer {
        @include mut.sized(765px, 100%); 
        @include mut.flex-centered($direction: column);
        margin: 0 auto;
    }
    .interestingFactsSliderContainer {
        @include mut.sized(100%, 100%); 
    }
    .oneFactContainer{
        .oneFactItem{
            padding: f.pxToRem(83px) 0;
        }
    }
}

@media screen and (max-width: 768px){
    .interestingFactsWrapper {
        @include mut.flexed(column);
        .slick-dots{
            @include mut.rem-margined(0);
            bottom: 15%;
        }
    }

    .interestingFactsContainer {
        @include mut.sized(765px, 100%); 
        @include mut.flex-centered($direction: column);
    
        .blockHeadingContainer {
            margin-left: pxToRem(10px);
        }
    }
    .interestingFactsSliderContainer {
        @include mut.sized(100%, 100%); 
    }

    .slides-3 .slick-slide {
        transform: translate(100%, 0);
    }
}

@media screen and (max-width: 768px){
    .singleSlideContainer{
        margin-bottom: 3.0625rem;
        padding-top: 2.125rem;
    }

    .interestingFactsContainer {
        @include mut.sized(100%, 100%);

        .single{
            margin-bottom: pxToRem(100px) ;
        }
    }

    .interestingFactsWrapper {
        @include mut.flexed(column);
        .slick-dots{
            bottom: 15%;
            @include mut.sized($height: 80%);
        }
    }

    .interestingFactsSliderContainer {
        @include mut.sized(770px, 100%); 
    }
    
    .interestingFactSlide{
        .slideImage {
            @include mut.sized($height: 45%);
            img {
                @include mut.sized($width: 100%);
                max-height: 210px;
            }
        }
    }
    .oneFactContainer{
        @include mut.flex-centered();

        .oneFactItem{
            padding: f.pxToRem(83px) 0;
        }
    }
}

@media screen and (max-width: 580px) {
    .oneFactItem{
        .interestingFactSlide{
            @include mut.sized(205px, 220px);

            .slideImage{
                @include mut.sized(205px, 131px);
            }
            .cardTextContainer{
                .cardTextContainerText{
                    font-size: f.pxToRem(8.5px);
                }
                .cardTextContainerTitle{
                    font-size: f.pxToRem(10.5px);
                    margin-bottom: f.pxToRem(6px);
                    padding-top: 5px;
                }
            }
            
        }
    }

    .slides-3 .slick-slide {
        transform: translate(99%, 0);
    }
}
