@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@assets/sass/variables/_variables.colors.scss" as c;


.interestingFactsContainer {
    @include mut.sized(90%, 848px);
    @include mut.flex-centered($direction: column);

    .blockHeadingContainer {
        margin-left: pxToRem(10px);
    }
}

.interestingFactsWrapper {
    @include wr.main-page-block-wrapper();

}
.single{
     margin-bottom: pxToRem(200px);
}

.interestingFactsSliderContainer {
    @include mut.sized(1220px, 660px);

    .slick-dots {
        @include mut.rem-margined($top:-23px, $left:-30px);
    }
    .slick-slider{
        height: 100%;
    }
}

.heightContainer,
.slick-list,
.slick-track {
    height: 100%;
}

.heightContainer {
    padding-top: pxToRem(23px);
}

.slick-center .interestingFactSlide {
    transform: scale(1.52);
}

.singleSlideContainer{
    @include mut.flex-centered();
    @include vnd.vendored(transform, scale(1.32));
    padding-top:7.5%;
    .interestingFactSlide{
        @include  mut.sized(650px, 600px);

        .slideImage {
            @include mut.sized($height: 60%);

            img {
                @include mut.sized($width: 100%);
            }
        }

        .slideText{
            @include mut.sized($height: 40%);

            .heading{
                font-size:26px;
            }

            .mainText{
                font-size:15px;
                line-height: pxToRem(20px);
            }
        }
    }
}
@media screen
and (max-width: 1024px){

    .singleSlideContainer{
    
        padding-top:7.5%;
    
        .interestingFactSlide{
            // @include mut.sized(600px, 550px);
            @include mut.sized(45%);
            @include mut.full-rounded(20px);
    
            .slideImage {
                 @include mut.sized($height: 15%);
    
                img {
                    @include mut.sized($width: 100%);
                }
            }
            .slideText{
                @include mut.sized($height: 40%);
    
                .heading{
                    font-size: 22px;
                }
    
                .mainText{
                    overflow: auto;
                    height: 175px;
                    font-size: 16px;
                    line-height: pxToRem(21px);
                }
            }
        }
    }
}
// FIX ME!
@media screen
and (max-width: 768px){

    .interestingFactsContainer {
        @include mut.sized(100%, 680px); 
        @include mut.flex-centered($direction: column);
    
        .blockHeadingContainer {
            margin-left: pxToRem(10px);
        }
    }
    
    .interestingFactsSliderContainer {
       // @include mut.sized(760px, 660px);
        @include mut.sized(100%);
        
    }
    .heightContainer,
    .slick-list,
    .slick-track {
    height: 100%;
    // right: 5px;
}
.slick-slide {
    // margin: 0 -3px;
  }

.heightContainer {
    padding-top: pxToRem(23px);
}

.slick-center .interestingFactSlide {
    transform: scale(1.5);
}
.heightContainer {
    padding-top: pxToRem(23px);
}

.slick-center .interestingFactSlide {
    transform: scale(1.5);
}
.singleSlideContainer{
    
    padding-top:7.5%;

    .interestingFactSlide{
        // @include mut.sized(500px, 450px);
        @include mut.sized(60%);
        @include mut.full-rounded(20px);

        .slideImage {
            @include mut.sized($height: 65%);

            img {
                @include mut.sized($width: 100%, $height: 100%);
            }
        }
        .slideText{
            @include mut.sized($height: 40%);
            .heading{
                font-size:20px;
                @include mut.rem-padded(7px, 0px, 8px, 15px);
            }

            .mainText{
                overflow: auto;
                height: 150px;
                font-size: 15px;
                line-height: pxToRem(21px);
                margin-bottom: pxToEm(10px);

                &:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    pointer-events: none;
                    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
                    width: 100%;
                    height: 1.7em;
                  }

            }
        }
    }
}
}

@media screen and (max-width: 480px){

    
.interestingFactsContainer {
    @include mut.sized(90%, 720px);

    .single{
        margin-bottom: pxToRem(120px) ;
   }
}

.interestingFactsWrapper {
    @include wr.main-page-block-wrapper();
    margin: 0;
}
    .interestingFactsSliderContainer {
        @include mut.sized(915px, 660px);
    
    }
    .interestingFactSlide{
        .slideImage {
            @include mut.sized($height: 45%);
            img {
                @include mut.sized($width: 100%);
            }
        }
    }
    .singleSlideContainer{
        
        padding-top:7.5%;

        .interestingFactSlide{
            // @include mut.sized(345px, 430px);
            @include mut.sized(30%);
            @include mut.full-rounded(20px);
    
            .slideImage {
                @include mut.sized($height: 55%);
    
                img {
                    @include mut.sized($width: 100%, $height: 100%);
                }
            }
            .slideText{
                @include mut.sized($height: 20%);
                @include mut.full-rounded(0px);

                .heading{
                    font-size: 20px;
                    @include mut.rem-padded(7px, 0px, 8px, 15px);

                }
    
                .mainText{
                    overflow: auto;
                    height: 190px;
                    font-size: 15px;
                    line-height: pxToRem(21px);
                    margin-bottom: pxToEm(10px);
                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        pointer-events: none;
                        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
                        width: 100%;
                        height: 1.7em;
                    }
                }
            }
        }
      
    }
}






















// @media screen
//     and (min-width: 768px)
//     and (max-width: 1024px){

    
//     .interestingFactsContainer {
//         @include mut.sized(90%, 720px);
    
//         .single{
//             margin-bottom: pxToRem(120px) ;
//        }
//     }
    
//     .interestingFactsWrapper {
//         @include wr.main-page-block-wrapper();
//         margin: 0;
//     }
//         // .interestingFactsSliderContainer {
//         //     // @include mut.sized(770px, 410px);
//         // }
        

//         .interestingFactSlide{
//             .slideImage {
//                 @include mut.sized($height: 45%);
//                 img {
//                     @include mut.sized($width: 100%);
//                 }
//             }
//         }
//         .singleSlideContainer{
            
//             padding-top:7.5%;
    
//             .interestingFactSlide{

//                 // @include  mut.sized(400px, 430px);
//                 @include  mut.sized(40%);
//                 @include mut.full-rounded(20px);
        
//                 .slideImage {
//                     @include mut.sized($height: 40%);
        
//                     img {
//                         @include mut.sized($width: 100%, $height: 100%);
//                     }
//                 }
//                 .slideText{
//                     @include mut.sized($height: 10%);
        
//                     .heading{
//                         font-size:15px;
//                     }
        
//                     .mainText{
//                         font-size: 12px;
//                         line-height: pxToRem(15px);
//                     }
//                 }
//             }
          
           
    
//           }
//     }