@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;

.card {
  @include mut.flexed(row, center, center, wrap);
  @include mut.sized(1200px, 697px);
  @include mut.full-rounded(50px);

  background-color: c.$pure-white-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}

.leftSider {
  @include mut.full-rounded(53px);
  @include mut.sized(514px, 697px);
  flex: 0 0 f.pxToRem(514px);
  background-color: c.$pure-white-color;
  justify-self: flex-start;
}


.leftSiderContent {
  background-color: c.$accented-gray-color;
  @include mut.border(c.$pure-white-color,22px,solid);
  @include mut.full-rounded(50px);
  @include mut.parent-sized();
  @include mut.flex-centered();
}

.rightSider {
  @include mut.flex-centered();
  justify-self: flex-end;
  align-self: flex-start;
  width: min-content;
  flex: 1 1 auto;
  margin-top: f.pxToRem(20px);
}

.streetcodeIndex {
  @include mut.rem-padded(5px, 10px, 10px, 0px);
  color: c.$dark-red-color;
  @include mut.with-font($font-weight: bolder);
}

.streetcodeTitle {
  @include mut.rem-padded(7px, 10px, 7px, 0px);
  @include mut.with-font(ft.$closer-text-font, $font-weight: 600, $font-size: 36px);
  color: c.$lighter-black-color;
}

.streetcodeDate {
  @include mut.rem-padded(7px, 10px, 13px, 0px);
  font-size: f.pxToRem(20px);
}

.headerContainer {
  width: 100%;
  @include mut.flex-centered();
  margin: f.pxToRem(50px);
}

.teaserBlock {
  width: 100%;
  @include mut.rem-margined(13px, 3px, 0px, 0px);
  @include mut.rem-padded(0px, 5px, 0px, 0px);
  line-height: 23px;
  max-height: 254px;
  overflow: auto;
  color: c.$lighter-black-color;
 
 
}
.teaserBlockContainer{
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 20px;
    height: 6em; // adjust the height to match your line-height
    background:linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.55) 3%,rgba(255,255,255,0.7) 12%,
     rgba(255,255,255,0.1) 20%,  rgba(255,255,255,0) 25%);
    background-clip: text; // this is the key property that clips the background to the text
    -webkit-text-fill-color: transparent;
  }
}


.cardFooter {
  @include mut.rem-padded(18px, 10px, 10px, 3px);
  @include mut.flexed($justify-content: flex-start, $gap: 20px);

  .ant-btn-primary:disabled {
    background-color: c.$lighter-gray-color;
    color: c.$pure-white-color;
  }

  .ant-btn-default {
    border-width: 3px;
    border-color: c.$accented-red-color;
  }
}

.audioBtnActive {
  background-color: c.$accented-red-color;
  border-color: c.$accented-red-color;

  &:hover {
    box-shadow: 0 4px 4px rgba(219, 52, 36, 0.18);
  }
}

.audioBtn {
  @include mut.sized(271px, 73px);
  @include mut.flex-centered();
  @include mut.full-rounded(14px);
  @include mut.with-font($font-weight: 500);
}

.audioBtn:disabled {
  cursor: default;
}

.animateFigureBtn {
  @include mut.sized(229px, 73px);
  @include mut.flex-centered();
  @include mut.full-rounded(14px);

  a {
    @include mut.with-font($font-weight: 500);
    border-width: 3px;
    border-color: c.$accented-red-color;
    color: c.$accented-red-color;
  }

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(219, 52, 36, 0.1));
  }
}

.streetcodeImg {
  margin: auto;
  @include mut.sized(415px, 542px);
}

.playCircle {
  font-size: f.pxToRem(37px);
  margin-right: f.pxToRem(10px);
}

.slick-initialized .slick-slide {
  @include mut.flexed($justify-content: center, $gap: 0px);
  @include mut.rem-margined($top: 20px, $right: 0px, $bottom: 10px, $left: 0px);
}
@media screen and (max-width: 1300px) {
  .blockCentering {
    width: 100%;
    .headerContainer {
      @include mut.rem-margined($top: 20px, $right: 40px, $bottom: 10px, $left: 7px);
    }
  }
}

@media screen and (max-width: 1110px) {
  .blockCentering {
    width: 100%;
    .headerContainer {
      @include mut.rem-margined($top: 20px, $right: 15px, $bottom: 10px, $left: 0px);
    }
    .teaserBlock {
      margin-right: f.pxToRem(30px);
    }
    .rightSider{
      margin-top: f.pxToRem(0px);
      align-self: center;
    }
    .cardFooter{
      @include mut.rem-padded(18px, 0px, 10px, 0px);
      gap: f.pxToRem(10px);
      .audioBtn {
        @include mut.sized(255px, 73px);
        @include mut.flex-centered();
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  .blockCentering {

    .headerContainer {
      @include mut.rem-margined($top: 0px, $right: 10px, $bottom: 0px, $left: 21px);
    }

    .teaserBlock {
      line-height: f.pxToRem(19px);
      max-height: f.pxToRem(214px);
      @include mut.with-font($font-weight: 300, $font-size: 16px);
    }

    .card {
      width: 100%;
      height: unset;
      background-color: rgba(0, 0, 0, 0) !important;
      .leftSider {
        @include mut.sized(360px, 489px);
        flex: 0 0 f.pxToRem(360px);
        .leftSiderContent {
          background-color: c.$accented-gray-color;
          @include mut.border(c.$pure-white-color,10px,solid);
        }
      }

      .streetcodeIndex {
        @include mut.rem-padded(8px, 10px, 0px, 0px);
        @include mut.with-font($font-weight: 300, $font-size: 15px);
      }

      .streetcodeTitle {
        @include mut.rem-padded(0px, 10px, 0px, 0px);
        @include mut.with-font($font-weight: 500, $font-size: 32px);
        @include mut.withLineHeight(42px);
      }

      .streetcodeDate {
        @include mut.rem-padded(0px, 10px, 0px, 0px);
        @include mut.with-font(ft.$closer-text-font, $font-weight: 400, $font-size: 20px);
        @include mut.withLineHeight(23px);
      }

      .streetcodeImg {
        @include mut.sized(290px, 377px);
      }

      .cardFooter {
        bottom: f.pxToRem(10px);

        .animateFigureBtn {

          @include mut.hidden();
        }

        .audioBtn {
          @include mut.with-font($font-weight: 400, $font-size: 14px);
          @include mut.sized(95%, 46px);

          .playCircle {
            font-size: f.pxToRem(23px);
            margin-right: f.pxToRem(10px);
          }
        }
      }


    }
  }
}

@media screen and (max-width: 660px) {
  .blockCentering{
    .card{
      width: 100%;
      height: unset ;
     // @include mut.flexed(row, center, center, wrap);
      .rightSider {
        width: 100%;
        height: unset ;
      }

      .teaserBlock {
        max-height: f.pxToRem(240px);
        
      }
      .headerContainer{
        @include mut.rem-margined($top: 40px, $right: 10px, $bottom: 0px, $left: 10px);
      }
    }
  }
}