@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.top-carousel {
  @include mut.rem-padded($top: 82px);

  .carousel-image {
      width: 100%;
      height: f.pxToRem(737px);
  }

  .slick-dots li button {
    @include mut.sized(12px, 12px);
  }

  .slick-dots {
    bottom: f.pxToRem(30px);;
    top: auto;
  }

  .slick-dots li {
    margin: 0 f.pxToRem(8px);
  }

  @media screen and (min-width: 1800px) {
    .carousel-image {
      height: f.pxToRem(830px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .top-carousel {
    @include mut.rem-padded($top: 64px);
  }
}