@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;

.ant-carousel .slick-dots li.slick-active {
  width: none;
}

.top-carousel {
  @include mut.rem-padded($top: 82px);

  .carousel-image {
    width: 100%;
    height: f.pxToRem(737px);
  }

  .slick-dots li button {
    @include mut.sized(12px, 12px);
    background: c.$slider-base-dot-color;

    @media screen and (min-width: 481px) {

      &::after,
      &::before {
        background: c.$pure-white-color;
        inset: 0px;
      }
    }

    @media screen and (max-width: 480px) {
      opacity: 1;
    }
  }

  .slick-dots {
    bottom: f.pxToRem(30px);
    ;
    top: auto;
  }

  .slick-dots li {
    margin: 0 f.pxToRem(8px);
  }

  @media screen and (max-width: 480px) {
    .carousel-image {
      height: auto;

    }

    .slick-dots {
      bottom: f.pxToRem(-20px);
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    .carousel-image {
      height: auto;
    }
  }

  @media screen and (min-width: 1800px) {
    .carousel-image {
      height: f.pxToRem(830px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .top-carousel {
    @include mut.rem-padded($top: 64px);
  }
}