@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.star{
    display: inline-block;
    margin-inline-end: f.pxToRem(4px);
    color: c.$ant-menu-text-color;
    font-size: f.pxToRem(18px);
    font-family: SimSun,sans-serif;
    line-height: 1;
}
.required-text{
    cursor: default;
    margin-bottom: f.pxToRem(10px);
  }
.form-text{
    color: c.$ant-menu-text-color;
    margin-bottom: f.pxToRem(5px);
}
.ant-picker{
    height: 43.33px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.image-form-item{
    margin-top: f.pxToRem(25px);
}