@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as f;

.relatedFigureSlide {
    width: pxToRem(278px);
    height: pxToRem(380px);

    box-sizing: border-box;
    border: 3px solid c.$pure-white-color;
    border-radius: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    display: flex;
    justify-content: center;

    cursor: pointer;

    .slideText {
        width: 272px;
        height: 68px;

        background-color: c.$dark-red-color;

        display: flex;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;

        position: absolute;
        top: 286px;
        z-index: 0;

        .heading {
            width: 100%;
            height: 64px;

            text-align: left;
            color: c.$pure-white-color;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;

            display: flex;
            align-items: center;
            padding-left: 32.06px;
            padding-right: 15.37px;
        }

        .tagList{
            width: 100%;
            visibility: hidden;

            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-left: 32.06px;
            padding-right: 15.37px;
            gap: 5px;

            .tag {
                width: auto;
                height: 38px;
                border-radius: 11px;
                padding: 9px 12px 9px 12px;
    
    
                background-color: c.$dark-red-color;
                border: 2px solid c.$pure-white-color;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                z-index: 1;
    
                p {
                    width: auto;
                    height: 20px;
    
                    font-family: f.$roboto-font;
                    font-style: normal;
                    text-align: center;
                    color: c.$pure-white-color;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 135.69%;
                }
            }
        }
    }
}

.relatedFigureSlide:hover {
    height: 452px;

    .slideText{
        height: 169px;

        border-radius: 0 0 30px 30px;

        align-items: flex-start;

        position: inherit;
        top: 0;
        align-self: flex-end;

        .heading{
            padding-top: 6px;
        }

        .tagList{
            visibility: visible;
        }
    }
}