@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/_utils.functions.scss" as *;
@use "@assets/sass/variables/_variables.fonts.scss" as f;

.relatedFigureSlide {
    width: pxToRem(278px);
    height: pxToRem(380px);

    box-sizing: border-box;
    border: 3px solid c.$pure-white-color;
    border-radius: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    display: flex;
    justify-content: center;

    cursor: pointer;

    .slideText {
        width: 272px;
        height: 68px;

        background-color: c.$dark-red-color;

        display: flex;
        align-items: center;

        position: absolute;
        top: 286px;

        .heading {
            width: 100%;
            height: 64px;

            text-align: left;
            color: c.$pure-white-color;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;

            display: flex;
            align-items: center;
            padding-left: 32.06px;
            padding-right: 15.37px;
        }
    }
}

.relatedFigureSlide:hover {
    height: 452px;

    .slideText{
        height: 169px;

        border-radius: 0 0 30px 30px;

        align-items: flex-start;

        position: inherit;
        top: 0;
        align-self: flex-end;
    }

    .heading{
        padding-top: 6px;
    }
}