@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

$bgImg: '@assets/images/streetcode-card/background.png';

.margin-82px {
  margin-top: f.pxToRem(82px);
}

.blockCentering {
  @include mut.flex-centered();
}

.bgr {
  @include mut.bg-image($bgImg);
}

.mainContainer {
  width: f.pxToRem(1300px);
  position: relative;
}

.mainContent {
  width: f.pxToRem(1300px);
  @include mut.flex-centered();
  margin-top: f.pxToRem(34px);
  padding-top: f.pxToRem(37px);
}

@media screen and  (max-width: 1300px) {
  .mainContainer{
    width: 100%
  }
  .mainContent {
   width: 100%;;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer{
    height: unset;
  }
  .mainContent {
    height: unset;
  }
}