@use "@assets/sass/_utils.functions.scss" as f;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.sizes.scss" as s;

.teamMemberListContainer {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: f.pxToRem(30px);

    .teamMemberCardContainer {
        display: flex;
        justify-content: center;
        //width: calc(25% - 20px);
    }
}
