@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/variables/_variables.fonts.scss" as ft;

@mixin cardText(
    $title-max-lines: 2,
    $text-max-lines: 6,
){
    .cardTextContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        color: c.$lighter-black-color;
        padding: 0 pxToRem(15px);

        &TopPart{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: pxToRem(8px);
        }

        &Title{
            color: c.$lighter-black-color;
            @include mut.truncated($line-num: $title-max-lines);
        }

        &SubTitle{
            color: c.$sliders-text-grey-color;
            @include mut.truncated($line-num: 2);

        }

        &Text{
            @include mut.truncated($line-num: $text-max-lines);
        }

        &Button{
            @include mut.truncated($line-num: 1);
            color: c.$dark-red-color;
            width: max-content;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }

            @media screen and (max-width: 1024px) {
                text-decoration: underline;
            }
        }
    }
}

@include cardText();
