@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/variables/_variables.colors.scss" as c;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/mixins/_vendor.mixins.scss" as vnd;
@use "@sass/_utils.functions.scss" as f;
@import 'react-toastify/dist/ReactToastify.css';

$bgImg: '@assets/images/main-page/background.png';

.mainPageContainer {
    background: url($bgImg) no-repeat top / 100%;

    width: 100%;
}

.sticky {
    position: sticky;
    display: flex;
    z-index: 4;
    bottom: f.pxToRem(50px);
    justify-content: flex-end;
}

.sticky-content {
    position: absolute;
    bottom: f.pxToRem(5px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: f.pxToRem(10px);
}

.dimmed {
    @include mut.sized(100%, 5875px);
}