@use "@assets/sass/variables/_variables.fonts.scss" as ft;
@use "@assets/sass/_utils.functions.scss" as f;
@use "@assets/sass/mixins/_utils.mixins.scss" as mut;
@use "@assets/sass/variables/_variables.colors.scss" as c;

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.partner-button{
    border-color:c.$accented-red-color ;
    color: c.$pure-white-color;
    background-color: c.$accented-red-color;

    &:hover{
        background-color: c.$dark-red-color;
        transition: 0.5s;
    }
 }

