@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.mapBlockContainerr{
    display: flex;
    gap: f.pxToRem(10px);
    max-height: 1600px;
    @include mut.positioned-as(relative);
}
