@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.editAvatar{
  height: 100%;
  .ant-upload-list-item-container,
  .ant-upload-list-item-done,
  .ant-upload-list-item,
  .ant-upload-select,
  {
    @include mut.sizedImportant(256px, 340px);
  }


}
.ant-upload-list-item{
  .ant-upload-list-item-thumbnail img {
    object-fit: cover !important;
  }
}

.modalEditContainer {
  .ant-modal-title{
    text-align: center;
    @include mut.with-font(
    $font-family: ft.$roboto-font,
    $font-weight: 500,
    $font-size: 24px,
    $font-style: ft.$roboto-font-style);
  }
  .editFormWrapper{
    @include mut.flexed(
    row,
    $justify-content: center,
    $align-items: flex-start,
    $gap: 51px);
    .editFormImageWrapper{
      @include mut.sizedImportant(256px, 584px);
      @include mut.flexed(column, $align-items: center,
      $justify-content: flex-start,
      $gap: 25px);
      .ant-form-item{
        @include mut.rem-margined(0, 0, 0, 0);
      }

      .ant-form-item-explain-error,
      .formatText{
        text-align: center;
      }

      .imageButtonWrapper{
        @include mut.flexed(column, $align-items: center, $gap: 16px);
        @include mut.sized(100%, auto);

        .editImageButton,
        .removeImageButton{
          span{
            height: auto;
          }
          @include mut.with-font(
                  $font-family: ft.$roboto-font,
                  $font-weight: 500,
                  $font-size: 20px);
          @include mut.sized(100%, 53px);
          @include mut.rem-padded(0, 24px, 0, 24px);
          @include mut.full-rounded(14px);
        }

        .editImageButton{
          &:hover{
            background-color: c.$dark-red-color;
            border-color: initial;
          }

          &:disabled{
            @include mut.colored(c.$normal-gray-color, c.$white-color);
            @include mut.border($color:c.$normal-gray-color, $border-width:2px, $type:solid);
          }

          @include mut.colored(c.$white-color, c.$accented-red-color);
        }

        .removeImageButton{
          &:disabled{
            @include mut.colored(c.$normal-gray-color, c.$white-color);
            @include mut.border($color:c.$normal-gray-color, $border-width:2px, $type:solid);
          }

          @include mut.border($color:c.$accented-red-color, $border-width:2px, $type:solid);
          @include mut.colored(c.$accented-red-color, c.$white-color);
        }
      }
    }

    .editFormUserInfoWrapper{
      @include mut.sizedImportant(489px, auto);

      .formItemFirst{
        .ant-form-item{
          @include mut.rem-margined(0, 0, 0, 0);
        }
      }

      .ant-form-item{
        @include mut.rem-margined(8px, 0, 0, 0);
        .ant-form-item-label{
          @include mut.rem-padded(0, 0, 0, 0)
        }
      }

      .formItem{
        .ant-form-item-control{
          .ant-form-item-control-input{
            .ant-form-item-control-input-content{
              .ant-phone-input-wrapper{
                .ant-input-group-wrapper{
                  .ant-input-wrapper{
                    #phoneNumber{
                      @include mut.sized(100%, 44px);
                    }
                  }
                }
              }
              #email{
                @include mut.sized(100%, 44px);
              }
            }
          }
        }
      }

      .formItem {
        .ant-form-item-control {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              .ant-input-affix-wrapper,
              .ant-select-selector {
                @include mut.sized(100%, 44px)
              }
            }
          }
        }
      }
      .areaTextInput{
        .ant-input{
          max-height: f.pxToEm(350px);
          min-height: f.pxToEm(350px);
        }
      }
    }
  }

  &.ant-modal {
    @include mut.sizedImportant(886px, auto);

    .ant-modal-close {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include mut.positioned-as(absolute, $right: -33px, $top: -33px);
      @include mut.circular(80px, c.$white-color);
      @include mut.colored($color: c.$light-border-color);
      @include mut.sized(101px, 101px);
      svg{
        @include mut.sized(36px, 36px);
      }

      &:hover {
        background-color: c.$accented-gray-color;
      }
    }

    .ant-modal-content {
      @include mut.full-rounded(50px, $overflow: visible);
      padding: f.pxToRem(40px);
      @include mut.sized(886px, auto);
      @include mut.flexed(
              column,
              $justify-content: center,
              $align-items: center,
              $gap: 51px);

      .center{
        display: flex;
        justify-content: center;
      }
      h2{
        padding-bottom: pxToRem(20px);
        font-size: 1.7em;
        font-weight: 500;
      }

      .ant-select:focus,
      .ant-input:focus,
      .ant-input:hover,
      .ant-picker:hover,
      .ant-input-focused,
      .ant-select-focused,
      .ant-picker-focused{
        border-color: c.$accented-red-color;
        box-shadow: none !important;
      }

      .ant-picker{
        display: flex;
      }
      .ant-select-selector,
      .ant-input-affix-wrapper,
      .ant-input-number {
        @include mut.with-font($font-size: 16px);
        outline:none ;
        box-shadow:none !important;

        &:hover{
          border-color: c.$accented-red-color;
        }

        &:focus-within {
          border-color: c.$accented-red-color;
          box-shadow: none;
        }
      }

      .formItem{
        label{
          color: c.$darkish-gray-color;
        }
      }


      .ant-form-item-control{
        .ant-form-item-explain{
          text-align: start;
        }
      }

      .ant-checkbox-inner {
        width: f.pxToRem(25px) !important;
        height: f.pxToRem(25px) !important;
        border: f.pxToRem(3px) solid #7E7E7E !important;
        border-radius: 0  !important;
      }
      .deleteUser,
      .saveButton{
        @include mut.rem-margined(25px, 0, 0, 0);
        @include mut.flexed(row, $justify-content: center);


        button:hover{
          background-color: c.$dark-red-color;
          border-color: initial;
        }
        .ant-btn{
          @include mut.colored(c.$white-color, c.$accented-red-color);
          @include mut.rem-padded(0, 24px, 0, 24px);
          @include mut.full-rounded(14px);
          @include mut.with-font(
                  $font-family: ft.$roboto-font,
                  $font-weight: 500,
                  $font-size: 20px);
        }
      }
      .saveButton{
        .ant-btn{
          @include mut.sizedImportant(279px, 53px);
        }
      }
      .deleteUser{
        .ant-btn{
          @include mut.sizedImportant(221px, 53px);
        }
      }
      .lineSeparator{
        @include mut.sizedImportant(100%, 1px);
        @include mut.border(c.$accented-gray-color, 1px, solid);
        @include mut.rem-margined(25px, 0, 25px, 0)
      }
      .deleteUserText{
        @include mut.flexed(column, $gap: 10px);
        @include mut.with-font($font-family: ft.$roboto-font, $font-size: 16px);
        text-align: start;
        ul{
          margin-left: f.pxToEm(20px);
          list-style: inside;
        }
        .boldText{
          font-weight: 700;
        }
        .mainText{
          @include mut.flexed(column);
          @include mut.with-font($font-size: 16px);
        }
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner {
          border: 3px solid #DB3424 !important;
        }
      }
      .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner::after {
        opacity: 0;
      }

      .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
        background: red !important;
        box-shadow: inset 0 0 0 2px white !important;
      }
    }
  }
}

.modalDeleteContainer{
  @include mut.sizedImportant(835px, auto);
  .ant-modal-content{
    position: static;
    @include mut.rem-padded(40px, 40px, 40px, 40px);
  }
  .boldText{
    font-weight: 700;
  }
  .deleteText{
    @include mut.flexed(column, $gap: 10px);
    @include mut.with-font($font-family: ft.$roboto-font, $font-size: 16px);
    text-align: start;
    ul{
      margin-left: f.pxToEm(20px);
      list-style: inside;
    }
    .boldText{
      font-weight: 700;
    }
    .mainDeleteText{
      @include mut.flexed(column);
      @include mut.with-font($font-size: 16px);
    }
  }

  .ant-form-item-control{
    .ant-form-item-control-input{
      .ant-form-item-control-input-content{
        .ant-input{
          @include mut.sized(100%, 44px)
        }
      }
    }
  }

  .ant-form-item-label{
    label{
      color: c.$darkish-gray-color;
    }
  }

  &.ant-modal {
    .ant-modal-close {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include mut.positioned-as(absolute, $right: -33px, $top: -33px);
      @include mut.circular(80px, c.$white-color);
      @include mut.colored($color: c.$light-border-color);
      @include mut.sized(101px, 101px);
      z-index: 9999999;
      svg{
        @include mut.sized(36px, 36px);
      }

      &:hover {
        background-color: c.$accented-gray-color;
      }
    }
  }

  .ant-modal-content{
    @include mut.full-rounded(50px);
    @include mut.flexed(column, $align-items: center);
    .ant-modal-header{
      @include mut.rem-margined(0, 0, 25px, 0);
      .ant-modal-title{
        @include mut.with-font($font-family: ft.$roboto-font,
        $font-weight: 500,
        $font-size: 24px,
        $font-style: ft.$roboto-font-style)
      }
    }
    .deleteModalFormWrapper{
      .ant-form-item{
        @include mut.rem-margined(25px, 0, 0, 0);
        .ant-form-item-label{
          @include mut.rem-padded(0, 0, 0, 0);
          @include mut.colored();
        }
      }
      .confirmDeleteButton{
        @include mut.rem-margined(25px, 0, 0, 0);
        @include mut.flexed(row, $justify-content: center);
        button:hover{
          background-color: c.$dark-red-color;
          border-color: initial;
        }

        .ant-btn{
          @include mut.sizedImportant(221px, 53px);
          @include mut.colored(c.$white-color, c.$accented-red-color);
          @include mut.rem-padded(0, 24px, 0, 24px);
          @include mut.full-rounded(14px);
          @include mut.with-font(
                  $font-family: ft.$roboto-font,
                  $font-weight: 500,
                  $font-size: 20px);
        }
      }
    }
  }
}
