@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.editAvatar{
  height: 100%;

  .ant-upload-list-item-container,
  .ant-upload-list-item-done,
  .ant-upload-list-item,
  .ant-upload-select,
  {
    @include mut.sizedImportant(256px, 340px);
  }
}

.ant-upload-list-item{
  .ant-upload-list-item-thumbnail img {
    object-fit: cover !important;
  }
}

.modalEditContainer {

  .ant-modal-title{
    text-align: center;
    @include mut.with-font(
    $font-family: ft.$roboto-font,
    $font-weight: 500,
    $font-size: 24px,
    $font-style: ft.$roboto-font-style);
  }

  .editFormWrapper{
    @include mut.flexed(
      row,
      $justify-content: flex-start,
      $align-items: flex-start,
      $gap: 51px
    );
    flex-wrap: wrap;

    .editFormImageWrapper{
      @include mut.sizedImportant(240px, 507px);
      @include mut.flexed(
        column,
        $align-items: center,
        $justify-content: flex-start,
      );

      .ant-form-item{
        @include mut.rem-margined(0, 0, 0, 0);
      }

      .ant-upload, .ant-upload-wrapper, .ant-upload-list {
        @include mut.sizedImportant(240px, 320px);
      }

      .ant-upload-list:has(.ant-upload-list-item-container){
        .ant-upload-animate-inline-leave,
        .ant-upload{
          display: none;
        }
      }

      .ant-form-item-explain-error,
      .formatText{
        text-align: center;
        margin: 10px 0 25px;
      }

      .imageButtonWrapper{
        @include mut.flexed(column, $align-items: center, $gap: 10px);
        @include mut.sized(100%, auto);

        .editImageButton,
        .removeImageButton{
          span{
            height: auto;
          }
          @include mut.with-font(
            $font-family: ft.$roboto-font,
            $font-weight: 500,
            $font-size: 20px
          );
          @include mut.sized(100%, 53px);
          @include mut.rem-padded(0, 24px, 0, 24px);
          @include mut.full-rounded(14px);
        }

        .editImageButton{
          &:hover{
            background-color: c.$dark-red-color;
            border-color: initial;
          }

          &:disabled{
            @include mut.colored(c.$normal-gray-color, c.$white-color);
            @include mut.border($color:c.$normal-gray-color, $border-width:2px, $type:solid);
          }

          @include mut.colored(c.$white-color, c.$accented-red-color);
        }

        .removeImageButton{
          &:disabled{
            @include mut.colored(c.$normal-gray-color, c.$white-color);
            @include mut.border($color:c.$normal-gray-color, $border-width:2px, $type:solid);
          }

          @include mut.border($color:c.$accented-red-color, $border-width:2px, $type:solid);
          @include mut.colored(c.$accented-red-color, c.$white-color);
        }
      }
    }

    .editFormUserInfoWrapper{
      @include mut.sizedImportant(431px, auto);

      .formItemFirst{
        .ant-form-item{
          @include mut.rem-margined(0, 0, 0, 0);
        }
      }

      .ant-form-item{
        @include mut.rem-margined(15px, 0, 0, 0);

        .ant-form-item-label{
          @include mut.rem-padded(0, 0, 0, 0)
        }
      }

      .phoneExample{
        margin-top: f.pxToRem(5px);
      }

      .formItem{
        .ant-form-item-control{
          .ant-form-item-control-input{
            .ant-form-item-control-input-content{
              .ant-input-affix-wrapper,
              .ant-select-selector {
                @include mut.sized(100%, 44px)
              }

              .ant-phone-input-wrapper{
                .ant-input-group-wrapper{
                  .ant-input-wrapper{

                    #phoneNumber{
                      @include mut.sized(100%, 44px);
                    }

                  }
                }
              }
              #email{
                @include mut.sized(100%, 44px);
              }
            }
          }
        }
      }
    }
  }

  .editAboutYourselfWrapper{
    margin-top: 15px;

    label {
      color: c.$label-light-grey-color;
    }

    .areaTextInput {
      textarea {
        color: c.$lighter-black-color;
      }
    }
  }

  &.ant-modal {
    @include mut.sizedImportant(812px, auto);

    .ant-modal-close {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      @include mut.positioned-as(absolute, $right: -33px, $top: -33px);
      @include mut.circular(80px, c.$white-color);
      @include mut.colored($color: c.$light-border-color);
      @include mut.sized(101px, 101px);

      svg{
        @include mut.sized(36px, 36px);
      }

      &:hover {
        background-color: c.$accented-gray-color;
      }
    }

    .ant-modal-content {
      @include mut.full-rounded(50px, $overflow: visible);
      padding: f.pxToRem(40px);
      @include mut.sized(812px, auto);
      @include mut.flexed(
        column,
        $justify-content: center,
        $align-items: center,
        $gap: 22px
      );

      .ant-modal-header {
        margin-bottom: 0;
      }

      .center{
        display: flex;
        justify-content: center;
      }

      h2{
        padding-bottom: pxToRem(20px);
        font-size: 1.7em;
        font-weight: 500;
      }

      .ant-select:focus,
      .ant-input:focus,
      .ant-input:hover,
      .ant-picker:hover,
      .ant-input-focused,
      .ant-select-focused,
      .ant-picker-focused{
        border-color: c.$accented-red-color;
        box-shadow: none !important;
      }

      .ant-picker{
        display: flex;
      }

      .ant-select-selector,
      .ant-input-affix-wrapper,
      .ant-input-number {
        @include mut.with-font($font-size: 16px);
        outline:none ;
        box-shadow:none !important;

        &:hover{
          border-color: c.$accented-red-color;
        }

        &:focus-within {
          border-color: c.$accented-red-color;
          box-shadow: none;
        }
      }

      .formItem{
        label{
          color: c.$label-light-grey-color;
        }
      }

      .ant-form-item-control{
        .ant-form-item-explain{
          text-align: start;
        }
      }

      .ant-checkbox-inner {
        width: f.pxToRem(25px) !important;
        height: f.pxToRem(25px) !important;
        border: f.pxToRem(3px) solid #7E7E7E !important;
        border-radius: 0  !important;
      }

      .deleteUser,
      .saveButton{
        @include mut.rem-margined(25px, 0, 0, 0);
        @include mut.flexed(row, $justify-content: center);


        button:hover{
          background-color: c.$dark-red-color;
          border-color: initial;
        }

        .ant-btn{
          @include mut.colored(c.$white-color, c.$accented-red-color);
          @include mut.rem-padded(0, 24px, 0, 24px);
          @include mut.full-rounded(14px);
          @include mut.with-font(
            $font-family: ft.$roboto-font,
            $font-weight: 500,
            $font-size: 20px
          );

          &[disabled]{
            pointer-events: none;
          }
          &:disabled{
            background-color: c.$lighter-gray-color;
            border-color: c.$lighter-gray-color;
          }
        }
      }

      .saveButton{
        .ant-btn{
          @include mut.sizedImportant(193px, 53px);
        }
      }

      .deleteUser{
        .ant-btn{
          @include mut.sizedImportant(221px, 53px);
        }
      }

      .lineSeparator{
        @include mut.sizedImportant(100%, 1px);
        @include mut.border(c.$accented-gray-color, 1px, solid);
        @include mut.rem-margined(25px, 0, 25px, 0)
      }

      .deleteUserText{
        @include mut.flexed(column, $gap: 10px);
        @include mut.with-font($font-family: ft.$roboto-font, $font-size: 16px);
        text-align: start;

        ul{
          margin-left: f.pxToEm(20px);
          list-style: inside;
        }

        .boldText{
          font-weight: 700;
        }

        .mainText{
          @include mut.flexed(column);
          @include mut.with-font($font-size: 16px);
        }
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner {
          border: 3px solid #DB3424 !important;
        }
      }

      .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner::after {
        opacity: 0;
      }

      .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
        background: red !important;
        box-shadow: inset 0 0 0 2px white !important;
      }
    }
  }
}